<a href="https://colab.research.google.com/github/sasansharee/Sasan_MMA_Projects/blob/main/Auto_Scout_Project_Original_Method_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_json('/content/scout_car (1).json', lines=True)
df.shape

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df_new = df.drop('kW', axis = 1)

In [ ]:
df_new.info()

In [ ]:
df_new.head(5)

In [ ]:
df_new['km'].str.count('km').sum()

In [ ]:
df_new['km'] = df_new['km'].str.replace('km', '')

In [ ]:
df_new['km'].str.count('km').sum()

In [ ]:
df_new['Mileage (km)'] = df_new['km']

In [ ]:
df_new.drop('km', axis =1, inplace = True)

In [ ]:
df_new.head(5)

In [ ]:
df_new['hp'].str.count('kW').sum()

In [ ]:
df_new['hp'] = df_new['hp'].str.replace('kW', '')

In [ ]:
df_new['hp (kW)'] = df_new['hp']

In [ ]:
df_new.drop('hp', axis =1, inplace = True)

In [ ]:
df_new.head(5)

In [ ]:
df_new.index

In [ ]:
df_new.info()

In [ ]:
df_new1 = df_new.dropna(subset = ['short_description', 'body_type', 'Type'], axis = 0)

In [ ]:
df_new1.index

In [ ]:
df_new1.info()

In [ ]:
df_new1.isnull().sum()

In [ ]:
df_new1.head(5)

In [ ]:
np.unique(df_new1['make_model'])

In [ ]:
df_new1[['make', 'model']] = df_new1['make_model'].str.split(' ', expand = True)

In [ ]:
df_new2 = df_new1.drop('make_model', axis = 1)

In [ ]:
df_new2.head(5)

In [ ]:
df_new2['vat'].unique()

In [ ]:
df_new2['registration'].unique()

In [ ]:
df_new2['registration'].str.count('-/-').sum()

In [ ]:
df_new3 = df_new2.replace({'registration': {'-/-': np.nan}})

In [ ]:
df_new3['registration'].unique()

In [ ]:
df_new3['registration'] = pd.to_datetime(df_new3['registration'], format = '%m/%Y').dt.to_period('M')

In [ ]:
df_new3['prev_owner'].unique()

In [ ]:
df_new3[['Previous Owners', 'prev_owner']].head(20)

In [ ]:
df_new3['Previous Owners'].value_counts()

In [ ]:
df_new4 = df_new3[df_new3['Previous Owners'].isin(['\n0\n', '\n1\n', '\n2\n', '\n3\n', '\n4\n', np.nan])]

In [ ]:
df_new4.info()

In [ ]:
df_new4['Previous Owners'].unique()

In [ ]:
df_new4['Previous Owners'] = df_new4['Previous Owners'].apply(lambda x: int(x.strip()) if isinstance(x, str) else x)

In [ ]:
df_new4['Previous Owners']

In [ ]:
df_new4['prev_owner'].unique()

In [ ]:
df_new4['prev_owner'] = df_new4['prev_owner'].apply(lambda x: x.split(' ')[0] if isinstance(x, str) else x)

In [ ]:
df_new4[['prev_owner', 'Previous Owners']]

In [ ]:
df_new5= df_new4.replace({'prev_owner': {'None': np.nan}})

In [ ]:
df_new5['prev_owner'] = df_new5['prev_owner'].astype('Int64')

In [ ]:
df_new5['Previous Owners'] = df_new5['Previous Owners'].astype('Int64')

In [ ]:
df_new5[['prev_owner', 'Previous Owners']].info()

In [ ]:
df_new5['Equal'] = df_new5['prev_owner'] == df_new5['Previous Owners']

In [ ]:
df_new5['Equal'].value_counts()

In [ ]:
df_new5[df_new5['Equal'] == False]

In [ ]:
df_new6 =df_new5.drop(['prev_owner', 'Equal'], axis = 1)

In [ ]:
df_new6['Type'].value_counts()

In [ ]:
df_new6['Vehicle Type'] = df_new6['Type'].apply(lambda x: x[1])

In [ ]:
df_new6['Fuel Type'] = df_new6['Type'].apply(lambda x: x[3])

In [ ]:
df_new7 = df_new6.drop('Type', axis = 1)

In [ ]:
df_new7.index

In [ ]:
df_new7["Next Inspection"].value_counts()

In [ ]:
df_new7['Next Inspection'].isnull().sum()

In [ ]:
df_new7['Next Inspection'].head(50)

In [ ]:
date = []
for sublist in df_new7['Next Inspection']:
  if isinstance(sublist, list):
    date.append(sublist[0])
  elif isinstance(sublist, str):
    date.append(sublist.split()[0])
  else:
    date.append(np.nan)
date[:31]

In [ ]:
for i in range(len(date)):
  if isinstance(date[i], str):
    date[i] = date[i].strip().replace('/', '-')
new_date = pd.to_datetime(date, format = '%m-%Y').to_period('M')
new_date

In [ ]:
len(df_new7['Next Inspection']), len(new_date)

In [ ]:
df_new7['Next Inspection Date'] = new_date

In [ ]:
df_new7['Next Inspection Date'].head(40)

In [ ]:
df_new7['Inspection new'].value_counts()

In [ ]:
df_new7['Inspection new'].info()

In [ ]:
my_list = []
for sublist in df_new7['Inspection new']:
  if isinstance(sublist, list):
    my_list.append(len(sublist))
print(len(my_list), np.unique(my_list))
my_list.count(1), my_list.count(2), my_list.count(6), my_list.count(8)

In [ ]:
list_0 = []
list_1 = []
list_2 = []
list_3 = []
list_4 = []
list_5 = []
list_6 = []
list_7 = []
list_8 = []
for index, sublist in df_new7['Inspection new'].items():
  if isinstance(sublist, list):
    list_8.append((index,sublist[0]))
    if len(sublist) == 1:
      list_1.append((index, sublist[0]))
    if len(sublist) == 2:
      list_2.append((index, sublist[1]))
    if len(sublist) == 6:
      list_3.append((index, sublist[2]))
      list_4.append((index, sublist[4])) # it gives \n, I tried for all the other positions too. Seems the list only has [0] and [2] items and the rest is empty
    if len(sublist) == 8:
      list_5.append((index, sublist[2]))
      list_6.append((index, sublist[4]))
      list_7.append((index, sublist[6]))
  if isinstance(sublist, str):
    list_0.append((index, sublist.split()[0]))
    list_8.append((index, sublist.split()[0]))

print(len(list_0), len(list_1), len(list_8) , len(list_2), len(list_3), len(list_4), len(list_5), len(list_6), len(list_7))
# number of strings 361
# number of list 3432
# total non-null 3793 which is 3432 + 361
# list_0, list_1, and list_8 is all 'Yes'
#list_2, list_3, list_5 are comb
#list_4 is empty
#list_6 is city
#list_7 is country

In [ ]:
list_8 = [(index, value.strip()) for index, value in list_8]
list_2 = [(index, value.strip()) for index, value in list_2]
list_3 = [(index, value.strip()) for index, value in list_3]
list_5 = [(index, value.strip()) for index, value in list_5]
list_6 = [(index, value.strip()) for index, value in list_6]
list_7 = [(index, value.strip()) for index, value in list_7]

In [ ]:
df_new7['Inspection new done'] = None
df_new7['Inspection new comb'] = None
df_new7['Inspection new city'] = None
df_new7['Inspection new country'] = None

for index, value in list_8:
  df_new7.at[index, 'Inspection new done'] = value
for index, value in list_2:
  df_new7.at[index, 'Inspection new comb'] = value
for index, value in list_3:
  df_new7.at[index, 'Inspection new comb'] = value
for index, value in list_5:
  df_new7.at[index, 'Inspection new comb'] = value
for index, value in list_6:
  df_new7.at[index, 'Inspection new city'] = value
for index, value in list_7:
  df_new7.at[index, 'Inspection new country'] = value

df_new7[['Inspection new', 'Inspection new done', 'Inspection new comb', 'Inspection new city', 'Inspection new country']].head(50)

In [ ]:
df_new7['Warranty'].value_counts()

In [ ]:
df_new7['Warranty'].info()

In [ ]:
my_list_1 = []
my_list_2 = []
my_list_3 = []
for sublist in df_new7['Warranty']:
  if isinstance(sublist, list):
    my_list_1.append(len(sublist))
    my_list_3.append(sublist[0])
  if isinstance(sublist, str):
    my_list_2.append(sublist.strip())
    my_list_3.append(sublist.strip())
print(len(my_list_1), np.unique(my_list_1), len(my_list_2), len(my_list_3))
my_list_1.count(1), my_list_1.count(2), my_list_1.count(3), my_list_1.count(6), my_list_1.count(8), my_list_1.count(9)

In [ ]:
warr_list = []
for index, sublist in df_new7['Warranty'].items():
  if isinstance(sublist, list):
    warr_list.append((index, sublist[0]))
  if isinstance(sublist, str):
    warr_list.append((index, sublist))
len(warr_list), warr_list[:20]

In [ ]:
df_new7['Warranty Time'] = None
for index, value in warr_list:
  df_new7.at[index, 'Warranty Time'] = value
df_new7['Warranty Time'] = df_new7['Warranty Time'].replace({'\n': None})
df_new7['Warranty Time'] = df_new7['Warranty Time'].str.strip()
df_new7[['Warranty Time', 'Warranty']].head(50)

In [ ]:
my_list_4 = []
my_list_5 = []
my_list_6 = []
my_list_7 = []
my_list_8 = []
my_list_9 = []
my_list_10 = []
my_list_11 = []
my_list_12 = []
my_list_13 = []
my_list_14 = []
my_list_15 = []

for index, sublist in df_new7['Warranty'].items():
  if isinstance(sublist, list):
    if len(sublist) == 1:
      my_list_4.append((index, sublist[0]))
    if len(sublist) == 2:
      my_list_5.append((index, sublist[1]))
    if len(sublist) >=3:
      sublist = [item for item in sublist if item.strip() != '']
      if len(sublist) == 1:
        my_list_6.append((index, sublist[0]))
      if len(sublist) == 2:
        my_list_7.append((index, sublist[0]))
        my_list_8.append((index, sublist[1]))
      if len(sublist) == 3:
        my_list_9.append((index, sublist[0]))
        my_list_10.append((index, sublist[1]))
        my_list_11.append((index, sublist[2]))
      if len(sublist) == 4:
        my_list_12.append((index, sublist[0]))
        my_list_13.append((index, sublist[1]))
        my_list_14.append((index, sublist[2]))
        my_list_15.append((index, sublist[3]))

In [ ]:
my_list_15

In [ ]:
len(my_list_4), len(my_list_5), len(my_list_6), len(my_list_7), len(my_list_8), len(my_list_9), len(my_list_10), len(my_list_11), len(my_list_12), len(my_list_13), len(my_list_14), len(my_list_15)

In [ ]:
df_new7['Warranty Type_1'] = None
df_new7['Warranty Type_2'] = None
df_new7['Warranty Type_3'] = None
df_new7['Warranty Type_4'] = None
df_new7['Warranty Type_5'] = None
df_new7['Warranty Type_6'] = None
df_new7['Warranty Type_7'] = None
df_new7['Warranty Type_8'] = None
df_new7['Warranty Type_9'] = None
df_new7['Warranty Type_10'] = None
df_new7['Warranty Type_11'] = None
df_new7['Warranty Type_12'] = None

In [ ]:
for index, value in my_list_4:
  df_new7.at[index, 'Warranty Type_1'] = value
for index, value in my_list_5:
  df_new7.at[index, 'Warranty Type_2'] = value
for index, value in my_list_6:
  df_new7.at[index, 'Warranty Type_3'] = value
for index, value in my_list_7:
  df_new7.at[index, 'Warranty Type_4'] = value
for index, value in my_list_8:
  df_new7.at[index, 'Warranty Type_5'] = value
for index, value in my_list_9:
  df_new7.at[index, 'Warranty Type_6'] = value
for index, value in my_list_10:
  df_new7.at[index, 'Warranty Type_7'] = value
for index, value in my_list_11:
  df_new7.at[index, 'Warranty Type_8'] = value
for index, value in my_list_12:
  df_new7.at[index, 'Warranty Type_9'] = value
for index, value in my_list_13:
  df_new7.at[index, 'Warranty Type_10'] = value
for index, value in my_list_14:
  df_new7.at[index, 'Warranty Type_11'] = value
for index, value in my_list_15:
  df_new7.at[index, 'Warranty Type_12'] = value

In [ ]:
df_new7['Warranty Type_1'] = df_new7['Warranty Type_1'].replace({'\n': None})
df_new7['Warranty Type_1'] = df_new7['Warranty Type_1'].str.strip()

df_new7['Warranty Type_2'] = df_new7['Warranty Type_2'].replace({'\n': None})
df_new7['Warranty Type_2'] = df_new7['Warranty Type_2'].str.strip()

df_new7['Warranty Type_3'] = df_new7['Warranty Type_3'].replace({'\n': None})
df_new7['Warranty Type_3'] = df_new7['Warranty Type_3'].str.strip()

df_new7['Warranty Type_4'] = df_new7['Warranty Type_4'].replace({'\n': None})
df_new7['Warranty Type_4'] = df_new7['Warranty Type_4'].str.strip()

df_new7['Warranty Type_5'] = df_new7['Warranty Type_5'].replace({'\n': None})
df_new7['Warranty Type_5'] = df_new7['Warranty Type_5'].str.strip()

df_new7['Warranty Type_6'] = df_new7['Warranty Type_6'].replace({'\n': None})
df_new7['Warranty Type_6'] = df_new7['Warranty Type_6'].str.strip()

df_new7['Warranty Type_7'] = df_new7['Warranty Type_7'].replace({'\n': None})
df_new7['Warranty Type_7'] = df_new7['Warranty Type_7'].str.strip()

df_new7['Warranty Type_8'] = df_new7['Warranty Type_8'].replace({'\n': None})
df_new7['Warranty Type_8'] = df_new7['Warranty Type_8'].str.strip()

df_new7['Warranty Type_9'] = df_new7['Warranty Type_9'].replace({'\n': None})
df_new7['Warranty Type_9'] = df_new7['Warranty Type_9'].str.strip()

df_new7['Warranty Type_10'] = df_new7['Warranty Type_10'].replace({'\n': None})
df_new7['Warranty Type_10'] = df_new7['Warranty Type_10'].str.strip()

df_new7['Warranty Type_11'] = df_new7['Warranty Type_11'].replace({'\n': None})
df_new7['Warranty Type_11'] = df_new7['Warranty Type_11'].str.strip()

df_new7['Warranty Type_12'] = df_new7['Warranty Type_12'].replace({'\n': None})
df_new7['Warranty Type_12'] = df_new7['Warranty Type_12'].str.strip()

In [ ]:
df_new7.loc[12109][['Warranty', 'Warranty Time','Warranty Type_1', 'Warranty Type_7', 'Warranty Type_8', 'Warranty Type_9', 'Warranty Type_10', 'Warranty Type_11', 'Warranty Type_12']]

In [ ]:
df_new7['Full Service'].info()

In [ ]:
df_new7['Full Service'].value_counts()

In [ ]:
df_new7.loc[2400:2450]['Full Service']

In [ ]:
my_list_16 = []
my_list_17 = []
for sublist in df_new7['Full Service']:
  if isinstance(sublist, list):
    my_list_16.append(len(sublist))
  if isinstance(sublist, str):
    my_list_17.append(sublist.strip())
print(len(my_list_16), np.unique(my_list_16), len(my_list_17), np.unique(my_list_17))

In [ ]:
my_list_18 = []
for sublist in df_new7['Full Service']:
  if isinstance(sublist, list):
    if len(sublist) > 2:
      sublist = [item for item in sublist if item != '\n']
      my_list_18.append(len(sublist))
print(len(my_list_18), np.unique(my_list_18))

In [ ]:
my_list_19 = []
my_list_20 = []
my_list_21 = []
my_list_22 = []
my_list_23 = []
my_list_24 = []
my_list_25 = []

for index, sublist in df_new7['Full Service'].items():
  if isinstance(sublist, list):
    if len(sublist) == 2:
      my_list_19.append((index, sublist[0]))
      my_list_20.append((index, sublist[1]))
    if len(sublist) > 2:
      sublist = [item for item in sublist if item != '\n']
      if len(sublist) == 1:
        my_list_21.append((index, sublist[0]))
      if len(sublist) == 3:
        my_list_22.append((index, sublist[0]))
        my_list_23.append((index, sublist[1]))
        my_list_24.append((index, sublist[2]))
  if isinstance(sublist, str):
    my_list_25.append((index, sublist))

print(len(my_list_19), len(my_list_20), len(my_list_21), len(my_list_22), len(my_list_23), len(my_list_24), len(my_list_25))
my_list_23
#21
#22 combo
#23 city
#24 country

In [ ]:
df_new7['Full Service Type_1'] = None
df_new7['Full Service Type_2'] = None
df_new7['Full Service Type_3'] = None
df_new7['Full Service Type_4'] = None
df_new7['Full Service Type_5'] = None
df_new7['Full Service Type_6'] = None
df_new7['Full Service Type_7'] = None

In [ ]:
for index, value in my_list_19:
  df_new7.at[index, 'Full Service Type_1'] = value
for index, value in my_list_20:
  df_new7.at[index, 'Full Service Type_2'] = value
for index, value in my_list_21:
  df_new7.at[index, 'Full Service Type_3'] = value
for index, value in my_list_22:
  df_new7.at[index, 'Full Service Type_4'] = value
for index, value in my_list_23:
  df_new7.at[index, 'Full Service Type_5'] = value
for index, value in my_list_24:
  df_new7.at[index, 'Full Service Type_6'] = value
for index, value in my_list_25:
  df_new7.at[index, 'Full Service Type_7'] = value

In [ ]:
df_new7['Full Service Type_1'] = df_new7['Full Service Type_1'].replace({'\n': None})
df_new7['Full Service Type_1'] = df_new7['Full Service Type_1'].str.strip()
df_new7['Full Service Type_2'] = df_new7['Full Service Type_2'].replace({'\n': None})
df_new7['Full Service Type_2'] = df_new7['Full Service Type_2'].str.strip()
df_new7['Full Service Type_3'] = df_new7['Full Service Type_3'].replace({'\n': None})
df_new7['Full Service Type_3'] = df_new7['Full Service Type_3'].str.strip()
df_new7['Full Service Type_4'] = df_new7['Full Service Type_4'].replace({'\n': None})
df_new7['Full Service Type_4'] = df_new7['Full Service Type_4'].str.strip()
df_new7['Full Service Type_5'] = df_new7['Full Service Type_5'].replace({'\n': None})
df_new7['Full Service Type_5'] = df_new7['Full Service Type_5'].str.strip()
df_new7['Full Service Type_6'] = df_new7['Full Service Type_6'].replace({'\n': None})
df_new7['Full Service Type_6'] = df_new7['Full Service Type_6'].str.strip()
df_new7['Full Service Type_7'] = df_new7['Full Service Type_7'].replace({'\n': None})
df_new7['Full Service Type_7'] = df_new7['Full Service Type_7'].str.strip()

In [ ]:
df_new7.loc[12757][['Full Service', 'Full Service Type_1', 'Full Service Type_2', 'Full Service Type_3', 'Full Service Type_4', 'Full Service Type_5', 'Full Service Type_6', 'Full Service Type_7']]

In [ ]:
df_new7['Non-smoking Vehicle'].value_counts()

In [ ]:
my_list_26 = []
for sublist in df_new7['Non-smoking Vehicle']:
  if isinstance(sublist, list):
    my_list_26.append(len(sublist))
  if isinstance(sublist, str):
    my_list_26.append(sublist.strip())
len(my_list_26), np.unique(my_list_26)

In [ ]:
my_list_27 = []
for sublist in df_new7['Non-smoking Vehicle']:
  if isinstance(sublist, list):
    if len(sublist) > 1:
      sublist = [item for item in sublist if item != '\n']
      my_list_27.append(len(sublist))
len(my_list_27), np.unique(my_list_27)

In [ ]:
my_list_28 = []
my_list_29 = []
my_list_30 = []
my_list_31 = []
my_list_32 = []
my_list_33 = []
my_list_34 = []

In [ ]:
for index, sublist in df_new7['Non-smoking Vehicle'].items():
  if isinstance(sublist, list):
    if len(sublist) == 2:
      my_list_28.append((index, sublist[0]))
      my_list_29.append((index, sublist[1]))
    if len(sublist) > 2:
      sublist = [item for item in sublist if item != '\n']
      if len(sublist) == 1:
        my_list_30.append((index, sublist[0]))
      if len(sublist) == 3:
        my_list_31.append((index, sublist[0]))
        my_list_32.append((index, sublist[1]))
        my_list_33.append((index, sublist[2]))
  if isinstance(sublist, str):
    my_list_34.append((index, sublist))

print(len(my_list_28), len(my_list_29), len(my_list_30), len(my_list_31), len(my_list_32), len(my_list_33), len(my_list_34))

my_list_31

In [ ]:
for i in range(1,8):
  df_new7[f'Non-smoking Vehicle {i}'] = None

lists = [my_list_28, my_list_29, my_list_30, my_list_31, my_list_32, my_list_33, my_list_34]

for j, lst in enumerate(lists, start = 1):
  for index, value in lst:
    df_new7.at[index, f'Non-smoking Vehicle {j}'] = value

for k in range(1,8):
  df_new7[f'Non-smoking Vehicle {k}'] = df_new7[f'Non-smoking Vehicle {k}'].replace({'\n' : None}).str.strip()

In [ ]:
df_new7[['Non-smoking Vehicle', 'Non-smoking Vehicle 1', 'Non-smoking Vehicle 2', 'Non-smoking Vehicle 3', 'Non-smoking Vehicle 4', 'Non-smoking Vehicle 5', 'Non-smoking Vehicle 6', 'Non-smoking Vehicle 7']].head(50)

In [ ]:
df_new7.loc[5148][['Non-smoking Vehicle', 'Non-smoking Vehicle 1', 'Non-smoking Vehicle 2', 'Non-smoking Vehicle 3', 'Non-smoking Vehicle 4', 'Non-smoking Vehicle 5', 'Non-smoking Vehicle 6', 'Non-smoking Vehicle 7']]

In [ ]:
df_new8 = df_new7.drop('null', axis = 1)

In [ ]:
df_new8['Make'].unique()

In [ ]:
df_new8['Make'] = df_new8['Make'].str.strip()
df_new8['Make'].unique()

In [ ]:
df_new8['Model'].value_counts()

In [ ]:
my_list_35 = []
my_list_36 = []
for sublist in df_new8['Model']:
  if isinstance(sublist, list):
    my_list_35.append(len(sublist))
    sublist = [item for item in sublist if item != '\n']
    my_list_36.append(len(sublist))
print(len(my_list_35), np.unique(my_list_35), len(my_list_36), np.unique(my_list_36))

In [ ]:
my_list_37 = []
for index, sublist in df_new8['Model'].items():
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_37.append((index, sublist[0]))

In [ ]:
df_new8['Model Type'] = None
for index, value in my_list_37:
  df_new8.at[index, 'Model Type'] = value
df_new8['Model Type'] = df_new8['Model Type'].str.strip()

In [ ]:
df_new8[['Make', 'Model', 'Model Type']].head(50)

In [ ]:
df_new9 = df_new8.drop('Model', axis = 1)

In [ ]:
df_new9['Offer Number'].value_counts()

In [ ]:
my_list_38 = []
for sublist in df_new9['Offer Number']:
  if isinstance(sublist, list):
    my_list_38.append(len(sublist))
print(len(my_list_38), np.unique(my_list_38))

In [ ]:
my_list_39 = []
for index, sublist in df_new9['Offer Number'].items():
  if isinstance(sublist, list):
    my_list_39.append((index, sublist[0].strip()))
len(my_list_39)

In [ ]:
df_new9['Offer Number 1'] = None
for index, value in my_list_39:
  df_new9.at[index, 'Offer Number 1'] = value
df_new9[['Offer Number', 'Offer Number 1']].head(50)

In [ ]:
df_new9.info()

In [ ]:
df_new9['First Registration'].value_counts()

In [ ]:
my_list_40 = []
for sublist in df_new9['First Registration']:
  if isinstance(sublist, list):
    my_list_40.append(len(sublist))
print(len(my_list_40), np.unique(my_list_40))

In [ ]:
my_list_41 = []
for sublist in df_new9['First Registration']:
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_41.append(len(sublist))
print(len(my_list_41), np.unique(my_list_41))

In [ ]:
my_list_42 = []
for index, sublist in df_new9['First Registration'].items():
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_42.append((index, sublist[0].strip()))
my_list_42

In [ ]:
df_new9['First Registration 1'] = None
for index, value in my_list_42:
  df_new9.at[index, 'First Registration 1'] = value
df_new9[['First Registration', 'First Registration 1']].head(50)

In [ ]:
df_new9['Body Color'].info()

In [ ]:
my_list_43 = []
for sublist in df_new9['Body Color']:
  if isinstance(sublist, list):
    my_list_43.append(len(sublist))
print(len(my_list_43), np.unique(my_list_43))

In [ ]:
my_list_44 = []
for sublist in df_new9['Body Color']:
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_44.append(len(sublist))
print(len(my_list_44), np.unique(my_list_44))

In [ ]:
my_list_45 = []
for index, sublist in df_new9['Body Color'].items():
  if isinstance(sublist, list):
    sublist = [item.strip() for item in sublist if item != '\n']
    my_list_45.append((index, sublist[0]))
len(my_list_45)

In [ ]:
df_new9['Body Color 1'] = None
for index, value in my_list_45:
  df_new9.at[index, 'Body Color 1'] = value
print(len(df_new9['Body Color']))
df_new9[['Body Color', 'Body Color 1']].head(50)

In [ ]:
df_new9.info()

In [ ]:
df_new9['Paint Type'].value_counts()

In [ ]:
my_list_46 = []
for index, sublist in df_new9['Paint Type'].items():
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_46.append((index, sublist[0].strip()))
print(len(my_list_46))

In [ ]:
df_new9['Paint Type 1'] = None
for index, value in my_list_46:
  df_new9.at[index, 'Paint Type 1'] = value
print(len(df_new9['Paint Type']), len(df_new9['Paint Type 1']))
df_new9[['Paint Type', 'Paint Type 1']].head(50)

In [ ]:
df_new9.info()

In [ ]:
df_new9['Body Color Original'].value_counts()

In [ ]:
my_list_47 = []
for sublist in df_new9['Body Color Original']:
  if isinstance(sublist, list):
    my_list_47.append(len(sublist))
print(len(my_list_47), np.unique(my_list_47))

In [ ]:
my_list_48 = []
for index, sublist in df_new9['Body Color Original'].items():
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_48.append((index, sublist[0].strip()))
print(len(my_list_48))

In [ ]:
df_new9['Body Color Original 1'] = None
for index, value in my_list_48:
  df_new9.at[index, 'Body Color Original 1'] = value
print(len(df_new9['Body Color Original']), len(df_new9['Body Color Original 1']))
df_new9[['Body Color Original', 'Body Color Original 1']].head(50)

In [ ]:
df_new9.info()

In [ ]:
df_new9['Upholstery'].value_counts()

In [ ]:
my_list_49 = []
for sublist in df_new9['Upholstery']:
  if isinstance(sublist, list):
    my_list_49.append(len(sublist))
print(len(my_list_49), np.unique(my_list_49))

In [ ]:
my_list_50 = []
for sublist in df_new9['Upholstery']:
  if isinstance(sublist, list):
    sublist = sublist[0].strip().split(',')
    my_list_50.append(len(sublist))
print(len(my_list_50), np.unique(my_list_50))

In [ ]:
my_list_51 = []
my_list_52 = []
my_list_53 = []
for sublist in df_new9['Upholstery']:
  if isinstance(sublist, list):
    sublist = sublist[0].strip().split(',')
    if len(sublist) == 1:
      my_list_51.append(sublist[0])
    if len(sublist) == 2:
      my_list_52.append(sublist[0])
      my_list_53.append(sublist[1])
print(len(my_list_51), len(my_list_52), len(my_list_53))
np.unique(my_list_51), np.unique(my_list_52), np.unique(my_list_53)

In [ ]:
my_list_54 = []
my_list_55 = []
my_list_56 = []
my_list_57 = []

valid_values = ['Cloth', 'Full leather', 'Other', 'Part leather', 'Velour', 'alcantara']
for index, sublist in df_new9['Upholstery'].items():
  if isinstance(sublist, list):
    sublist = sublist[0].strip().split(',')
    if len(sublist) == 1:
      if sublist[0] in valid_values:
        my_list_54.append((index, sublist[0]))
      else:
        my_list_55.append((index, sublist[0]))
    if len(sublist) == 2:
      my_list_56.append((index, sublist[0]))
      my_list_57.append((index, sublist[1]))
print(len(my_list_54), len(my_list_55), len(my_list_56), len(my_list_57))

In [ ]:
df_new9['Upholstery 1'] = None
df_new9['Upholstery 2'] = None
df_new9['Upholstery 3'] = None
df_new9['Upholstery 4'] = None

In [ ]:
for index, value in my_list_54:
  df_new9.at[index, 'Upholstery 1'] = value
for index, value in my_list_55:
  df_new9.at[index, 'Upholstery 2'] = value
for index, value in my_list_56:
  df_new9.at[index, 'Upholstery 3'] = value
for index, value in my_list_57:
  df_new9.at[index, 'Upholstery 4'] = value

print(len(df_new9['Upholstery']), len(df_new9['Upholstery 1']), len(df_new9['Upholstery 2']), len(df_new9['Upholstery 3']), len(df_new9['Upholstery 4']))
print(df_new9['Upholstery'].isnull().sum()), print(df_new9['Upholstery 1'].isnull().sum()), print(df_new9['Upholstery 2'].isnull().sum())
print(df_new9['Upholstery 3'].isnull().sum()), print(df_new9['Upholstery 4'].isnull().sum())

In [ ]:
df_new9[['Upholstery', 'Upholstery 1', 'Upholstery 2', 'Upholstery 3', 'Upholstery 4']].head(50)

In [ ]:
df_new9['Upholstery 3'] = df_new9['Upholstery 3'].fillna(df_new9['Upholstery 1'])
df_new9['Upholstery 4'] = df_new9['Upholstery 4'].fillna(df_new9['Upholstery 2'])

In [ ]:
print(df_new9['Upholstery'].isnull().sum()), print(df_new9['Upholstery 1'].isnull().sum()), print(df_new9['Upholstery 2'].isnull().sum())
print(df_new9['Upholstery 3'].isnull().sum()), print(df_new9['Upholstery 4'].isnull().sum())

In [ ]:
df_new10 = df_new9.drop(['Upholstery 1', 'Upholstery 2'], axis = 1)

In [ ]:
df_new10.info()

In [ ]:
df_new10['Body'].value_counts()

In [ ]:
my_list_58 = []
for sublist in df_new10['Body']:
  if isinstance(sublist, list):
    my_list_58.append(len(sublist))
print(len(my_list_58), np.unique(my_list_58))

In [ ]:
my_list_59 = []
for index, sublist in df_new10['Body'].items():
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_59.append((index, sublist[0].strip()))

In [ ]:
df_new10['Body 1'] = None
for index, value in my_list_59:
  df_new10.at[index, 'Body 1'] = value

df_new10[['Body', 'Body 1']].head(50)

In [ ]:
print(len(df_new10['Body']), len(df_new10['Body 1']))
print(df_new10['Body'].isnull().sum()), print(df_new10['Body 1'].isnull().sum())

In [ ]:
df_new10.info()

In [ ]:
df_new10['Nr. of Doors'].value_counts()

In [ ]:
my_list_60 = []
for sublist in df_new10['Nr. of Doors']:
  if isinstance(sublist, list):
    my_list_60.append(len(sublist))
print(len(my_list_60), np.unique(my_list_60))

In [ ]:
my_list_61 = []
for index, sublist in df_new10['Nr. of Doors'].items():
  if isinstance(sublist, list):
    my_list_61.append((index, sublist[0].strip()))
len(my_list_61)

In [ ]:
df_new10['Nr. of Doors 1'] = None
for index, value in my_list_61:
  df_new10.at[index, 'Nr. of Doors 1'] = value

print(len(df_new10['Nr. of Doors']), len(df_new10['Nr. of Doors 1']))
print(df_new10['Nr. of Doors'].isnull().sum()), print(df_new10['Nr. of Doors 1'].isnull().sum())

In [ ]:
df_new10[['Nr. of Doors', 'Nr. of Doors 1']].head(50)

In [ ]:
df_new10.info()

In [ ]:
df_new10['Nr. of Seats'].value_counts()

In [ ]:
my_list_62 = []
for sublist in df_new10['Nr. of Seats']:
  if isinstance(sublist, list):
    my_list_62.append(len(sublist))
print(len(my_list_62), np.unique(my_list_62))

In [ ]:
my_list_63 = []
for index, sublist in df_new10['Nr. of Seats'].items():
  if isinstance(sublist, list):
    my_list_63.append((index, sublist[0].strip()))
print(len(my_list_63))

In [ ]:
df_new10['Nr. of Seats 1'] = None
for index, value in my_list_63:
  df_new10.at[index, 'Nr. of Seats 1'] = value

print(len(df_new10['Nr. of Seats']), len(df_new10['Nr. of Seats 1']))
print(df_new10['Nr. of Seats'].isnull().sum()), print(df_new10['Nr. of Seats 1'].isnull().sum())

In [ ]:
df_new10[['Nr. of Seats', 'Nr. of Seats 1']].head(50)

In [ ]:
df_new10.info()

In [ ]:
df_new10['Model Code'].value_counts()

In [ ]:
my_list_64 = []
for sublist in df_new10['Model Code']:
  if isinstance(sublist, list):
    my_list_64.append(len(sublist))
print(len(my_list_64), np.unique(my_list_64))

In [ ]:
my_list_65 = []
for index, sublist in df_new10['Model Code'].items():
  if isinstance(sublist, list):
    my_list_65.append((index, sublist[0].strip()))
print(len(my_list_65))

In [ ]:
df_new10['Model Code 1'] = None
for index, value in my_list_65:
  df_new10.at[index, 'Model Code 1'] = value
print(len(df_new10['Model Code']), len(df_new10['Model Code 1']))
print(df_new10['Model Code'].isnull().sum()), print(df_new10['Model Code 1'].isnull().sum())

In [ ]:
df_new10[['Model Code', 'Model Code 1']].head(50)

In [ ]:
df_new10.info()

In [ ]:
df_new10['Gearing Type'].value_counts()

In [ ]:
my_list_66 = []
for sublist in df_new10['Gearing Type']:
  if isinstance(sublist, list):
    my_list_66.append(len(sublist))
print(len(my_list_66), np.unique(my_list_66))

In [ ]:
my_list_67 = []
for sublist in df_new10['Gearing Type']:
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_67.append(len(sublist))
print(len(my_list_67), np.unique(my_list_67))

In [ ]:
my_list_68 = []
for index, sublist in df_new10['Gearing Type'].items():
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_68.append((index, sublist[0].strip()))
print(len(my_list_68))

In [ ]:
df_new10['Gearing Type 1'] = None
for index, value in my_list_68:
  df_new10.at[index, 'Gearing Type 1'] = value

print(len(df_new10['Gearing Type']), len(df_new10['Gearing Type 1']))
print(df_new10['Gearing Type'].isnull().sum()), print(df_new10['Gearing Type 1'].isnull().sum())

In [ ]:
df_new10[['Gearing Type', 'Gearing Type 1']].head(50)

In [ ]:
df_new10.info()

In [ ]:
df_new10['Displacement'].value_counts()

In [ ]:
my_list_69 = []
for sublist in df_new10['Displacement']:
  if isinstance(sublist, list):
    my_list_69.append(len(sublist))
print(len(my_list_69), np.unique(my_list_69))

In [ ]:
my_list_70 = []
for index, sublist in df_new10['Displacement'].items():
  if isinstance(sublist, list):
    my_list_70.append((index, sublist[0].strip()))
print(len(my_list_70))

In [ ]:
df_new10['Displacement 1'] = None
for index, value in my_list_70:
  df_new10.at[index, 'Displacement 1'] = value

print(len(df_new10['Displacement']), len(df_new10['Displacement 1']))
print(df_new10['Displacement'].isnull().sum()), print(df_new10['Displacement 1'].isnull().sum())

In [ ]:
df_new10[['Displacement', 'Displacement 1']].head(50)

In [ ]:
df_new10.info()

In [ ]:
df_new10['Cylinders'].value_counts()

In [ ]:
my_list_71 = []
for sublist in df_new10['Cylinders']:
  if isinstance(sublist, list):
    my_list_71.append(len(sublist))
print(len(my_list_71), np.unique(my_list_71))

In [ ]:
my_list_72 = []
for index, sublist in df_new10['Cylinders'].items():
  if isinstance(sublist, list):
    my_list_72.append((index, sublist[0].strip()))
print(len(my_list_72))

In [ ]:
df_new10['Cylinders 1'] = None
for index, value in my_list_72:
  df_new10.at[index, 'Cylinders 1'] = value

print(len(df_new10['Cylinders']), len(df_new10['Cylinders 1']))
print(df_new10['Cylinders'].isnull().sum()), print(df_new10['Cylinders 1'].isnull().sum())

In [ ]:
df_new10[['Cylinders', 'Cylinders 1']].head(50)

In [ ]:
df_new10.info()

In [ ]:
df_new10['Weight'].value_counts()

In [ ]:
my_list_73 = []
for sublist in df_new10['Weight']:
  if isinstance(sublist, list):
    my_list_73.append(len(sublist))

print(len(my_list_73), np.unique(my_list_73))

In [ ]:
my_list_74 = []
for index, sublist in df_new10['Weight'].items():
  if isinstance(sublist, list):
    my_list_74.append((index, sublist[0].strip()))
print(len(my_list_74))

In [ ]:
df_new10['Weight 1'] = None
for index, value in my_list_74:
  df_new10.at[index, 'Weight 1'] = value

print(len(df_new10['Weight']), len(df_new10['Weight 1']))
print(df_new10['Weight'].isnull().sum()), print(df_new10['Weight 1'].isnull().sum())

In [ ]:
df_new10[['Weight', 'Weight 1']].head(50)

In [ ]:
df_new10['Weight 1'] = df_new10['Weight 1'].str.replace('kg', '')
df_new10[['Weight', 'Weight 1']]

In [ ]:
df_new10['Weight 1'] = df_new10['Weight 1'].str.replace(',', '')
df_new10[['Weight', 'Weight 1']]

In [ ]:
print(df_new10['Weight'].isnull().sum()), print(df_new10['Weight 1'].isnull().sum())
print(len(df_new10['Weight']), len(df_new10['Weight 1']))

In [ ]:
df_new10['Weight 2'] = pd.to_numeric(df_new10['Weight 1'], errors='coerce')
df_new10['Weight 2'] = df_new10['Weight 2'].astype('Int64')
df_new10[['Weight', 'Weight 1', 'Weight 2']]

In [ ]:
print(df_new10['Weight'].isnull().sum()), print(df_new10['Weight 1'].isnull().sum()), print(df_new10['Weight 2'].isnull().sum())

In [ ]:
df_new10.info()

In [ ]:
df_new10['Drive chain'].value_counts()

In [ ]:
my_list_75 = []
for sublist in df_new10['Drive chain']:
  if isinstance(sublist, list):
    my_list_75.append(len(sublist))
print(len(my_list_75), np.unique(my_list_75))

In [ ]:
my_list_76 = []
for index, sublist in df_new10['Drive chain'].items():
  if isinstance(sublist, list):
    my_list_76.append((index, sublist[0].strip()))

print(len(my_list_76))

In [ ]:
df_new10['Drive chain 1'] = None
for index, value in my_list_76:
  df_new10.at[index, 'Drive chain 1'] = value

print(len(df_new10['Drive chain']), len(df_new10['Drive chain 1']))
print(df_new10['Drive chain'].isnull().sum()), print(df_new10['Drive chain 1'].isnull().sum())

In [ ]:
df_new10[['Drive chain', 'Drive chain 1']].head(50)

In [ ]:
df_new10.info()

In [ ]:
df_new10['Fuel'].value_counts()

In [ ]:
my_list_77 = []
for sublist in df_new10['Fuel']:
  if isinstance(sublist, list):
    my_list_77.append(len(sublist))
print(len(my_list_77), np.unique(my_list_77))

In [ ]:
my_list_78 = []
for sublist in df_new10['Fuel']:
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_78.append(len(sublist))
print(len(my_list_78), np.unique(my_list_78))

In [ ]:
my_list_79 = []
for index, sublist in df_new10['Fuel'].items():
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_79.append((index, sublist[0].strip()))
print(len(my_list_79))

In [ ]:
df_new10['Fuel 1'] = None
for index, value in my_list_79:
  df_new10.at[index, 'Fuel 1'] = value

print(len(df_new10['Fuel']), len(df_new10['Fuel 1']))
print(df_new10['Fuel'].isnull().sum()), print(df_new10['Fuel 1'].isnull().sum())

In [ ]:
df_new10[['Fuel', 'Fuel 1']].head(50)

In [ ]:
df_new10.info()

In [ ]:
df_new10['Consumption'].value_counts()

In [ ]:
my_list_80 = []
for sublist in df_new10['Consumption']:
  if isinstance(sublist, list):
    my_list_80.append(len(sublist))
print(len(my_list_80), np.unique(my_list_80))

In [ ]:
my_list_81 = []
for sublist in df_new10['Consumption']:
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_81.append(len(sublist))
print(len(my_list_81), np.unique(my_list_81))

In [ ]:
my_list_82 = []
my_list_83 = []
my_list_84 = []
my_list_85 = []

for index, sublist in df_new10['Consumption'].items():
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    if len(sublist) == 1:
      my_list_82.append((index, sublist[0]))
    if len(sublist) == 3:
      my_list_83.append((index, sublist[0]))
      my_list_84.append((index, sublist[1]))
      my_list_85.append((index, sublist[2]))

print(len(my_list_82), len(my_list_83), len(my_list_84), len(my_list_85))
my_list_82

In [ ]:
df_new10['Consumption 1'] = None
df_new10['Consumption 2'] = None
df_new10['Consumption 3'] = None
df_new10['Consumption 4'] = None

for index, value in my_list_82:
  df_new10.at[index, 'Consumption 1'] = value
for index, value in my_list_83:
  df_new10.at[index, 'Consumption 2'] = value
for index, value in my_list_84:
  df_new10.at[index, 'Consumption 3'] = value
for index, value in my_list_85:
  df_new10.at[index, 'Consumption 4'] = value

In [ ]:
df_new10['Consumption 1'] = df_new10['Consumption 1'].apply(lambda x: x[0] if isinstance(x, list) and len(x) == 1 else x)
df_new10['Consumption 2'] = df_new10['Consumption 2'].apply(lambda x: x[0] if isinstance(x, list) and len(x) == 1 else x)
df_new10['Consumption 3'] = df_new10['Consumption 3'].apply(lambda x: x[0] if isinstance(x, list) and len(x) == 1 else x)
df_new10['Consumption 4'] = df_new10['Consumption 4'].apply(lambda x: x[0] if isinstance(x, list) and len(x) == 1 else x)

In [ ]:
print(len(df_new10['Consumption']), len(df_new10['Consumption 1']), len(df_new10['Consumption 2']), len(df_new10['Consumption 3']), len(df_new10['Consumption 4']))

In [ ]:
print(df_new10['Consumption'].isnull().sum()), print(df_new10['Consumption 1'].isnull().sum()), print(df_new10['Consumption 2'].isnull().sum())
print(df_new10['Consumption 3'].isnull().sum()), print(df_new10['Consumption 4'].isnull().sum())

In [ ]:
df_new10[['Consumption', 'Consumption 1', 'Consumption 2', 'Consumption 3', 'Consumption 4']].head(50)

In [ ]:
df_new10.loc[3617][['Consumption', 'Consumption 1', 'Consumption 2', 'Consumption 3', 'Consumption 4']]

In [ ]:
df_new10.info()

In [ ]:
df_new10['CO2 Emission'].info()

In [ ]:
df_new10['CO2 Emission'].value_counts()

In [ ]:
my_list_86 = []

for sublist in df_new10['CO2 Emission']:
  if isinstance(sublist, list):
    my_list_86.append(len(sublist))
print(len(my_list_86), np.unique(my_list_86))

In [ ]:
my_list_87 = []
my_list_88 = []
my_list_89 = []
my_list_90 = []

for index, sublist in df_new10['CO2 Emission'].items():
  if isinstance(sublist, list):
    if len(sublist) == 1:
      my_list_87.append((index, sublist[0]))
    if len(sublist) == 3:
      my_list_88.append((index, sublist[0]))
      my_list_89.append((index, sublist[1]))
      my_list_90.append((index, sublist[2]))

print(len(my_list_87), len(my_list_88), len(my_list_89), len(my_list_90))
my_list_88

In [ ]:
df_new10['CO2 Emission 1'] = None
df_new10['CO2 Emission 2'] = None
df_new10['CO2 Emission 3'] = None
df_new10['CO2 Emission 4'] = None

In [ ]:
for index, value in my_list_87:
  df_new10.at[index, 'CO2 Emission 1'] = value
for index, value in my_list_88:
  df_new10.at[index, 'CO2 Emission 2'] = value
for index, value in my_list_89:
  df_new10.at[index, 'CO2 Emission 3'] = value
for index, value in my_list_90:
  df_new10.at[index, 'CO2 Emission 4'] = value

print(len(df_new10['CO2 Emission']), len(df_new10['CO2 Emission 1']), len(df_new10['CO2 Emission 2']), len(df_new10['CO2 Emission 3']), len(df_new10['CO2 Emission 4']))
print(df_new10['CO2 Emission'].isnull().sum()), print(df_new10['CO2 Emission 1'].isnull().sum()), print(df_new10['CO2 Emission 2'].isnull().sum()), print(df_new10['CO2 Emission 3'].isnull().sum()), print(df_new10['CO2 Emission 4'].isnull().sum())

In [ ]:
df_new10['CO2 Emission 1'] = df_new10['CO2 Emission 1'].apply(lambda x: x[0] if isinstance(x, list) and len(x) == 1 else x)
df_new10['CO2 Emission 2'] = df_new10['CO2 Emission 2'].apply(lambda x: x[0] if isinstance(x, list) and len(x) >= 1 else np.nan)
df_new10['CO2 Emission 3'] = df_new10['CO2 Emission 3'].apply(lambda x: x[0] if isinstance(x, list) and len(x) >= 1 else np.nan)
df_new10['CO2 Emission 4'] = df_new10['CO2 Emission 4'].apply(lambda x: x[0] if isinstance(x, list) and len(x) >= 1 else np.nan)

In [ ]:
df_new10['CO2 Emission 1'] = df_new10['CO2 Emission 1'].str.strip()

In [ ]:
df_new10[['CO2 Emission', 'CO2 Emission 1', 'CO2 Emission 2', 'CO2 Emission 3', 'CO2 Emission 4']].head(50)

In [ ]:
df_new10.loc[10630:10680][['CO2 Emission', 'CO2 Emission 1', 'CO2 Emission 2', 'CO2 Emission 3', 'CO2 Emission 4']]

In [ ]:
df_new10['CO2 Emission 2'].unique(), df_new10['CO2 Emission 3'].unique(), df_new10['CO2 Emission 4'].unique()

In [ ]:
print(len(df_new10['CO2 Emission']), len(df_new10['CO2 Emission 1']), len(df_new10['CO2 Emission 2']), len(df_new10['CO2 Emission 3']), len(df_new10['CO2 Emission 4']))
print(df_new10['CO2 Emission'].isnull().sum()), print(df_new10['CO2 Emission 1'].isnull().sum()), print(df_new10['CO2 Emission 2'].isnull().sum()), print(df_new10['CO2 Emission 3'].isnull().sum()), print(df_new10['CO2 Emission 4'].isnull().sum())

In [ ]:
df_new10['CO2 Emission 2'] = pd.to_numeric(df_new10['CO2 Emission 2'], errors='coerce')
df_new10['CO2 Emission 3'] = pd.to_numeric(df_new10['CO2 Emission 3'], errors='coerce')
df_new10['CO2 Emission 4'] = pd.to_numeric(df_new10['CO2 Emission 4'], errors='coerce')

In [ ]:
df_new10['CO2 Emission 2'].dtype, df_new10['CO2 Emission 3'].dtype, df_new10['CO2 Emission 4'].dtype

In [ ]:
df_new10['CO2 Emission 2'].unique(), df_new10['CO2 Emission 3'].unique(), df_new10['CO2 Emission 4'].unique()

In [ ]:
df_new10['CO2 Emission 2'].isna().sum(), df_new10['CO2 Emission 2'].notna().sum()

In [ ]:
print(len(df_new10['CO2 Emission']), len(df_new10['CO2 Emission 1']), len(df_new10['CO2 Emission 2']), len(df_new10['CO2 Emission 3']), len(df_new10['CO2 Emission 4']))
print(df_new10['CO2 Emission'].isnull().sum()), print(df_new10['CO2 Emission 1'].isnull().sum()), print(df_new10['CO2 Emission 2'].isnull().sum()), print(df_new10['CO2 Emission 3'].isnull().sum()), print(df_new10['CO2 Emission 4'].isnull().sum())

In [ ]:
df_new10['Emission Class'].info()

In [ ]:
df_new10['Emission Class'].value_counts()

In [ ]:
my_list_91 = []
for sublist in df_new10['Emission Class']:
  if isinstance(sublist, list):
    my_list_91.append(len(sublist))
print(len(my_list_91), np.unique(my_list_91)), my_list_91.count(1), my_list_91.count(3)

In [ ]:
my_list_92 = []
my_list_93 = []
my_list_94 = []
my_list_95 = []
for index, sublist in df_new10['Emission Class'].items():
  if isinstance(sublist, list):
    if len(sublist) == 1:
      my_list_92.append((index, sublist[0]))
    if len(sublist) == 3:
      my_list_93.append((index, sublist[0]))
      my_list_94.append((index, sublist[1]))
      my_list_95.append((index, sublist[2]))
print(len(my_list_92), len(my_list_93), len(my_list_94), len(my_list_95))
my_list_93, my_list_94, my_list_95

In [ ]:
df_new10['Emission Class 1'] = None
df_new10['Emission Class 2'] = None
df_new10['Emission Class 3'] = None
df_new10['Emission Class 4'] = None

for index, value in my_list_92:
  df_new10.at[index, 'Emission Class 1'] = value
for index, value in my_list_93:
  df_new10.at[index, 'Emission Class 2'] = value
for index, value in my_list_94:
  df_new10.at[index, 'Emission Class 3'] = value
for index, value in my_list_95:
  df_new10.at[index, 'Emission Class 4'] = value

print(len(df_new10['Emission Class']), len(df_new10['Emission Class 1']), len(df_new10['Emission Class 2']), len(df_new10['Emission Class 3']), len(df_new10['Emission Class 4']))
print(df_new10['Emission Class'].isnull().sum()), print(df_new10['Emission Class 1'].isnull().sum()), print(df_new10['Emission Class 2'].isnull().sum()), print(df_new10['Emission Class 3'].isnull().sum()), print(df_new10['Emission Class 4'].isnull().sum())

In [ ]:
df_new10['Emission Class 1'] = df_new10['Emission Class 1'].apply(lambda x: x[0] if isinstance(x, list) and len(x) == 1 else x)
df_new10['Emission Class 2'] = df_new10['Emission Class 2'].apply(lambda x: x[0] if isinstance(x, list) and len(x) >= 1 else np.nan)
df_new10['Emission Class 3'] = df_new10['Emission Class 3'].apply(lambda x: x[0] if isinstance(x, list) and len(x) >= 1 else np.nan)
df_new10['Emission Class 4'] = df_new10['Emission Class 4'].apply(lambda x: x[0] if isinstance(x, list) and len(x) >= 1 else np.nan)

In [ ]:
df_new10['Emission Class 1'] = df_new10['Emission Class 1'].str.strip()

In [ ]:
df_new10[['Emission Class', 'Emission Class 1', 'Emission Class 2', 'Emission Class 3', 'Emission Class 4']].head(50)

In [ ]:
df_new10[['Emission Class', 'Emission Class 1', 'Emission Class 2', 'Emission Class 3', 'Emission Class 4']].info()

In [ ]:
df_new10['Emission Label'].value_counts()

In [ ]:
df_new10['Emission Label'].info()

In [ ]:
my_list_96 = []
for sublist in df_new10['Emission Label']:
  if isinstance(sublist, list):
    my_list_96.append(len(sublist))
print(len(my_list_96), np.unique(my_list_96))

In [ ]:
my_list_97 = []

for index, sublist in df_new10['Emission Label'].items():
  if isinstance(sublist, list):
    if len(sublist) == 1:
      my_list_97.append((index, sublist[0]))
print(len(my_list_97))

In [ ]:
df_new10['Emission Label 1'] = None

for index, value in my_list_97:
  df_new10.at[index, 'Emission Label 1'] = value.strip()

print(len(df_new10['Emission Label']), len(df_new10['Emission Label 1']))
print(df_new10['Emission Label'].isnull().sum()), print(df_new10['Emission Label 1'].isnull().sum())

In [ ]:
df_new10[['Emission Label', 'Emission Label 1']].head(50)

In [ ]:
df_new9.info()

In [ ]:
df_new10['Gears'].value_counts()

In [ ]:
df_new10['Gears'].info()

In [ ]:
my_list_98 = []
for sublist in df_new10['Gears']:
  if isinstance(sublist, list):
    my_list_98.append(len(sublist))
print(len(my_list_98), np.unique(my_list_98))

In [ ]:
my_list_99 = []
for index, sublist in df_new10['Gears'].items():
  if isinstance(sublist, list):
    my_list_99.append((index, sublist[0].strip()))

print(len(my_list_99))

In [ ]:
df_new10['Gears 1'] = None
for index, value in my_list_99:
  df_new10.at[index, 'Gears 1'] = value

print(len(df_new10['Gears']), len(df_new10['Gears 1'])), print(df_new10['Gears'].isnull().sum()), print(df_new10['Gears 1'].isnull().sum())

In [ ]:
df_new10[['Gears', 'Gears 1']].head(50)

In [ ]:
df_new10['Country version'].value_counts()

In [ ]:
df_new10['Country version'].info()

In [ ]:
my_list_100 = []
for sublist in df_new10['Country version']:
  if isinstance(sublist, list):
    my_list_100.append(len(sublist))
print(len(my_list_100), np.unique(my_list_100))

In [ ]:
my_list_101 = []

for index, sublist in df_new10['Country version'].items():
  if isinstance(sublist, list):
    my_list_101.append((index, sublist[0].strip()))

print(len(my_list_101))
my_list_101

In [ ]:
df_new10['Country version 1'] = None

for index, value in my_list_101:
  df_new10.at[index, 'Country version 1'] = value

In [ ]:
print(len(df_new10['Country version']), len(df_new10['Country version 1']))
print(df_new10['Country version'].isnull().sum()), print(df_new10['Country version 1'].isnull().sum())

In [ ]:
df_new10[['Country version', 'Country version 1']].head(50)

In [ ]:
df_new9.info()

In [ ]:
df_new10['Electricity consumption'].value_counts()

In [ ]:
my_lisit_102 = []
for sublist in df_new10['Electricity consumption']:
  if isinstance(sublist, list):
    my_lisit_102.append(len(sublist))
print(len(my_lisit_102), np.unique(my_lisit_102))

In [ ]:
my_list_103 = []
for index, sublist in df_new10['Electricity consumption'].items():
  if isinstance(sublist, list):
    my_list_103.append((index, sublist[0].strip()))
print(len(my_list_103))

In [ ]:
df_new10['Electricity consumption 1'] = None
for index, value in my_list_103:
  df_new10.at[index, 'Electricity consumption 1'] = value

print(len(df_new10['Electricity consumption']), len(df_new10['Electricity consumption 1']))
print(df_new10['Electricity consumption'].isnull().sum()), print(df_new10['Electricity consumption 1'].isnull().sum())

In [ ]:
df_new10[['Electricity consumption', 'Electricity consumption 1']].head(50)

In [ ]:
df_new10['Last Service Date'].info()

In [ ]:
df_new10['Last Service Date'].value_counts()

In [ ]:
my_list_104 = []
for sublist in df_new10['Last Service Date']:
  if isinstance(sublist, list):
    my_list_104.append(len(sublist))
  if isinstance(sublist, str):
    my_list_104.append(sublist.strip())
print(len(my_list_104))
print(np.unique(my_list_104))

In [ ]:
my_list_105 = []
for sublist in df_new10['Last Service Date']:
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    my_list_105.append(len(sublist))
print(len(my_list_105))
print(np.unique(my_list_105))

In [ ]:
my_list_106 = []
my_list_107 = []
my_list_108 = []
my_list_109 = []
my_list_110 = []
my_list_111 = []
my_list_112 = []
my_list_113 = []

for index, sublist in df_new10['Last Service Date'].items():
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    if len(sublist) == 1:
      my_list_106.append((index, sublist[0].strip()))
    if len(sublist) == 2:
      my_list_107.append((index, sublist[0].strip()))
      my_list_108.append((index, sublist[1].strip()))
    if len(sublist) == 4:
      my_list_109.append((index, sublist[0]))
      my_list_110.append((index, sublist[1]))
      my_list_111.append((index, sublist[2]))
      my_list_112.append((index, sublist[3]))
  if isinstance(sublist, str):
    my_list_113.append((index, sublist.strip()))


print(len(my_list_106), len(my_list_107), len(my_list_108), len(my_list_109), len(my_list_110), len(my_list_111), len(my_list_112), len(my_list_113))
my_list_106

In [ ]:
df_new10['Last Service Date 1'] = None
df_new10['Last Service Date 2'] = None
df_new10['Last Service Date 3'] = None
df_new10['Last Service Date 4'] = None

for index, value in my_list_106:
  df_new10.at[index, 'Last Service Date 1'] = value
for index, value in my_list_107:
  df_new10.at[index, 'Last Service Date 2'] = value
for index, value in my_list_108:
  df_new10.at[index, 'Last Service Date 3'] = value
for index, value in my_list_113:
  df_new10.at[index, 'Last Service Date 4'] = value

print(len(df_new10['Last Service Date']), len(df_new10['Last Service Date 1']), len(df_new10['Last Service Date 2']), len(df_new10['Last Service Date 3']), len(df_new10['Last Service Date 4']))
print(df_new10['Last Service Date'].isnull().sum()), print(df_new10['Last Service Date 1'].isnull().sum()), print(df_new10['Last Service Date 2'].isnull().sum()), print(df_new10['Last Service Date 3'].isnull().sum()), print(df_new10['Last Service Date 4'].isnull().sum())

# I did not make columns for the lists with only 2 rows my_list_109, my_list_110, my_list_111, my_list_112. Therefore there is a discrepancy of 2 in non-null values

In [ ]:
df_new10[['Last Service Date', 'Last Service Date 1', 'Last Service Date 2', 'Last Service Date 3', 'Last Service Date 4']].head(50)

In [ ]:
df_new10.loc[3500:3550][['Last Service Date', 'Last Service Date 1', 'Last Service Date 2', 'Last Service Date 3', 'Last Service Date 4']]

In [ ]:
df_new10['Last Service Date 1'].unique()

In [ ]:
df_new10['Last Service Date 2'].unique()

In [ ]:
df_new10['Last Service Date 3'].unique()

In [ ]:
df_new10['Last Service Date 4'].unique()

In [ ]:
df_new10['Last Service Date 2'] = df_new10['Last Service Date 2'].fillna(df_new10['Last Service Date 1'])

In [ ]:
df_new10['Last Service Date 2'] = df_new10['Last Service Date 2'].fillna(df_new10['Last Service Date 4'])

In [ ]:
print(len(df_new10['Last Service Date']), len(df_new10['Last Service Date 1']), len(df_new10['Last Service Date 2']), len(df_new10['Last Service Date 3']), len(df_new10['Last Service Date 4']))
print(df_new10['Last Service Date'].isnull().sum()), print(df_new10['Last Service Date 1'].isnull().sum()), print(df_new10['Last Service Date 2'].isnull().sum()), print(df_new10['Last Service Date 3'].isnull().sum()), print(df_new10['Last Service Date 4'].isnull().sum())

In [ ]:
df_new11 = df_new10.drop(['Last Service Date 1', 'Last Service Date 4'], axis = 1)

In [ ]:
print(len(df_new11['Last Service Date']), len(df_new11['Last Service Date 2']), len(df_new11['Last Service Date 3']))
print(df_new11['Last Service Date'].isnull().sum()), print(df_new11['Last Service Date 2'].isnull().sum()), print(df_new11['Last Service Date 3'].isnull().sum())

In [ ]:
df_new11[['Last Service Date', 'Last Service Date 2', 'Last Service Date 3']].head(50)

In [ ]:
df_new11['Other Fuel Types'].value_counts()

In [ ]:
df_new11['Other Fuel Types'].info()

In [ ]:
df_new12 = df_new11.drop(['Other Fuel Types'], axis = 1)

In [ ]:
df_new12['Availability'].value_counts()

In [ ]:
df_new12['Availability'].unique()

In [ ]:
df_new12['Availability'].info()

In [ ]:
df_new12['Availability'] = df_new12['Availability'].str.strip()

In [ ]:
df_new12['Availability'].value_counts()

In [ ]:
df_new12['Availability'].unique()

In [ ]:
df_new12['Availability'].info()

In [ ]:
df_new9.info()

In [ ]:
df_new12['Last Timing Belt Service Date'].value_counts()

In [ ]:
df_new12['Last Timing Belt Service Date'].isnull().sum()

In [ ]:
df_new13 = df_new12.drop(['Last Timing Belt Service Date'], axis = 1)

In [ ]:
df_new13['Available from'].info()

In [ ]:
df_new13['Available from'].value_counts()

In [ ]:
df_new13['Available from'].unique()

In [ ]:
df_new13['Available from'] = df_new13['Available from'].str.strip()

In [ ]:
df_new13['Available from'].unique()

In [ ]:
df_new13['Available from'].info()

In [ ]:
df_new13['Available from'] = pd.to_datetime(df_new13['Available from'], format = '%d/%m/%y')

In [ ]:
df_new13['Available from'].unique()

In [ ]:
df_new13['Available from'].info()

In [ ]:
df_new9.info()

In [ ]:
df_new14 = df_new13.drop(['Warranty Type_4', 'Warranty Type_5', 'Full Service Type_1', 'Full Service Type_2', 'Full Service Type_7',
                          'Non-smoking Vehicle 1', 'Non-smoking Vehicle 2', 'Non-smoking Vehicle 7'], axis = 1)

In [ ]:
df_new14.describe(include='all')

In [ ]:
df_new15 = df_new14.drop(['CO2 Emission 2', 'CO2 Emission 3', 'CO2 Emission 4', 'Emission Class 2', 'Emission Class 3', 'Emission Class 4'], axis = 1)

In [ ]:
df_new15.describe(include='all')

In [ ]:
sorted_columns = sorted(df_new15.columns)

In [ ]:
df_new15 = df_new15[sorted_columns]

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df_new15.describe(include='all')

In [ ]:
df_new16 = df_new15.drop('url', axis = 1)

In [ ]:
df_new16.describe(include='all')

In [ ]:
df_new16.columns = df_new16.columns.str.lower().str.replace(' & ', '_').str.replace(' ','_').str.strip()

In [ ]:
df_new16.describe(include='all')

In [ ]:
df_new17 = df_new16.drop(['availability', 'available_from','consumption_1','electricity_consumption', 'electricity_consumption_1', 'fuel', 'fuel_1',
                          'full_service_type_4', 'full_service_type_5', 'full_service_type_6',
                          'non-smoking_vehicle_4', 'non-smoking_vehicle_5', 'non-smoking_vehicle_6',
                          'warranty_type_1', 'warranty_type_10',	'warranty_type_11',	'warranty_type_12',
                          'warranty_type_6',	'warranty_type_7',	'warranty_type_8',	'warranty_type_9'],
                          axis = 1)

In [ ]:
df_new17.describe(include='all')

In [ ]:
df_new17['fuel_type'].value_counts()

In [ ]:
diesel = df_new17['fuel_type'].str.contains('Diesel')

In [ ]:
df_new17.loc[diesel, 'fuel_type'] = 'Diesel'

In [ ]:
benzine = df_new17['fuel_type'].str.contains('Benzine', regex=True)

In [ ]:
df_new17.loc[benzine, 'fuel_type'] = 'Benzine'

In [ ]:
gasoline = df_new17['fuel_type'].str.contains('Gasoline', regex=True)

In [ ]:
super = df_new17['fuel_type'].str.contains('Super', regex=True)

In [ ]:
df_new17.loc[gasoline, 'fule_type'] = 'Benzine'

In [ ]:
df_new17.loc[super, 'fuel_type'] = 'Benzine'

In [ ]:
df_new17['fuel_type'].value_counts()

In [ ]:
gas = ['CNG', 'LPG', 'Liquid petroleum gas (LPG)', 'CNG (Particulate Filter)', 'Biogas', 'Domestic gas H' ]

In [ ]:
gas_1 = df_new17['fuel_type'].isin(gas)
gas_1

In [ ]:
df_new17.loc[gas_1, 'fuel_type'] = 'Gas'

In [ ]:
gasoline_1 = ['Gasoline', 'Gasoline (Particulate Filter)', 'Electric/Gasoline']
gasoline_2 = df_new17['fuel_type'].isin(gasoline_1)
df_new17.loc[gasoline_2, 'fuel_type'] = 'Benzine'

In [ ]:
df_new17['fuel_type'].value_counts()

In [ ]:
others = df_new17['fuel_type'].isin(['Others', 'Others (Particulate Filter)', 'Electric'])
df_new17.loc[others, 'fuel_type'] = 'Others'

In [ ]:
df_new17['fuel_type'].value_counts()

In [ ]:
df_new17.describe(include='all')

,comfort_convenience,entertainment_media,extras,safety_security,body,body_1,body_color,body_color_1,body_color_original,body_color_original_1,co2_emission,co2_emission_1,consumption,consumption_2,consumption_3,consumption_4,country_version,country_version_1,cylinders,cylinders_1,displacement,displacement_1,drive_chain,drive_chain_1,emission_class,emission_class_1,emission_label,emission_label_1,first_registration,first_registration_1,fuel_type,full_service,full_service_type_3,gearing_type,gearing_type_1,gears,gears_1,inspection_new,inspection_new_city,inspection_new_comb,inspection_new_country,inspection_new_done,last_service_date,last_service_date_2,last_service_date_3,make,mileage_(km),model_code,model_code_1,model_type,next_inspection,next_inspection_date,non-smoking_vehicle,non-smoking_vehicle_3,nr._of_doors,nr._of_doors_1,nr._of_seats,nr._of_seats_1,offer_number,offer_number_1,paint_type,paint_type_1,previous_owners,upholstery,upholstery_3,upholstery_4,vehicle_type,warranty,warranty_time,warranty_type_2,warranty_type_3,weight,weight_1,weight_2,body_type,description,hp_(kw),make,model,price,registration,short_description,vat,fule_type
count,14689,14262,12708,14626,15582,15582,14988,14988,11901,11901,13813,13205,13733,13719,13719,13719,7375,7375,10038,10038,15131,15131,8862,8862,12692,12101,3927,3887,14026,14026,15583,8038,6147,15582,15582,10959,10959,3793,331,3361,331,3793,558,556,474,15582,15582,4842,4842,15582,3433,3433,7009,3428,15379,15379,14677,14677,12515,12515,9975,9975,9014.0,11940,11158,10608,15582,10297,4770,2465,4197,8801,8801,8801.0,15582,15582,15582,15582,15582,15582.000000,14026,15582,11163,3217
unique,6086,345,650,4359,9,9,14,14,1904,1904,122,121,873,80,93,64,23,23,7,7,75,75,3,3,7,6,6,5,4,4,4,122,93,3,3,10,10,202,36,129,24,1,265,37,58,3,6614,226,226,9,1366,77,94,81,6,6,6,6,11220,11220,3,3,<NA>,46,6,16,5,512,41,93,92,433,433,<NA>,9,12594,79,3,9,NaN,47,9820,2,1
top,"[Air conditioning, Electrical side mirrors, Hi...","[Bluetooth, Hands-free equipment, On-board com...",[Alloy wheels],"[ABS, Central door lock, Daytime running light...","[\n, Sedans, \n]",Sedans,"[\n, Black, \n]",Black,[\nOnyx Schwarz\n],Onyx Schwarz,[\n120 g CO2/km (comb)\n],120 g CO2/km (comb),"[[3.9 l/100 km (comb)], [4.1 l/100 km (city)],...",5.4 l/100 km (comb),5 l/100 km (city),4.2 l/100 km (country),[\nGermany\n],Germany,[\n4\n],4,"[\n1,598 cc\n]","1,598 cc",[\nfront\n],front,[\nEuro 6\n],Euro 6,[\n4 (Green)\n],4 (Green),"[\n, 2018, \n]",2018,Benzine,"[\n, \n, \n4 (Green)\n]",4 (Green),"[\n, Manual, \n]",Manual,[\n6\n],6,"[\nYes\n, \nEuro 6\n]",6.7 l/100 km (city),Euro 6,4.6 l/100 km (country),Yes,"[\n02/2019\n, \nEuro 6\n]",05/2019,Euro 6,Opel,10,[\n0035/BCB\n],0035/BCB,A3,\n04/2022\n,2021-06,"[\n, \n]",4 (Green),[\n5\n],5,[\n5\n],5,[\nTA76392\n],TA76392,[\nMetallic\n],Metallic,<NA>,"[\nCloth, Black\n]",Cloth,Black,Used,"[\n, \n, \nEuro 6\n]",12 months,Euro 6,Euro 6,"[\n1,163 kg\n]",1163,<NA>,Sedans,[],85,Opel,A3,NaN,2018-03,SPB 1.6 TDI 116 CV S tronic Sport,VAT deductible,Benzine
freq,211,1255,3188,532,7794,7794,3682,3682,328,328,716,716,302,741,654,1144,4355,4355,7937,7937,4713,4713,8692,8692,10024,10024,3499,3499,4450,4450,8345,2204,2204,8014,8014,5673,5673,490,35,490,37,3793,23,61,176,7194,1019,261,261,3061,62,433,3499,1230,11308,11308,13111,13111,27,27,9627,9627,<NA>,5698,8257,7524,10888,1858,2554,614,1858,569,569,<NA>,7794,626,2511,7194,3061,NaN,687,64,10751,3217
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.070668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1351.36939,NaN,NaN,NaN,NaN,NaN,17967.031254,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.32704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220.819426,NaN,NaN,NaN,NaN,NaN,7346.733274,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,13.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1167.0,NaN,NaN,NaN,NaN,NaN,12799.250000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1288.0,NaN,NaN,NaN,NaN,NaN,16890.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1487.0,NaN,NaN,NaN,NaN,NaN,21900.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2471.0,NaN,NaN,NaN,NaN,NaN,74600.000000,NaN,NaN,NaN,NaN

In [ ]:
df_new18 = df_new17.drop(['body', 'body_color', 'body_color_original', 'co2_emission',
                          'consumption', 'country_version', 'cylinders', 'displacement',
                          'drive_chain', 'emission_class', 'emission_label', 'first_registration',
                          'full_service', 'gearing_type', 'gears', 'inspection_new', 'inspection_new_city',
                          'inspection_new_country', 'last_service_date', 'last_service_date_2', 'last_service_date_3',
                          'model_code', 'next_inspection', 'non-smoking_vehicle', 'nr._of_doors', 'nr._of_seats',
                          'offer_number', 'paint_type', 'upholstery', 'warranty', 'weight', 'description'], axis = 1)

In [ ]:
df_new18.describe(include='all')

,comfort_convenience,entertainment_media,extras,safety_security,body_1,body_color_1,body_color_original_1,co2_emission_1,consumption_2,consumption_3,consumption_4,country_version_1,cylinders_1,displacement_1,drive_chain_1,emission_class_1,emission_label_1,first_registration_1,fuel_type,full_service_type_3,gearing_type_1,gears_1,inspection_new_comb,inspection_new_done,make,mileage_(km),model_code_1,model_type,next_inspection_date,non-smoking_vehicle_3,nr._of_doors_1,nr._of_seats_1,offer_number_1,paint_type_1,previous_owners,upholstery_3,upholstery_4,vehicle_type,warranty_time,warranty_type_2,warranty_type_3,weight_1,weight_2,body_type,hp_(kw),make,model,price,registration,short_description,vat,fule_type
count,14689,14262,12708,14626,15582,14988,11901,13205,13719,13719,13719,7375,10038,15131,8862,12101,3887,14026,15583,6147,15582,10959,3361,3793,15582,15582,4842,15582,3433,3428,15379,14677,12515,9975,9014.0,11158,10608,15582,4770,2465,4197,8801,8801.0,15582,15582,15582,15582,15582.000000,14026,15582,11163,3217
unique,6086,345,650,4359,9,14,1904,121,80,93,64,23,7,75,3,6,5,4,4,93,3,10,129,1,3,6614,226,9,77,81,6,6,11220,3,<NA>,6,16,5,41,93,92,433,<NA>,9,79,3,9,NaN,47,9820,2,1
top,"[Air conditioning, Electrical side mirrors, Hi...","[Bluetooth, Hands-free equipment, On-board com...",[Alloy wheels],"[ABS, Central door lock, Daytime running light...",Sedans,Black,Onyx Schwarz,120 g CO2/km (comb),5.4 l/100 km (comb),5 l/100 km (city),4.2 l/100 km (country),Germany,4,"1,598 cc",front,Euro 6,4 (Green),2018,Benzine,4 (Green),Manual,6,Euro 6,Yes,Opel,10,0035/BCB,A3,2021-06,4 (Green),5,5,TA76392,Metallic,<NA>,Cloth,Black,Used,12 months,Euro 6,Euro 6,1163,<NA>,Sedans,85,Opel,A3,NaN,2018-03,SPB 1.6 TDI 116 CV S tronic Sport,VAT deductible,Benzine
freq,211,1255,3188,532,7794,3682,328,716,741,654,1144,4355,7937,4713,8692,10024,3499,4450,8345,2204,8014,5673,490,3793,7194,1019,261,3061,433,1230,11308,13111,27,9627,<NA>,8257,7524,10888,2554,614,1858,569,<NA>,7794,2511,7194,3061,NaN,687,64,10751,3217
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.070668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1351.36939,NaN,NaN,NaN,NaN,17967.031254,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.32704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220.819426,NaN,NaN,NaN,NaN,7346.733274,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,13.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1167.0,NaN,NaN,NaN,NaN,12799.250000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1288.0,NaN,NaN,NaN,NaN,16890.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1487.0,NaN,NaN,NaN,NaN,21900.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2471.0,NaN,NaN,NaN,NaN,74600.000000,NaN,NaN,NaN,NaN

In [ ]:
df_new18.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15583 entries, 0 to Electric/Gasoline
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   comfort_convenience    14689 non-null  object
 1   entertainment_media    14262 non-null  object
 2   extras                 12708 non-null  object
 3   safety_security        14626 non-null  object
 4   body_1                 15582 non-null  object
 5   body_color_1           14988 non-null  object
 6   body_color_original_1  11901 non-null  object
 7   co2_emission_1         13205 non-null  object
 8   consumption_2          13719 non-null  object
 9   consumption_3          13719 non-null  object
 10  consumption_4          13719 non-null  object
 11  country_version_1      7375 non-null   object
 12  cylinders_1            10038 non-null  object
 13  displacement_1         15131 non-null  object
 14  drive_chain_1          8862 non-null   object
 15  emission_class_1       12101 non-null  object
 16  emission_label_1       3887 non-null   object
 17  first_registration_1   14026 non-null  object
 18  fuel_type              15583 non-null  object
 19  full_service_type_3    6147 non-null   object
 20  gearing_type_1         15582 non-null  object
 21  gears_1                10959 non-null  object
 22  inspection_new_comb    3361 non-null   object
 23  inspection_new_done    3793 non-null   object
 24  make                   15582 non-null  object
 25  mileage_(km)           15582 non-null  object
 26  model_code_1           4842 non-null   object
 27  model_type             15582 non-null  object
 28  next_inspection_date   3433 non-null   period[M]
 29  non-smoking_vehicle_3  3428 non-null   object
 30  nr._of_doors_1         15379 non-null  object
 31  nr._of_seats_1         14677 non-null  object
 32  offer_number_1         12515 non-null  object
 33  paint_type_1           9975 non-null   object
 34  previous_owners        9014 non-null   Int64
 35  upholstery_3           11158 non-null  object
 36  upholstery_4           10608 non-null  object
 37  vehicle_type           15582 non-null  object
 38  warranty_time          4770 non-null   object
 39  warranty_type_2        2465 non-null   object
 40  warranty_type_3        4197 non-null   object
 41  weight_1               8801 non-null   object
 42  weight_2               8801 non-null   Int64
 43  body_type              15582 non-null  object
 44  hp_(kw)                15582 non-null  object
 45  make                   15582 non-null  object
 46  model                  15582 non-null  object
 47  price                  15582 non-null  float64
 48  registration           14026 non-null  period[M]
 49  short_description      15582 non-null  object
 50  vat                    11163 non-null  object
 51  fule_type              3217 non-null   object
dtypes: Int64(2), float64(1), object(47), period[M](2)
memory usage: 6.8+ MB