<a href="https://colab.research.google.com/github/sasansharee/Sasan_MMA_Projects/blob/main/Auto_Scout_Project_Missing_Value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
df_23_org = pd.read_csv('/content/df_22_cleaned.csv')

In [ ]:
df_23 = df_23_org.copy()

In [ ]:
df_23.drop('body', axis = 1, inplace = True)

In [ ]:
df_23.info()

In [ ]:
df_23.head().T

In [ ]:
df_23['age'] = 2019 - df_23['year_registration']

**age**

In [ ]:
df_23['age'].isnull().sum()

In [ ]:
df_23['age'].value_counts()

In [ ]:
condition = (df_23['type_new_used'] == 'New') & (pd.isnull(df_23['age']))
df_23.loc[condition, 'age'] = 0

In [ ]:
df_23['age'].isnull().sum()

In [ ]:
df_23.groupby('age')['km'].describe()

In [ ]:
df_23.groupby('age')['price'].describe()

In [ ]:
df_23.loc[pd.isnull(df_23['age']), 'km'].value_counts()

In [ ]:
cond1 = df_23['km'] < 10000
cond2 = (df_23['km'] >= 10000) & (df_23['km'] < 28000)
cond3 = (df_23['km'] >= 28000) & (df_23['km'] < 50000)
cond4 = (df_23['km'] >= 50000)

In [ ]:
df_23.loc[cond1, 'age'] = df_23.loc[cond1, 'age'].fillna(0)
df_23.loc[cond2, 'age'] = df_23.loc[cond2, 'age'].fillna(1)
df_23.loc[cond3, 'age'] = df_23.loc[cond3, 'age'].fillna(2)
df_23.loc[cond4, 'age'] = df_23.loc[cond4, 'age'].fillna(3)

In [ ]:
df_23['age'].isnull().sum()

In [ ]:
df_23['age'].value_counts()

In [ ]:
df_23[pd.isnull(df_23['age'])][['make_model', 'body_type', 'price']]

In [ ]:
df_23.groupby(['make_model', 'body_type', 'age'])['price'].mean()

In [ ]:
df_23[(df_23['make_model'] == 'Audi A3') & (df_23['body_type'] == 'Sedans')].groupby('age')['price'].mean()

In [ ]:
df_23[(df_23['make_model'] == 'Opel Insignia') & (df_23['body_type'] == 'Sedans')].groupby('age')['price'].mean()

In [ ]:
df_23[(df_23['make_model'] == 'Opel Insignia') & (df_23['body_type'] == 'Station wagon')].groupby('age')['price'].mean()

In [ ]:
df_23['age'] = df_23['age'].fillna(0)

In [ ]:
df_23['age'].info()

**body**

In [ ]:
df_23['body_type'].isnull().sum()

In [ ]:
df_23['body_type'].value_counts()

In [ ]:
df_23['body_type'] = df_23['body_type'].replace('Other', np.nan)

In [ ]:
df_23['body_type'].isnull().sum()

In [ ]:
df_23['body_type'].mode()[0]

In [ ]:
df_23.loc[df_23['body_type'].isnull(), 'make_model'].value_counts()

In [ ]:
for group1 in list(df_23['make_model'].unique()):
  cond = df_23['make_model'] == group1
  mode1 = list(df_23[cond]['body_type'].mode())
  if mode1 != []:
    df_23.loc[cond, 'body_type'] = df_23.loc[cond, 'body_type'].fillna(df_23[cond]['body_type'].mode()[0])
  else:
    df_23.loc[cond, 'body_type'] = df_23.loc[cond, 'body_type'].fillna(df_23['body_type'].mode()[0])

In [ ]:
df_23['body_type'].isnull().sum()

In [ ]:
df_23['body_type'].value_counts()

**body_color**

In [ ]:
df_23['body_color'].isnull().sum()

In [ ]:
df_23['body_color'].value_counts()

In [ ]:
for group1 in df_23['make_model'].unique():
  for group2 in df_23['body_type'].unique():
    cond1 = df_23['make_model'] == group1
    cond2 = (df_23['make_model'] == group1) & (df_23['body_type'] == group2)
    mode1 = df_23[cond1]['body_color'].mode().tolist()
    mode2 = df_23[cond2]['body_color'].mode().tolist()
    if mode2 != []:
      df_23.loc[cond2, 'body_color'] = df_23.loc[cond2, 'body_color'].fillna(df_23[cond2]['body_color'].mode()[0])
    elif mode1 != []:
      df_23.loc[cond2, 'body_color'] = df_23.loc[cond2, 'body_color'].fillna(df_23[cond1]['body_color'].mode()[0])
    else:
      df_23.loc[cond2, 'body_color'] = df_23.loc[cond2, 'body_color'].fillna(df_23['body_color'].mode()[0])

In [ ]:
df_23['body_color'].isnull().sum()

In [ ]:
df_23['body_color'].value_counts()

**km**

In [ ]:
df_23['km'].isnull().sum()

In [ ]:
df_23.groupby(['make_model', 'body_type', 'age'])['km'].median()

In [ ]:
df_23['km'] = df_23.groupby(['make_model', 'body_type', 'age'])['km'].transform('median')

In [ ]:
df_23['km'].isnull().sum()

In [ ]:
df_23['km'] = df_23.groupby(['make_model', 'age'])['km'].transform('median')

In [ ]:
df_23['km'].isnull().sum()

**prev_owner**

In [ ]:
df_23['prev_owner'].isnull().sum()

In [ ]:
df_23['prev_owner']= df_23['prev_owner'].fillna('-')

In [ ]:
df_23['prev_owner'].value_counts()

In [ ]:
df_23.groupby(['age', 'prev_owner'])['price'].describe()

In [ ]:
df_23['prev_owner']= df_23['prev_owner'].replace('-', np.nan)

In [ ]:
for group1 in df_23['age'].unique():
  cond1 = df_23['age'] == group1
  df_23.loc[cond1, 'prev_owner'] = df_23.loc[cond1, 'prev_owner'].fillna(method = 'ffill').fillna(method = 'bfill')
df_23['prev_owner'] = df_23['prev_owner'].fillna(method = 'ffill').fillna(method = 'bfill')

In [ ]:
df_23['prev_owner'].isnull().sum()

In [ ]:
df_23['prev_owner'].value_counts()

In [ ]:
df_23.groupby(['age', 'prev_owner'])['price'].describe()

**Warranty**

In [ ]:
df_23['warranty_1'].isnull().sum()

In [ ]:
df_23['warranty_1'].value_counts()

In [ ]:
df_23.groupby('make_model')['warranty_1'].value_counts()

In [ ]:
for group1 in df_23['make_model'].unique():
  cond = df_23['make_model'] == group1
  df_23.loc[cond, 'warranty_1'] = df_23.loc[cond, 'warranty_1'].fillna(method = 'ffill').fillna(method = 'bfill')
df_23['warranty_1'] = df_23['warranty_1'].fillna(method = 'ffill').fillna(method = 'bfill')

In [ ]:
df_23['warranty_1'].isnull().sum()

**paint_type**

In [ ]:
df_23['paint_type'].isnull().sum()

In [ ]:
df_23.groupby(['make_model', 'body_type', 'paint_type'])['price'].describe().sort_values(by = ['make_model', 'mean'], ascending = True)

In [ ]:
for group1 in df_23['make_model'].unique():
  for group2 in df_23['body_type'].unique():
    cond2 = (df_23['make_model'] == group1) & (df_23['body_type'] == group2)
    df_23.loc[cond2, 'paint_type'] = df_23.loc[cond2, 'paint_type'].fillna(method = 'ffill').fillna(method = 'bfill')

In [ ]:
df_23['paint_type'].isnull().sum()

In [ ]:
for group1 in df_23['make_model'].unique():
  cond1 = df_23['make_model'] == group1
  df_23.loc[cond1, 'paint_type'] = df_23.loc[cond1, 'paint_type'].fillna(method = 'ffill').fillna(method = 'bfill')

In [ ]:
df_23['paint_type'].isnull().sum()

**type_new_used**

In [ ]:
df_23['type_new_used'].isnull().sum()

In [ ]:
df_23[pd.isnull(df_23['type_new_used'])][['make_model', 'age', 'km', 'price']]

In [ ]:
df_23.loc[2765, 'type_new_used'] = 'Used'

In [ ]:
df_23.loc[5237, 'type_new_used'] = 'New'

In [ ]:
df_23['type_new_used'].isnull().sum()

**inspection_new**

In [ ]:
df_23['inspection_new'].isnull().sum()

In [ ]:
df_23['inspection_new'].value_counts()

In [ ]:
df_23['inspection_new'] = df_23['inspection_new'].replace(np.nan, 'No')

In [ ]:
df_23['inspection_new'].value_counts()

**upholstery_type**

In [ ]:
df_23['upholstery_type'].isnull().sum()

In [ ]:
df_23['upholstery_type'].value_counts()

In [ ]:
df_23['upholstery_type'] = df_23['upholstery_type'].replace(['Velour', 'alcantara', 'Part leather', 'Full leather'], ['Cloth', 'Part/Full leather',
'Part/Full leather', 'Part/Full leather'])

In [ ]:
df_23['upholstery_type'].value_counts()

In [ ]:
for group1 in df_23['make_model'].unique():
  for group2 in df_23['body_type'].unique():
    cond2 = (df_23['make_model'] == group1) & (df_23['body_type'] == group2)
    df_23.loc[cond2, 'upholstery_type'] = df_23.loc[cond2, 'upholstery_type'].fillna(method = 'ffill').fillna(method = 'bfill')

In [ ]:
df_23['upholstery_type'].isnull().sum()

In [ ]:
  for group1 in df_23['make_model'].unique():
    cond1 = df_23['make_model'] == group1
    df_23.loc[cond1, 'upholstery_type'] = df_23.loc[cond1, 'upholstery_type'].fillna(method = 'ffill').fillna(method = 'bfill')

In [ ]:
df_23['upholstery_type'].isnull().sum()

**upholstery_color**

In [ ]:
df_24 = df_23.drop('upholstery_color', axis = 1)

**nr_of_doors**

In [ ]:
df_24['nr_of_doors'].isnull().sum()

In [ ]:
df_24['nr_of_doors'].value_counts()

In [ ]:
df_24.groupby(['make_model', 'body_type', 'nr_of_doors'])['price'].describe()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
    mode1 = df_24[cond1]['nr_of_doors'].mode().tolist()
    mode2 = df_24[cond2]['nr_of_doors'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'nr_of_doors'] = df_24.loc[cond2, 'nr_of_doors'].fillna(df_24[cond2]['nr_of_doors'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'nr_of_doors'] = df_24.loc[cond2, 'nr_of_doors'].fillna(df_24[cond1]['nr_of_doors'].mode()[0])
    else:
      df_24.loc[cond2, 'nr_of_doors'] = df_24.loc[cond2, 'nr_of_doors'].fillna(df_24['nr_of_doors'].mode()[0])

In [ ]:
df_24['nr_of_doors'].isnull().sum()

In [ ]:
df_24['nr_of_doors'].value_counts()

**nr_of_seats**

In [ ]:
df_24['nr_of_seats'].isnull().sum()

In [ ]:
df_24['nr_of_seats'].value_counts()

In [ ]:
df_24.groupby(['make_model', 'body_type', 'nr_of_seats'])['price'].describe()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
    mode1 = df_24[cond1]['nr_of_seats'].mode().tolist()
    mode2 = df_24[cond2]['nr_of_seats'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'nr_of_seats'] = df_24.loc[cond2, 'nr_of_seats'].fillna(df_24[cond2]['nr_of_seats'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'nr_of_seats'] = df_24.loc[cond2, 'nr_of_seats'].fillna(df_24[cond1]['nr_of_seats'].mode()[0])
    else:
      df_24.loc[cond2, 'nr_of_seats'] = df_24.loc[cond2, 'nr_of_seats'].fillna(df_24['nr_of_seats'].mode()[0])

In [ ]:
df_24['nr_of_seats'].isnull().sum()

In [ ]:
df_24['nr_of_seats'].value_counts()

**cylinders**

In [ ]:
df_24['cylinders'].isnull().sum()

In [ ]:
df_24['cylinders'].value_counts()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['displacement'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['displacement'] == group2)
    mode1 = df_24[cond1]['cylinders'].mode().tolist()
    mode2 = df_24[cond2]['cylinders'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'cylinders'] = df_24.loc[cond2, 'cylinders'].fillna(df_24[cond2]['cylinders'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'cylinders'] = df_24.loc[cond2, 'cylinders'].fillna(df_24[cond1]['cylinders'].mode()[0])
    else:
      df_24.loc[cond2, 'cylinders'] = df_24.loc[cond2, 'cylinders'].fillna(df_24['cylinders'].mode()[0])

In [ ]:
df_24['cylinders'].isnull().sum()

In [ ]:
df_24[pd.isnull(df_24['cylinders'])][['make_model', 'body_type', 'weight']]

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
    mode1 = df_24[cond1]['cylinders'].mode().tolist()
    mode2 = df_24[cond2]['cylinders'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'cylinders'] = df_24.loc[cond2, 'cylinders'].fillna(df_24[cond2]['cylinders'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'cylinders'] = df_24.loc[cond2, 'cylinders'].fillna(df_24[cond1]['cylinders'].mode()[0])
    else:
      df_24.loc[cond2, 'cylinders'] = df_24.loc[cond2, 'cylinders'].fillna(df_24['cylinders'].mode()[0])

In [ ]:
df_24['cylinders'].isnull().sum()

**drive_chain**

In [ ]:
df_24['drive_chain'].isnull().sum()

In [ ]:
df_24['drive_chain'].value_counts()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
    mode1 = df_24[cond1]['drive_chain'].mode().tolist()
    mode2 = df_24[cond2]['drive_chain'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'drive_chain'] = df_24.loc[cond2, 'drive_chain'].fillna(df_24[cond2]['drive_chain'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'drive_chain'] = df_24.loc[cond2, 'drive_chain'].fillna(df_24[cond1]['drive_chain'].mode()[0])
    else:
      df_24.loc[cond2, 'drive_chain'] = df_24.loc[cond2, 'drive_chain'].fillna(df_24['drive_chain'].mode()[0])

In [ ]:
df_24['drive_chain'].isnull().sum()

In [ ]:
df_24['drive_chain'].value_counts()

**emission_class**

In [ ]:
df_24['emission_class'].isnull().sum()

In [ ]:
df_24['emission_class'].value_counts()

In [ ]:
for group1 in df_24['age'].unique():
  for group2 in df_24['fuel'].unique():
    cond1 = df_24['age'] == group1
    cond2 = (df_24['age'] == group1) & (df_24['fuel'] == group2)
    mode1 = df_24[cond1]['emission_class'].mode().tolist()
    mode2 = df_24[cond2]['emission_class'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'emission_class'] = df_24.loc[cond2, 'emission_class'].fillna(df_24[cond2]['emission_class'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'emission_class'] = df_24.loc[cond2, 'emission_class'].fillna(df_24[cond1]['emission_class'].mode()[0])
    else:
      df_24.loc[cond2, 'emission_class'] = df_24.loc[cond2, 'emission_class'].fillna(df_24['emission_class'].mode()[0])

In [ ]:
df_24['emission_class'].isnull().sum()

In [ ]:
df_24['emission_class'].value_counts()

**gears**

In [ ]:
df_24['gears'].isnull().sum()

In [ ]:
df_24['gears'].value_counts()

In [ ]:
df_24.groupby(['make_model', 'body_type', 'gearing_type', 'gears'])['price'].describe()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    for group3 in df_24['gearing_type'].unique():
      cond1 = df_24['make_model'] == group1
      cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
      cond3 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2) & (df_24['gearing_type'] == group3)
      mode1 = df_24[cond1]['gears'].mode().tolist()
      mode2 = df_24[cond2]['gears'].mode().tolist()
      mode3 = df_24[cond3]['gears'].mode().tolist()
      if mode3 != []:
        df_24.loc[cond3, 'gears'] = df_24.loc[cond3, 'gears'].fillna(df_24[cond3]['gears'].mode()[0])
      elif mode2 != []:
        df_24.loc[cond3, 'gears'] = df_24.loc[cond3, 'gears'].fillna(df_24[cond2]['gears'].mode()[0])
      elif mode1 != []:
        df_24.loc[cond3, 'gears'] = df_24.loc[cond3, 'gears'].fillna(df_24[cond1]['gears'].mode()[0])
      else:
        df_24.loc[cond3, 'gears'] = df_24.loc[cond3, 'gears'].fillna(df_24['gears'].mode()[0])

In [ ]:
df_24['gears'].isnull().sum()

In [ ]:
df_24['gears'].value_counts()

**hp (kW)**

In [ ]:
df_24['hp (kW)'].isnull().sum()

In [ ]:
df_24['hp (kW)'].value_counts()

In [ ]:
df_24.groupby(['make_model', 'body_type', 'hp (kW)'])['price'].describe()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
    mode1 = df_24[cond1]['hp (kW)'].mode().tolist()
    mode2 = df_24[cond2]['hp (kW)'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'hp (kW)'] = df_24.loc[cond2, 'hp (kW)'].fillna(df_24[cond2]['hp (kW)'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'hp (kW)'] = df_24.loc[cond2, 'hp (kW)'].fillna(df_24[cond1]['hp (kW)'].mode()[0])
    else:
      df_24.loc[cond2, 'hp (kW)'] = df_24.loc[cond2, 'hp (kW)'].fillna(df_24['hp (kW)'].mode()[0])

In [ ]:
df_24['hp (kW)'].isnull().sum()

In [ ]:
df_24['hp (kW)'].value_counts()

**displacement**

In [ ]:
df_24['displacement'].isnull().sum()

In [ ]:
df_24['displacement'].value_counts()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
    mode1 = df_24[cond1]['displacement'].mode().tolist()
    mode2 = df_24[cond2]['displacement'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'displacement'] = df_24.loc[cond2, 'displacement'].fillna(df_24[cond2]['displacement'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'displacement'] = df_24.loc[cond2, 'displacement'].fillna(df_24[cond1]['displacement'].mode()[0])
    else:
      df_24.loc[cond2, 'displacement'] = df_24.loc[cond2, 'displacement'].fillna(df_24['displacement'].mode()[0])

In [ ]:
df_24['displacement'].isnull().sum()

In [ ]:
df_24['displacement'].value_counts()

**weight**

In [ ]:
df_24['weight'].isnull().sum()

In [ ]:
df_24['weight'].value_counts()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
    mode1 = df_24[cond1]['weight'].mode().tolist()
    mode2 = df_24[cond2]['weight'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'weight'] = df_24.loc[cond2, 'weight'].fillna(df_24[cond2]['weight'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'weight'] = df_24.loc[cond2, 'weight'].fillna(df_24[cond1]['weight'].mode()[0])
    else:
      df_24.loc[cond2, 'weight'] = df_24.loc[cond2, 'weight'].fillna(df_24['weight'].mode()[0])

In [ ]:
df_24['weight'].isnull().sum()

In [ ]:
df_24['weight'].value_counts()

**co2_emission**

In [ ]:
df_24['co2_emission'].isnull().sum()

In [ ]:
df_24['co2_emission'].value_counts()

In [ ]:
 df_24['co2_emission']= df_24['co2_emission'].fillna(df_24.groupby(['make_model', 'body_type'])['co2_emission'].transform('median'))

In [ ]:
df_24['co2_emission'].isnull().sum()

In [ ]:
df_24['co2_emission']= df_24['co2_emission'].fillna(df_24.groupby('make_model')['co2_emission'].transform('median'))

In [ ]:
df_24['co2_emission'].isnull().sum()

In [ ]:
df_24['co2_emission']= df_24['co2_emission'].fillna(df_24['co2_emission'].median())

In [ ]:
df_24['co2_emission'].isnull().sum()

In [ ]:
df_24['co2_emission'].value_counts()

**comfort_and_convenience**

In [ ]:
df_24['comfort_and_convenience'].isnull().sum()

In [ ]:
df_24['comfort_and_convenience'].value_counts()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
    mode1 = df_24[cond1]['comfort_and_convenience'].mode().tolist()
    mode2 = df_24[cond2]['comfort_and_convenience'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'comfort_and_convenience'] = df_24.loc[cond2, 'comfort_and_convenience'].fillna(df_24[cond2]['comfort_and_convenience'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'comfort_and_convenience'] = df_24.loc[cond2, 'comfort_and_convenience'].fillna(df_24[cond1]['comfort_and_convenience'].mode()[0])
    else:
      df_24.loc[cond2, 'comfort_and_convenience'] = df_24.loc[cond2, 'comfort_and_convenience'].fillna(df_24['comfort_and_convenience'].mode()[0])

In [ ]:
df_24['comfort_and_convenience'].isnull().sum()

In [ ]:
df_24['comfort_and_convenience'].value_counts()

**entertainment_and_media**

In [ ]:
df_24['entertainment_and_media'].isnull().sum()

In [ ]:
df_24['entertainment_and_media'].value_counts()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
    mode1 = df_24[cond1]['entertainment_and_media'].mode().tolist()
    mode2 = df_24[cond2]['entertainment_and_media'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'entertainment_and_media'] = df_24.loc[cond2, 'entertainment_and_media'].fillna(df_24[cond2]['entertainment_and_media'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'entertainment_and_media'] = df_24.loc[cond2, 'entertainment_and_media'].fillna(df_24[cond1]['entertainment_and_media'].mode()[0])
    else:
      df_24.loc[cond2, 'entertainment_and_media'] = df_24.loc[cond2, 'entertainment_and_media'].fillna(df_24['entertainment_and_media'].mode()[0])

In [ ]:
df_24['entertainment_and_media'].isnull().sum()

In [ ]:
df_24['entertainment_and_media'].value_counts()

**extras**

In [ ]:
df_24['extras'].isnull().sum()

In [ ]:
df_24['extras'].value_counts()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
    mode1 = df_24[cond1]['extras'].mode().tolist()
    mode2 = df_24[cond2]['extras'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'extras'] = df_24.loc[cond2, 'extras'].fillna(df_24[cond2]['extras'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'extras'] = df_24.loc[cond2, 'extras'].fillna(df_24[cond1]['extras'].mode()[0])
    else:
      df_24.loc[cond2, 'extras'] = df_24.loc[cond2, 'extras'].fillna(df_24['extras'].mode()[0])

In [ ]:
df_24['extras'].isnull().sum()

In [ ]:
df_24['extras'].value_counts()

**safety_and_security**

In [ ]:
df_24['safety_and_security'].isnull().sum()

In [ ]:
df_24['safety_and_security'].value_counts()

In [ ]:
for group1 in df_24['make_model'].unique():
  for group2 in df_24['body_type'].unique():
    cond1 = df_24['make_model'] == group1
    cond2 = (df_24['make_model'] == group1) & (df_24['body_type'] == group2)
    mode1 = df_24[cond1]['safety_and_security'].mode().tolist()
    mode2 = df_24[cond2]['safety_and_security'].mode().tolist()
    if mode2 != []:
      df_24.loc[cond2, 'safety_and_security'] = df_24.loc[cond2, 'safety_and_security'].fillna(df_24[cond2]['safety_and_security'].mode()[0])
    elif mode1 != []:
      df_24.loc[cond2, 'safety_and_security'] = df_24.loc[cond2, 'safety_and_security'].fillna(df_24[cond1]['safety_and_security'].mode()[0])
    else:
      df_24.loc[cond2, 'safety_and_security'] = df_24.loc[cond2, 'safety_and_security'].fillna(df_24['safety_and_security'].mode()[0])

In [ ]:
df_24['safety_and_security'].isnull().sum()

In [ ]:
df_24['safety_and_security'].value_counts()

**consumption_comb**

In [ ]:
df_24['consumption_comb'].isnull().sum()

In [ ]:
df_24['consumption_comb'].value_counts()

In [ ]:
df_24['consumption_comb'] = df_24['consumption_comb'].fillna((df_24['consumption_city'] + df_24['consumption_country'])/2)

In [ ]:
df_24['consumption_comb'].value_counts()

In [ ]:
df_24['consumption_comb'] = df_24['consumption_comb'].replace([0.0, 1.0, 1.2, 1.6, 10, 11, 13.8, 32.0, 33.0, 38.0, 40.0, 43.0, 46.0, 50.0, 51.0, 54.0, 55.0, "-"], np.nan)

In [ ]:
df_24['consumption_comb'] = df_24['consumption_comb'].fillna(df_24.groupby(['make_model', 'body_type'])['consumption_comb'].transform('median'))

In [ ]:
df_24['consumption_comb'].isnull().sum()

In [ ]:
df_24['consumption_comb'] = df_24['consumption_comb'].fillna(df_24.groupby('make_model')['consumption_comb'].transform('median'))

In [ ]:
df_24['consumption_comb'].isnull().sum()

In [ ]:
df_24['consumption_comb'] = df_24['consumption_comb'].fillna(df_24['consumption_comb'].median())

In [ ]:
df_24['consumption_comb'].isnull().sum()

In [ ]:
df_24['consumption_comb'].value_counts()

**final clean-up**

In [ ]:
df_25 = df_24.drop(['consumption_city', 'consumption_country'], axis = 1)

In [ ]:
df_26 = df_25.drop(['country_version', 'emission_label'], axis = 1)

In [ ]:
df_27 = df_26.drop(['full_service', 'next_inspection_date', 'next_inspection_emission'], axis = 1)

In [ ]:
df_28 = df_27.drop(['registration', 'sd_disp', 'year_registration'], axis = 1)

In [ ]:
df_28.info()

In [ ]:
df_28.columns

In [ ]:
df_28.to_csv('df_28_cleaned_filled.csv')