In [321]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [322]:
df_org = pd.read_json('/content/scout_car (1).json', lines= True)

In [323]:
df = df_org.copy()

In [324]:
df.shape

(15919, 54)

In [325]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [326]:
df.isnull().sum()*100 / df.shape[0]

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [327]:
null_percent = df.isnull().sum()*100 / df.shape[0]
null_percent[null_percent > 90].index

Index(['kW', 'Electricity consumption', 'Last Service Date',
       'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date',
       'Available from'],
      dtype='object')

In [328]:
def nan_column_check(df, limit):
  null_percent = df.isnull().sum()*100 / df.shape[0]
  nan_column = null_percent[null_percent > limit].index
  return nan_column

In [329]:
nan_column_check(df, 90)

Index(['kW', 'Electricity consumption', 'Last Service Date',
       'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date',
       'Available from'],
      dtype='object')

In [330]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [331]:
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('.', '').str.strip().str.replace('&', 'and')

In [332]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kw                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  type                           15917 non-null  object
 12  previous_owners                9279 non-null   object
 13  next_inspection                3535 non-null   object
 14  inspection_new                 3932 non-null   object
 15  warranty                       10499 non-null  object
 16  full_service                   8215 non-null   object
 17  non-smoking_vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  make                           15919 non-null  object
 20  model                          15919 non-null  object
 21  offer_number                   12744 non-null  object
 22  first_registration             14322 non-null  object
 23  body_color                     15322 non-null  object
 24  paint_type                     10147 non-null  object
 25  body_color_original            12160 non-null  object
 26  upholstery                     12199 non-null  object
 27  body                           15859 non-null  object
 28  nr_of_doors                    15707 non-null  object
 29  nr_of_seats                    14942 non-null  object
 30  model_code                     4978 non-null   object
 31  gearing_type                   15919 non-null  object
 32  displacement                   15423 non-null  object
 33  cylinders                      10239 non-null  object
 34  weight                         8945 non-null   object
 35  drive_chain                    9061 non-null   object
 36  fuel                           15919 non-null  object
 37  consumption                    14013 non-null  object
 38  co2_emission                   14111 non-null  object
 39  emission_class                 12898 non-null  object
 40  comfort_and_convenience        14999 non-null  object
 41  entertainment_and_media        14545 non-null  object
 42  extras                         12957 non-null  object
 43  safety_and_security            14937 non-null  object
 44  description                    15919 non-null  object
 45  emission_label                 3985 non-null   object
 46  gears                          11207 non-null  object
 47  country_version                7586 non-null   object
 48  electricity_consumption        137 non-null    object
 49  last_service_date              566 non-null    object
 50  other_fuel_types               880 non-null    object
 51  availability                   635 non-null    object
 52  last_timing_belt_service_date  16 non-null     object
 53  available_from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [333]:
df_1 = df.drop('url', axis = 1)

In [334]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   make_model                     15919 non-null  object
 1   short_description              15873 non-null  object
 2   body_type                      15859 non-null  object
 3   price                          15919 non-null  int64
 4   vat                            11406 non-null  object
 5   km                             15919 non-null  object
 6   registration                   15919 non-null  object
 7   prev_owner                     9091 non-null   object
 8   kw                             0 non-null      float64
 9   hp                             15919 non-null  object
 10  type                           15917 non-null  object
 11  previous_owners                9279 non-null   object
 12  next_inspection                3535 non-null   object
 13  inspection_new                 3932 non-null   object
 14  warranty                       10499 non-null  object
 15  full_service                   8215 non-null   object
 16  non-smoking_vehicle            7177 non-null   object
 17  null                           15919 non-null  object
 18  make                           15919 non-null  object
 19  model                          15919 non-null  object
 20  offer_number                   12744 non-null  object
 21  first_registration             14322 non-null  object
 22  body_color                     15322 non-null  object
 23  paint_type                     10147 non-null  object
 24  body_color_original            12160 non-null  object
 25  upholstery                     12199 non-null  object
 26  body                           15859 non-null  object
 27  nr_of_doors                    15707 non-null  object
 28  nr_of_seats                    14942 non-null  object
 29  model_code                     4978 non-null   object
 30  gearing_type                   15919 non-null  object
 31  displacement                   15423 non-null  object
 32  cylinders                      10239 non-null  object
 33  weight                         8945 non-null   object
 34  drive_chain                    9061 non-null   object
 35  fuel                           15919 non-null  object
 36  consumption                    14013 non-null  object
 37  co2_emission                   14111 non-null  object
 38  emission_class                 12898 non-null  object
 39  comfort_and_convenience        14999 non-null  object
 40  entertainment_and_media        14545 non-null  object
 41  extras                         12957 non-null  object
 42  safety_and_security            14937 non-null  object
 43  description                    15919 non-null  object
 44  emission_label                 3985 non-null   object
 45  gears                          11207 non-null  object
 46  country_version                7586 non-null   object
 47  electricity_consumption        137 non-null    object
 48  last_service_date              566 non-null    object
 49  other_fuel_types               880 non-null    object
 50  availability                   635 non-null    object
 51  last_timing_belt_service_date  16 non-null     object
 52  available_from                 272 non-null    object
dtypes: float64(1), int64(1), object(51)
memory usage: 6.4+ MB

In [335]:
df_1['make_model'].value_counts(), df_1['make_model'].isnull().sum()

(make_model
 Audi A3           3097
 Audi A1           2614
 Opel Insignia     2598
 Opel Astra        2526
 Opel Corsa        2219
 Renault Clio      1839
 Renault Espace     991
 Renault Duster      34
 Audi A2              1
 Name: count, dtype: int64,
 np.int64(0))

In [336]:
df_1['short_description'].value_counts()

short_description
SPB 1.6 TDI 116 CV S tronic Sport              64
1.4 66kW (90CV) Selective                      40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH          38
SPB 30 TDI S tronic Business                   35
SPB 30 TFSI S tronic Admired                   35
                                               ..
TCe 225 EDC INITIALE PDC SHZ BOSE KLIMA         1
ELYSEE ENERGY dCi 160 EDC                       1
INITIALE Paris TCe 225 EDC GPF ACC EU6          1
Sportback 1.4 TDI S-tronic Xenon Navi Klima     1
Initiale Paris dCi 200 EDC                      1
Name: count, Length: 10001, dtype: int64

In [337]:
df_1['short_description'].str.extract('(\d\.\d)').astype(float)

         0
0      1.4
1      1.8
2      1.6
3      1.4
4      1.4
...    ...
15914  NaN
15915  NaN
15916  NaN
15917  NaN
15918  NaN

[15919 rows x 1 columns]

In [338]:
df_1['short_description'].str.findall('(\d\.\d)').str[0].astype(float)

0        1.4
1        1.8
2        1.6
3        1.4
4        1.4
        ...
15914    NaN
15915    NaN
15916    NaN
15917    NaN
15918    NaN
Name: short_description, Length: 15919, dtype: float64

In [339]:
df_1['sd_disp'] = df_1['short_description'].str.extract('(\d\.\d)').astype(float)

**Body_Type**

In [340]:
df_1['body_type'].value_counts(), df_1['body_type'].isnull().sum()

(body_type
 Sedans           7903
 Station wagon    3553
 Compact          3153
 Van               783
 Other             290
 Transporter        88
 Off-Road           56
 Coupe              25
 Convertible         8
 Name: count, dtype: int64,
 np.int64(60))

**Price**

In [341]:
df_1['price'].value_counts(), df_1['price'].isnull().sum()

(price
 14990    154
 15990    151
 10990    139
 15900    106
 17990    102
         ...
 46490      1
 46130      1
 45490      1
 44999      1
 43950      1
 Name: count, Length: 2956, dtype: int64,
 np.int64(0))

In [342]:
df_1['price'].astype(float)

0        15770.0
1        14500.0
2        14640.0
3        14500.0
4        16790.0
          ...
15914    39950.0
15915    39885.0
15916    39875.0
15917    39700.0
15918    40999.0
Name: price, Length: 15919, dtype: float64

**vat**

In [343]:
df_1['vat'].value_counts()

vat
VAT deductible      10980
Price negotiable      426
Name: count, dtype: int64

**km**

In [344]:
df_1['km'].value_counts()

km
10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
10,227 km       1
10,803 km       1
14,328 km       1
22,987 km       1
15,042 km       1
Name: count, Length: 6690, dtype: int64

In [345]:
df_1['km'] = df_1['km'].str.replace(' km', '').str.replace(',', '').replace('-', np.nan).astype(float)

**registration**

In [346]:
df_1['registration'].value_counts()

registration
-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
04/2018     541
01/2019     541
02/2018     539
03/2016     536
06/2018     532
04/2016     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2016     141
09/2018     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: count, dtype: int64

In [347]:
df_1['registration'] = df_1['registration'].replace('-/-', np.nan)

In [348]:
df_1['registration'] = pd.to_datetime(df_1['registration'])

/tmp/ipython-input-348-742576674.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_1['registration'] = pd.to_datetime(df_1['registration'])

In [349]:
df_1['year_registration'] = df_1['registration'].dt.year

**prev_owner**

In [350]:
df_1['prev_owner'].value_counts()

prev_owner
1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: count, dtype: int64

In [351]:
df_1['prev_owner'].unique()

array(['2 previous owners', None, '1 previous owner', '3 previous owners',
       '4 previous owners'], dtype=object)

In [352]:
df_1['prev_owner'] = df_1['prev_owner'].str.replace('previous owners', '').str.replace('previous owner', '').astype(float)

**kw**

In [353]:
df_1['kw'].value_counts()

Series([], Name: count, dtype: int64)

In [354]:
df_2 = df_1.drop('kw', axis = 1)

**hp**

In [355]:
df_2['hp'].value_counts()

hp
85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
239 kW       1
123 kW       1
4 kW         1
163 kW       1
115 kW       1
Name: count, Length: 81, dtype: int64

In [356]:
df_2['hp'].unique()

array(['66 kW', '141 kW', '85 kW', '70 kW', '92 kW', '112 kW', '60 kW',
       '71 kW', '67 kW', '110 kW', '93 kW', '147 kW', '86 kW', '140 kW',
       '87 kW', '- kW', '81 kW', '82 kW', '135 kW', '132 kW', '100 kW',
       '96 kW', '162 kW', '150 kW', '294 kW', '228 kW', '270 kW',
       '137 kW', '9 kW', '133 kW', '77 kW', '101 kW', '78 kW', '103 kW',
       '1 kW', '74 kW', '118 kW', '84 kW', '88 kW', '80 kW', '76 kW',
       '149 kW', '44 kW', '51 kW', '55 kW', '52 kW', '63 kW', '40 kW',
       '65 kW', '75 kW', '125 kW', '120 kW', '184 kW', '239 kW', '121 kW',
       '143 kW', '191 kW', '89 kW', '195 kW', '127 kW', '122 kW',
       '154 kW', '155 kW', '104 kW', '123 kW', '146 kW', '90 kW', '53 kW',
       '54 kW', '56 kW', '164 kW', '4 kW', '163 kW', '57 kW', '119 kW',
       '165 kW', '117 kW', '115 kW', '98 kW', '168 kW', '167 kW'],
      dtype=object)

In [357]:
df_2['hp (kW)'] = df_2['hp'].str.replace('kW', '').replace('- ', np.nan).astype(float)

In [358]:
df_2['hp (kW)'].unique()

array([ 66., 141.,  85.,  70.,  92., 112.,  60.,  71.,  67., 110.,  93.,
       147.,  86., 140.,  87.,  nan,  81.,  82., 135., 132., 100.,  96.,
       162., 150., 294., 228., 270., 137.,   9., 133.,  77., 101.,  78.,
       103.,   1.,  74., 118.,  84.,  88.,  80.,  76., 149.,  44.,  51.,
        55.,  52.,  63.,  40.,  65.,  75., 125., 120., 184., 239., 121.,
       143., 191.,  89., 195., 127., 122., 154., 155., 104., 123., 146.,
        90.,  53.,  54.,  56., 164.,   4., 163.,  57., 119., 165., 117.,
       115.,  98., 168., 167.])

In [359]:
df_3 = df_2.drop('hp', axis = 1)

**type**

In [360]:
df_3['type'].isnull().sum()

np.int64(2)

In [361]:
df_3['type'].value_counts()

type
[, Used, , Diesel (Particulate Filter)]                               3475
[, Used, , Diesel]                                                    2516
[, Used, , Gasoline]                                                  2367
[, Used, , Super 95]                                                  1818
[, Pre-registered, , Super 95]                                         500
                                                                      ...
[, Pre-registered, , Super Plus 98 / Super 95 / Super Plus E10 98]       1
[, Employee's car, , Others]                                             1
[, Pre-registered, , Super E10 95 / Regular/Benzine 91]                  1
[, Pre-registered, , Super E10 95 (Particulate Filter)]                  1
[, Demonstration, , Regular/Benzine E10 91]                              1
Name: count, Length: 169, dtype: int64

In [362]:
my_list_1 = []
for sublist in df_3['type']:
  if isinstance(sublist, list):
    my_list_1.append(len(sublist))

len(my_list_1), np.unique(my_list_1)

(15917, array([4]))

In [363]:
df_3['type'].str[1].value_counts()

type
Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
Name: count, dtype: int64

In [364]:
df_3['type_new_used'] = df_3['type'].str[0].value_counts()

In [365]:
df_3['type'].str[2].value_counts()

type
    15917
Name: count, dtype: int64

In [366]:
df_3['type'].str[3]

0                          Diesel (Particulate Filter)
1                                             Gasoline
2                          Diesel (Particulate Filter)
3                          Diesel (Particulate Filter)
4                          Diesel (Particulate Filter)
                             ...
15914                      Diesel (Particulate Filter)
15915    Super 95 / Super Plus 98 (Particulate Filter)
15916                                           Diesel
15917                                           Diesel
15918                                         Super 95
Name: type, Length: 15919, dtype: object

In [367]:
df_3['type_fuel'] = df_3['type'].str[3]

In [368]:
df_3['type_fuel'].value_counts()

type_fuel
Diesel (Particulate Filter)                           4315
Super 95                                              3338
Gasoline                                              3175
Diesel                                                2982
Super 95 / Regular/Benzine 91                          424
                                                      ...
Super 95 / Regular/Benzine 91 (Particulate Filter)       1
Super 95 / Super E10 95 / Super Plus 98                  1
Electric                                                 1
Super 95 / Super Plus 98 / Super Plus E10 98             1
Super Plus 98 / Super 95 / Super Plus E10 98             1
Name: count, Length: 77, dtype: int64

In [369]:
benzine_1 = df_3['type_fuel'].str.contains('Super', na=False)
df_3.loc[benzine_1, 'type_fuel'] = 'Benzine'

In [370]:
df_3['type_fuel'].value_counts()

type_fuel
Benzine                                        4821
Diesel (Particulate Filter)                    4315
Gasoline                                       3175
Diesel                                         2982
Regular/Benzine 91                              354
Regular/Benzine 91 (Particulate Filter)         100
Gasoline (Particulate Filter)                    77
CNG                                              33
LPG                                              16
Regular/Benzine E10 91                           11
Liquid petroleum gas (LPG)                       10
Regular/Benzine 91 / Regular/Benzine E10 91       7
Others                                            5
Electric/Gasoline                                 4
CNG (Particulate Filter)                          3
Domestic gas H                                    1
Biogas                                            1
Others (Particulate Filter)                       1
Electric                                          1
Name: count, dtype: int64

In [371]:
benzine_2 = df_3['type_fuel'].str.contains('Benzine', na=False)
df_3.loc[benzine_2, 'type_fuel'] = 'Benzine'

In [372]:
df_3['type_fuel'].value_counts()

type_fuel
Benzine                          5293
Diesel (Particulate Filter)      4315
Gasoline                         3175
Diesel                           2982
Gasoline (Particulate Filter)      77
CNG                                33
LPG                                16
Liquid petroleum gas (LPG)         10
Others                              5
Electric/Gasoline                   4
CNG (Particulate Filter)            3
Biogas                              1
Others (Particulate Filter)         1
Domestic gas H                      1
Electric                            1
Name: count, dtype: int64

In [373]:
gas_list = ['CNG', 'LPG', 'Liquid petroleum gas (LPG)', 'CNG (Particulate Filter)', 'Biogas', 'Domestic gas H']

In [374]:
gas = df_3['type_fuel'].isin(gas_list)

In [375]:
df_3.loc[gas, 'type_fuel'] = 'Gas'

In [376]:
df_3['type_fuel'].value_counts()

type_fuel
Benzine                          5293
Diesel (Particulate Filter)      4315
Gasoline                         3175
Diesel                           2982
Gasoline (Particulate Filter)      77
Gas                                64
Others                              5
Electric/Gasoline                   4
Others (Particulate Filter)         1
Electric                            1
Name: count, dtype: int64

In [377]:
diesel = df_3['type_fuel'].str.contains('Diesel', na=False)

In [378]:
df_3.loc[diesel, 'type_fuel'] = 'Diesel'

In [379]:
df_3['type_fuel'].value_counts()

type_fuel
Diesel                           7297
Benzine                          5293
Gasoline                         3175
Gasoline (Particulate Filter)      77
Gas                                64
Others                              5
Electric/Gasoline                   4
Others (Particulate Filter)         1
Electric                            1
Name: count, dtype: int64

In [380]:
gasoline = df_3['type_fuel'].str.contains('Gasoline', na=False)

In [381]:
df_3.loc[gasoline, 'type_fuel'] = 'Benzine'

In [382]:
df_3['type_fuel'].value_counts()

type_fuel
Benzine                        8549
Diesel                         7297
Gas                              64
Others                            5
Others (Particulate Filter)       1
Electric                          1
Name: count, dtype: int64

In [383]:
other = df_3['type_fuel'].isin(['Electric', 'Others (Particulate Filter)'])

In [384]:
df_3.loc[other, 'type_fuel'] = 'Others'

In [385]:
df_3['type_fuel'].value_counts()

type_fuel
Benzine    8549
Diesel     7297
Gas          64
Others        7
Name: count, dtype: int64

In [386]:
df_3['type_fuel'] = df_3['type_fuel'].fillna(np.nan)

In [387]:
df_4 = df_3.drop('type', axis = 1)

**previous_owners**

In [388]:
df_4['previous_owners'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: previous_owners
Non-Null Count  Dtype
--------------  -----
9279 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [389]:
df_4['previous_owners'].value_counts()

previous_owners
\n1\n                                                                                        8101
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
[\n1\n, \n168 g CO2/km (comb)\n]                                                               13
                                                                                             ...
[\n1\n, \n85 g CO2/km (comb)\n]                                                                 1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n1\n, \n188 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.8 l/100 km (comb), \n, 8.7 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n2\n, \n123 g CO2/km (comb)\n]                                                                1
Name: count, Length: 102, dtype: int64

In [390]:
previous_owners_list = []
for i in df_4['previous_owners']:
  if isinstance(i, list):
    previous_owners_list.append(i[0].strip())
  elif isinstance(i, str):
    previous_owners_list.append(i.strip())
  else:
    previous_owners_list.append(i)
print(len(previous_owners_list), np.unique(previous_owners_list))

15919 ['0' '1' '2' '3' '4' 'nan']

In [391]:
df_4['previous_owners'] = previous_owners_list

In [392]:
df_4['previous_owners'] = df_4['previous_owners'].astype(float)

In [393]:
df_4['previous_owners'].value_counts()

previous_owners
1.0    8294
2.0     778
0.0     188
3.0      17
4.0       2
Name: count, dtype: int64

In [394]:
df_4['prev_owner'].value_counts()

prev_owner
1.0    8294
2.0     778
3.0      17
4.0       2
Name: count, dtype: int64

In [395]:
df_4[['prev_owner', 'previous_owners']].isnull().sum()

prev_owner         6828
previous_owners    6640
dtype: int64

In [396]:
df_4[(df_4['prev_owner'] != df_4['previous_owners'])]

,make_model,short_description,body_type,price,vat,km,registration,prev_owner,previous_owners,next_inspection,inspection_new,warranty,full_service,non-smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co2_emission,emission_class,comfort_and_convenience,entertainment_and_media,extras,safety_and_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from,sd_disp,year_registration,hp (kW),type_new_used,type_fuel
1,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,80000.0,2017-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8,2017.0,141.0,NaN,Benzine
9,Audi A1,SPORTBACK TFSI ULTRA 95 S-TRONIC AMB.,Sedans,17990,None,16103.0,2017-06-01,NaN,NaN,NaN,NaN,\n3 months\n,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, White, \n]",NaN,[\nBlanc\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n4\n],NaN,"[\n, Automatic, \n]",[\n999 cc\n],NaN,NaN,NaN,"[\n, Gasoline, \n]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[\nClim automatique,Ecran multifonction couleu...",NaN,[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,70.0,NaN,Benzine
10,Audi A1,SPORTBACK1.6 TDI 116 CV S tronic Metal plus,Sedans,18500,VAT deductible,11300.0,2018-05-01,NaN,NaN,NaN,NaN,NaN,\n,NaN,[],\nAudi\n,"[\n, A1, \n]",[\n11159281\n],"[\n, 2018, \n]","[\n, Black, \n]",[\nMetallic\n],[\nNero\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,250 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4 l/100 km (comb)], [4.6 l/100 km (city)], [...",[\n105 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Multi-function steering whe...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Shift paddles]","[ABS, Central door lock, Daytime running light...","[\nautovettura ufficiale unico proprietario , ...",NaN,[\n7\n],[\nItaly\n],NaN,NaN,NaN,NaN,NaN,NaN,1.6,2018.0,85.0,NaN,Diesel
13,Audi A1,1.4 TFSI 150ch COD Ambition Luxe S tronic 7,Sedans,18399,None,45764.0,2016-06-01,NaN,NaN,NaN,NaN,\n12 months\n,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nscap-ED-642-CV\n],"[\n, 2016, \n]","[\n, Grey, \n]",NaN,[\nGris Clair\n],NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,395 cc\n]",NaN,NaN,NaN,"[\n, Gasoline, \n]",NaN,NaN,NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, On-board computer, Radio]","[Alloy wheels, Sport seats, Sport suspension]","[ABS, Adaptive headlights, Central door lock, ...",[\nMarque: AUDIModèle: A1Version: 1.4 TFSI 150...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.4,2016.0,112.0,NaN,Benzine
16,Audi A1,SPB 1.6 TDI 116 CV Design S-Line SPB 1.6 TDI 1...,Sedans,18900,VAT deductible,9752.0,2018-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\n2569525\n],"[\n, 2018, \n]","[\n, Blue, \n]",NaN,[\nAzzurro\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,175 kg\n]",[\nfront\n],"[\n, Diesel, \n]","[[3.5 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n92 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Leather steering wheel, Pow...","[CD player, MP3, Radio]","[Alloy wheels, Sport package, Sport seats]","[Central door lock, Driver-side airbag, Electr...","[\nDEK:[2569525], Equipaggiamenti di serie:, I...",NaN,[\n5\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6,2018.0,85.0,NaN,Diesel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15909,Renault Espace,Limited Blue dCi 200 EDC,Van,39990,VAT deductible,3500.0,2019-05-01,NaN,NaN,NaN,NaN,\n48 months\n,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\n1-15447\n],"[\n, 2019, \n]","[\n, Black, \n]",[\nMetallic\n],[\nBlack-Pearl\n],NaN,"[\n, Van, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",NaN,"[\n1,779 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]",NaN,"[[], [], []]",NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Touch screen]","[ABS, Blind spot monitor, Central door lock, D...","[\nHallo!, Das Beratungsteam der Fa. Sonnleitn...",NaN,[\n7\n],[\nAustria\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,147.0,NaN,Diesel
15912,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,NaN,NaT,NaN,NaN,NaN,NaN,\n24 months\n,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\n10988276\n],NaN,"[\n, Black, \n]",[\nMetallic\n],[\nNero\n],NaN,"[\n, Van, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],"[\n1,758 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen]","[ABS, Central door lock, Central door lock wit...",[\nVettura visionabile nella sede in Via Roma ...,NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.0,NaN,Diesel
15913,Renault Espace,INITIALE Paris TCe 225 EDC GPF ACC EU6,Van,39950,VAT deductible,1000.0,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\nNW9766\n],"[\n, 2019, \n]","[\n, White, \n]",[\nMetallic\n],[\nperlmutt-weiss\n],"[\nFull leather, Brown\n]","[\n, Van, \n]",[\n5\n],[\n7\n],NaN,"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],NaN,[\nfront\n],"[\n, Super 95, \n]","[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...",[\n153 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Catalytic Converter, Sport susp...","[ABS, Adaptive Cruise Control, Blind spot moni...","[\nFahrzeug-Nr.: NW9766., Ausstattungslinie/ -...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,165.0,NaN,Benzine
15914,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,NaN,NaT,NaN,NaN,NaN,NaN,\n24 months\n,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\n10988301\n],NaN,"[\n, Grey, \n]",[\nMetallic\n],[\nGrigio scuro\n],NaN,"[\n, Van, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],"[\n1,758 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen]","[ABS, Central door lock, Central door lock wit...",[\nVettura visionabile nella sede in Via Roma ...,NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.0,NaN,Diesel
15917,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10.0,2019-06-01,NaN,NaN,NaN,NaN,\n,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\n2691331\n],"[\n, 2019, \n]","[\n, Grey, \n]",NaN,[\nGrigio\n],[\nPart leather\n],"[\n, Van, \n]",[\n5\n],[\n7\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],"[\n1,758 kg\n]",[\nfront\n],"[\n, Diesel, \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Radio, USB]","[Alloy wheels, Touch screen]","[ABS, Blind spot monitor, Driver-side airbag, ...","[\nDEK:[2691331], Renault Espace Blue dCi 200C...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,147.0,NaN,Diesel

In [397]:
def combine_cols(col1, col2):
  if pd.isnull(col1):
    if pd.notnull(col2):
      return col2
    else:
      return np.nan
  if pd.isnull(col2):
    if pd.notnull(col1):
      return col1
    else:
      return np.nan
  else:
    if col1 == col2:
      return col1
    else:
      return 'Conflict'

In [398]:
df_4.apply(lambda x: combine_cols(x['prev_owner'], x['previous_owners']), axis = 1)

0        2.0
1        NaN
2        1.0
3        1.0
4        1.0
        ...
15914    NaN
15915    1.0
15916    1.0
15917    NaN
15918    1.0
Length: 15919, dtype: float64

In [399]:
df_4['prev_owner'] = df_4.apply(lambda x: combine_cols(x['prev_owner'], x['previous_owners']), axis = 1)

In [400]:
df_4['prev_owner'].value_counts()

prev_owner
1.0    8294
2.0     778
0.0     188
3.0      17
4.0       2
Name: count, dtype: int64

**next_inspection**

In [401]:
df_4['next_inspection'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: next_inspection
Non-Null Count  Dtype
--------------  -----
3535 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [402]:
df_4['next_inspection'].value_counts()

next_inspection
\n04/2022\n                               62
\n03/2021\n                               38
\n03/2022\n                               36
\n06/2021\n                               34
\n01/2022\n                               32
                                          ..
[\n01/2022\n, \n193 g CO2/km (comb)\n]     1
[\n06/2020\n]                              1
[\n10/2020\n]                              1
[\n01/2019\n, \n153 g CO2/km (comb)\n]     1
[\n04/2021\n, \n153 g CO2/km (comb)\n]     1
Name: count, Length: 1399, dtype: int64

In [403]:
next_inspection_list = []

for i in df_4['next_inspection']:
  if isinstance(i, str):
    next_inspection_list.append(i.strip())
  elif isinstance(i, list):
    next_inspection_list.append(i[0].strip())
  else:
    next_inspection_list.append(i)


len(next_inspection_list), np.unique(next_inspection_list)

(15919,
 array(['01/1921', '01/1955', '01/1999', '01/2001', '01/2018', '01/2019',
        '01/2020', '01/2021', '01/2022', '01/2023', '02/2017', '02/2019',
        '02/2020', '02/2021', '02/2022', '02/2023', '03/2017', '03/2018',
        '03/2019', '03/2020', '03/2021', '03/2022', '03/2023', '03/2024',
        '04/2016', '04/2017', '04/2019', '04/2020', '04/2021', '04/2022',
        '04/2023', '05/2014', '05/2016', '05/2017', '05/2018', '05/2019',
        '05/2020', '05/2021', '05/2022', '05/2023', '06/2016', '06/2018',
        '06/2019', '06/2020', '06/2021', '06/2022', '07/2017', '07/2018',
        '07/2019', '07/2020', '07/2021', '07/2022', '08/2018', '08/2019',
        '08/2020', '08/2021', '08/2022', '09/2018', '09/2019', '09/2020',
        '09/2021', '10/2018', '10/2019', '10/2020', '10/2021', '10/2022',
        '11/2018', '11/2019', '11/2020', '11/2021', '11/2022', '12/2017',
        '12/2018', '12/2019', '12/2020', '12/2021', '12/2022', 'nan'],
       dtype='<U32'))

In [404]:
df_4['next_inspection_date'] = next_inspection_list

In [405]:
df_4['next_inspection_date'] = df_4['next_inspection_date'].fillna(np.nan)

In [406]:
df_4['next_inspection_date'] = pd.to_datetime(df_4['next_inspection_date'])

/tmp/ipython-input-406-3137870919.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_4['next_inspection_date'] = pd.to_datetime(df_4['next_inspection_date'])

In [407]:
df_4['next_inspection_emission'] = df_4['next_inspection'].str[1].str.strip()

In [408]:
df_4['next_inspection_emission'] = df_4['next_inspection_emission'].replace('', np.nan)

In [409]:
df_4['next_inspection_emission'].isnull().sum()

np.int64(12658)

In [410]:
df_4['next_inspection_emission'].unique()

array(['99 g CO2/km (comb)', nan, '97 g CO2/km (comb)',
       '112 g CO2/km (comb)', '0', '95 g CO2/km (comb)',
       '94 g CO2/km (comb)', '102 g CO2/km (comb)', '1',
       '104 g CO2/km (comb)', '117 g CO2/km (comb)',
       '123 g CO2/km (comb)', '108 g CO2/km (comb)',
       '121 g CO2/km (comb)', '107 g CO2/km (comb)',
       '105 g CO2/km (comb)', '4 (Green)', '106 g CO2/km (comb)',
       'Euro 6', '137 g CO2/km (comb)', '116 g CO2/km (comb)',
       '109 g CO2/km (comb)', '113 g CO2/km (comb)',
       '0 kWh/100 km (comb)', '92 g CO2/km (comb)', '331 g CO2/km (comb)',
       '119 g CO2/km (comb)', '100 g CO2/km (comb)',
       '118 g CO2/km (comb)', '98 g CO2/km (comb)', '129 g CO2/km (comb)',
       '115 g CO2/km (comb)', '103 g CO2/km (comb)',
       '111 g CO2/km (comb)', '110 g CO2/km (comb)',
       '134 g CO2/km (comb)', '136 g CO2/km (comb)',
       '127 g CO2/km (comb)', '126 g CO2/km (comb)',
       '122 g CO2/km (comb)', '101 g CO2/km (comb)',
       '125 g CO2/km (comb)', '114 g CO2/km (comb)', '88 g CO2/km (comb)',
       '89 g CO2/km (comb)', '189 g CO2/km (comb)', '124 g CO2/km (comb)',
       '120 g CO2/km (comb)', '128 g CO2/km (comb)',
       '152 g CO2/km (comb)', '150 g CO2/km (comb)',
       '167 g CO2/km (comb)', '154 g CO2/km (comb)',
       '131 g CO2/km (comb)', '149 g CO2/km (comb)',
       '145 g CO2/km (comb)', '96 g CO2/km (comb)', '156 g CO2/km (comb)',
       '90 g CO2/km (comb)', '172 g CO2/km (comb)', '93 g CO2/km (comb)',
       '130 g CO2/km (comb)', '133 g CO2/km (comb)', 'Euro 6d-TEMP',
       '1 (No sticker)', '3 (Yellow)', '168 g CO2/km (comb)',
       '138 g CO2/km (comb)', '135 g CO2/km (comb)',
       '160 g CO2/km (comb)', '139 g CO2/km (comb)',
       '170 g CO2/km (comb)', '146 g CO2/km (comb)',
       '144 g CO2/km (comb)', '142 g CO2/km (comb)',
       '143 g CO2/km (comb)', '132 g CO2/km (comb)',
       '165 g CO2/km (comb)', 'Euro 5', 'Euro 6c', '140 g CO2/km (comb)',
       '159 g CO2/km (comb)', '151 g CO2/km (comb)',
       '190 g CO2/km (comb)', '166 g CO2/km (comb)',
       '164 g CO2/km (comb)', '147 g CO2/km (comb)',
       '239 g CO2/km (comb)', '169 g CO2/km (comb)',
       '141 g CO2/km (comb)', '184 g CO2/km (comb)',
       '148 g CO2/km (comb)', '153 g CO2/km (comb)',
       '162 g CO2/km (comb)', '85 g CO2/km (comb)', 'Euro 4',
       '161 g CO2/km (comb)', '175 g CO2/km (comb)',
       '193 g CO2/km (comb)', '194 g CO2/km (comb)',
       '174 g CO2/km (comb)'], dtype=object)

In [411]:
df_4['next_inspection_emission'] = df_4['next_inspection_emission'].str[0:-16]

In [412]:
df_4['next_inspection_emission'].unique()

array(['99', nan, '97', '112', '', '95', '94', '102', '104', '117', '123',
       '108', '121', '107', '105', '106', '137', '116', '109', '113',
       '0 k', '92', '331', '119', '100', '118', '98', '129', '115', '103',
       '111', '110', '134', '136', '127', '126', '122', '101', '125',
       '114', '88', '89', '189', '124', '120', '128', '152', '150', '167',
       '154', '131', '149', '145', '96', '156', '90', '172', '93', '130',
       '133', '168', '138', '135', '160', '139', '170', '146', '144',
       '142', '143', '132', '165', '140', '159', '151', '190', '166',
       '164', '147', '239', '169', '141', '184', '148', '153', '162',
       '85', '161', '175', '193', '194', '174'], dtype=object)

In [413]:
df_4['next_inspection_emission'].replace('0 k', 0).replace('', np.nan)

0         99
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15914    NaN
15915    168
15916    NaN
15917    NaN
15918    NaN
Name: next_inspection_emission, Length: 15919, dtype: object

In [414]:
df_4['next_inspection_emission'] = df_4['next_inspection_emission'].replace('0 k', 0).replace('', np.nan)

In [415]:
df_4['next_inspection_emission'].isnull().sum()

np.int64(13575)

In [416]:
df_5 = df_4.drop('next_inspection', axis = 1)

**inspection_new**

In [417]:
df_5['inspection_new'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: inspection_new
Non-Null Count  Dtype
--------------  -----
3932 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [418]:
df_5['inspection_new'].value_counts()

inspection_new
[\nYes\n, \nEuro 6\n]                                                                          523
\nYes\n                                                                                        362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                             174
[\nYes\n, \n4 (Green)\n]                                                                       166
[\nYes\n, \nEuro 6d-TEMP\n]                                                                    134
                                                                                              ...
[\nYes\n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.1 l/100 km (country), \n]      1
[\nYes\n, \n, 6.2 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.3 l/100 km (country), \n]      1
[\nYes\n, \n, 5 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.2 l/100 km (country), \n]        1
[\nYes\n, \n, 5 l/100 km (comb), \n, 6.3 l/100 km (city), \n, 4.2 l/100 km (country), \n]        1
[\nYes\n, \n172 g CO2/km (comb)\n]                                                               1
Name: count, Length: 202, dtype: int64

In [419]:
def inspection_new_clean(x):
  if isinstance(x,list):
    return x[0].strip()
  elif isinstance(x,str):
    return x.strip()
  else:
    return x

In [420]:
df_5['inspection_new'].apply(inspection_new_clean).value_counts()

inspection_new
Yes    3932
Name: count, dtype: int64

In [421]:
df_5['inspection_new'] = df_5['inspection_new'].apply(inspection_new_clean)

In [422]:
df_5['inspection_new'] = df_5['inspection_new'].fillna(np.nan)

**warranty**

In [423]:
df_5['warranty'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: warranty
Non-Null Count  Dtype
--------------  -----
10499 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [424]:
df_5['warranty'].value_counts()

warranty
[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
[\n, \n, \n4 (Green)\n]                                                                             517
                                                                                                   ...
[\n16 months\n, \n135 g CO2/km (comb)\n]                                                              1
[\n14 months\n, \n135 g CO2/km (comb)\n]                                                              1
[\n48 months\n, \n142 g CO2/km (comb)\n]                                                              1
[\n, \n, \n188 g CO2/km (comb)\n]                                                                     1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: count, Length: 515, dtype: int64

In [425]:
def warranty_clean(x):
  if isinstance(x,list):
    return x[0].strip()
  elif isinstance(x,str):
    return x.strip()
  else:
    return x

In [426]:
df_5['warranty'].apply(warranty_clean).value_counts()

warranty
             5646
12 months    2594
24 months    1118
60 months     401
36 months     279
48 months     149
6 months      125
72 months      59
3 months       33
23 months      11
18 months      10
20 months       7
25 months       6
2 months        5
50 months       4
26 months       4
16 months       4
19 months       3
34 months       3
4 months        3
1 months        3
13 months       3
22 months       2
28 months       2
11 months       2
46 months       2
9 months        2
21 months       2
14 months       2
45 months       2
17 months       2
47 months       1
49 months       1
56 months       1
10 months       1
7 months        1
8 months        1
15 months       1
65 months       1
33 months       1
40 months       1
30 months       1
Name: count, dtype: int64

In [427]:
import re

In [428]:
def warranty_clean_1(x):
  if isinstance(x,list):
    a = re.findall(r'\d+', x[0])
    if len(a) == 0:
      return np.nan
    else:
      return a[0]
  elif isinstance(x,str):
    a = re.findall(r'\d+', x)
    if len(a) == 0:
      return np.nan
    else:
      return a[0]
  else:
    return x

In [429]:
df_5['warranty'].apply(warranty_clean_1).value_counts()

warranty
12    2594
24    1118
60     401
36     279
48     149
6      125
72      59
3       33
23      11
18      10
20       7
25       6
2        5
50       4
26       4
16       4
19       3
34       3
4        3
1        3
13       3
22       2
28       2
11       2
46       2
9        2
21       2
14       2
45       2
17       2
47       1
49       1
56       1
10       1
7        1
8        1
15       1
65       1
33       1
40       1
30       1
Name: count, dtype: int64

In [430]:
df_5['warranty_1'] = df_5['warranty'].apply(warranty_clean)

In [431]:
df_5['warranty_2'] = df_5['warranty'].apply(warranty_clean_1)

In [432]:
df_5['warranty_1'] = df_5['warranty_1'].str.replace('months', '').replace('', np.nan).astype(float)

In [433]:
df_5['warranty_2'] = df_5['warranty_2'].astype(float)

In [434]:
df_5[df_5['warranty_1'] == df_5['warranty_2']].count()

make_model                       4853
short_description                4841
body_type                        4849
price                            4853
vat                              3379
km                               4656
registration                     4538
prev_owner                       2553
previous_owners                  2553
inspection_new                    872
warranty                         4853
full_service                     2326
non-smoking_vehicle              2310
null                             4853
make                             4853
model                            4853
offer_number                     4065
first_registration               4538
body_color                       4763
paint_type                       3115
body_color_original              3622
upholstery                       3390
body                             4849
nr_of_doors                      4796
nr_of_seats                      4546
model_code                        736
gearing_type                     4853
displacement                     4629
cylinders                        3500
weight                           3112
drive_chain                      2799
fuel                             4853
consumption                      4120
co2_emission                     4187
emission_class                   3328
comfort_and_convenience          4440
entertainment_and_media          4222
extras                           3784
safety_and_security              4386
description                      4853
emission_label                    469
gears                            4219
country_version                  2071
electricity_consumption           126
last_service_date                 183
other_fuel_types                  513
availability                       63
last_timing_belt_service_date       3
available_from                     67
sd_disp                          3540
year_registration                4538
hp (kW)                          4775
type_new_used                       0
type_fuel                        4853
next_inspection_date              640
next_inspection_emission          381
warranty_1                       4853
warranty_2                       4853
dtype: int64

In [435]:
df_6 = df_5.drop(['warranty', 'warranty_2'], axis = 1)

**full_service**

In [436]:
df_6['full_service'].value_counts()

full_service
[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
\n                                                                                             283
                                                                                              ...
[\n, \n, \n197 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.6 l/100 km (comb), \n, 8.4 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n, \n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: count, Length: 122, dtype: int64

In [437]:
df_6['full_serivce'] = df_6['full_service'].str[2].str.strip()

In [438]:
df_6['full_serivce'].value_counts()

full_serivce
4 (Green)                 2235
Euro 6                    2097
Euro 6d-TEMP               399
120 g CO2/km (comb)        105
126 g CO2/km (comb)         84
                          ...
159 g CO2/km (comb)          1
164 g CO2/km (comb)          1
13,983 g CO2/km (comb)       1
197 g CO2/km (comb)          1
Euro 4                       1
Name: count, Length: 93, dtype: int64

**non-smoking_vehicle**

In [439]:
df_6['non-smoking_vehicle'].value_counts()

non-smoking_vehicle
[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
                                                                                              ...
[\n, \n, \n, 6.5 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n82 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n172 g CO2/km (comb)\n]                                                                1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: count, Length: 94, dtype: int64

In [440]:
df_7 = df_6.drop('non-smoking_vehicle', axis = 1)

**null**

In [441]:
df_8 = df_7.drop('null', axis = 1)

**make**

In [442]:
df_8['make'].value_counts()

make
\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: count, dtype: int64

In [443]:
df_8['make'].str.strip().value_counts()

make
Opel       7343
Audi       5712
Renault    2864
Name: count, dtype: int64

In [444]:
df_8['make'] = df_8['make'].str.strip()

**model**

In [445]:
df_8['model'].value_counts()

model
[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: count, dtype: int64

In [446]:
df_8['model'].str[1].value_counts()

model
A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: count, dtype: int64

In [447]:
df_8['model'] = df_8['model'].str[1]

**offer_number**

In [448]:
df_8['offer_number'].value_counts()

offer_number
[\nXT61649\n]                                     27
[\nUN89904\n]                                     27
[\nLT67679\n]                                     27
[\nXJ38068\n]                                     27
[\nAK13780\n]                                     27
                                                  ..
[\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n]     1
[\n6701576\n]                                      1
[\n6701569\n]                                      1
[\n158121\n]                                       1
[\n58537873\n]                                     1
Name: count, Length: 11440, dtype: int64

In [449]:
df_9 = df_8.drop('offer_number', axis = 1)

**first_registration**

In [450]:
df_9['first_registration'].value_counts()

first_registration
[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
Name: count, dtype: int64

In [451]:
df_9['first_registration'].str[1].value_counts()

first_registration
2018    4522
2016    3674
2017    3273
2019    2853
Name: count, dtype: int64

In [452]:
df_9['first_registration'] = df_9['first_registration'].str[1].astype(float)

In [453]:
df_9['first_registration'].value_counts()

first_registration
2018.0    4522
2016.0    3674
2017.0    3273
2019.0    2853
Name: count, dtype: int64

In [454]:
df_9['year_registration'].value_counts()

year_registration
2018.0    4522
2016.0    3674
2017.0    3273
2019.0    2853
Name: count, dtype: int64

In [455]:
df_9.apply(lambda x: combine_cols(x['year_registration'], x['first_registration']), axis =1).value_counts()

2018.0    4522
2016.0    3674
2017.0    3273
2019.0    2853
Name: count, dtype: int64

In [456]:
df_10 = df_9.drop('first_registration', axis = 1)

**body_color**

In [457]:
df_10['body_color'].value_counts()

body_color
[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: count, dtype: int64

In [458]:
df_10['body_color'].str[1].value_counts()

body_color
Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: count, dtype: int64

In [459]:
df_10['body_color'] = df_10['body_color'].str[1]

**paint_type**

In [460]:
df_10['paint_type'].value_counts()

paint_type
[\nMetallic\n]       9794
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: count, dtype: int64

In [461]:
df_10['paint_type'].str[0].str.strip().value_counts()

paint_type
Metallic       9794
Uni/basic       347
Perl effect       6
Name: count, dtype: int64

In [462]:
df_10['paint_type'] = df_10['paint_type'].str[0].str.strip()

In [463]:
df_10['paint_type'].value_counts()

paint_type
Metallic       9794
Uni/basic       347
Perl effect       6
Name: count, dtype: int64

**body_color_original**

In [464]:
df_10['body_color_original'].value_counts()

body_color_original
[\nOnyx Schwarz\n]                      338
[\nBianco\n]                            282
[\nMythosschwarz Metallic\n]            238
[\nBrillantschwarz\n]                   216
[\nGris\n]                              204
                                       ...
[\nAmethyst-schwarz\n]                    1
[\nMarroni-Braun Metallic (Braun)\n]      1
[\nStahl-grau\n]                          1
[\nETOILE'\n]                             1
[\nGris Cassiopée KNG (grijs\n]           1
Name: count, Length: 1927, dtype: int64

In [465]:
df_11 = df_10.drop('body_color_original', axis = 1)

**upholstery**

In [466]:
df_11['upholstery'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: upholstery
Non-Null Count  Dtype
--------------  -----
12199 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [467]:
df_11['upholstery'].value_counts()

upholstery
[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nPart leather, Grey\n]      116
[\nFull leather, Brown\n]     116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nBeige\n]                     3
[\nPart leather, Red\n]         3
[\nPart leather, White\n]       2
[\nBlue\n]                      2
[\nalcantara, Other\n]          2
[\nFull leather, Blue\n]        2
[\nalcantara\n]                 2
[\nPart leather, Beige\n]       2
[\nWhite\n]                     2
[\nFull leather, Red\n]         1
[\nCloth, Orange\n]             1
[\nOther, Brown\n]              1
[\nFull leather, White\n]       1
Name: count, dtype: int64

In [468]:
df_11['upholstery'].str[0].str.strip().str.split(',').str[0].value_counts()

upholstery
Cloth           8423
Part leather    1499
Full leather    1009
Black            491
Other            368
Grey             273
Velour            60
alcantara         57
Brown             12
Beige              3
White              2
Blue               2
Name: count, dtype: int64

In [469]:
colors = ['Black', 'Grey', 'Brown', 'Beige', 'White', 'Blue']

In [470]:
df_11['upholstery_type'] = df_11['upholstery'].str[0].str.strip().str.split(',').str[0]

In [471]:
df_11['upholstery_type'].value_counts()

upholstery_type
Cloth           8423
Part leather    1499
Full leather    1009
Black            491
Other            368
Grey             273
Velour            60
alcantara         57
Brown             12
Beige              3
White              2
Blue               2
Name: count, dtype: int64

In [472]:
color_sub = df_11['upholstery_type'].isin(colors)

In [473]:
df_11.loc[color_sub, 'upholstery_type'] = np.nan

In [474]:
df_11['upholstery_type'].value_counts()

upholstery_type
Cloth           8423
Part leather    1499
Full leather    1009
Other            368
Velour            60
alcantara         57
Name: count, dtype: int64

In [475]:
df_11['upholstery_type'].isnull().sum()

np.int64(4503)

In [476]:
df_11['upholstery_color'] = df_11['upholstery'].str[0].str.strip().str.split(',')

In [477]:
len(df_11['upholstery_color'])

15919

In [478]:
df_11['upholstery_color'].value_counts()

upholstery_color
[Cloth,  Black]           5821
[Part leather,  Black]    1121
[Cloth]                   1005
[Cloth,  Grey]             891
[Cloth,  Other]            639
[Full leather,  Black]     575
[Black]                    491
[Grey]                     273
[Other,  Other]            182
[Part leather]             140
[Full leather]             139
[Part leather,  Grey]      116
[Full leather,  Brown]     116
[Other,  Black]            110
[Full leather,  Other]      72
[Full leather,  Grey]       67
[Part leather,  Other]      65
[Other]                     56
[Part leather,  Brown]      50
[alcantara,  Black]         47
[Velour,  Black]            36
[Full leather,  Beige]      36
[Cloth,  Brown]             28
[Velour]                    16
[Other,  Grey]              15
[Cloth,  Beige]             13
[Brown]                     12
[Cloth,  Blue]              12
[Velour,  Grey]              8
[Cloth,  White]              8
[alcantara,  Grey]           6
[Cloth,  Red]                5
[Other,  Yellow]             4
[Beige]                      3
[Part leather,  Red]         3
[Part leather,  White]       2
[Blue]                       2
[alcantara,  Other]          2
[Full leather,  Blue]        2
[alcantara]                  2
[Part leather,  Beige]       2
[White]                      2
[Full leather,  Red]         1
[Cloth,  Orange]             1
[Other,  Brown]              1
[Full leather,  White]       1
Name: count, dtype: int64

In [479]:
material = ['Full leather', 'Part leather', 'Cloth', 'Velour', 'alcantara', 'Other']

In [480]:
upholstery_color_list = []
for sublist in df_11['upholstery_color']:
  if isinstance(sublist, list):
    if len(sublist) == 1:
      if sublist[0] in material:
        upholstery_color_list.append(np.nan)
      else:
        upholstery_color_list.append(sublist[0])
    if len(sublist) == 2:
      if sublist[0] in material:
        upholstery_color_list.append(sublist[1])
      else:
        upholstery_color_list.append(sublist[0])
  elif isinstance(sublist, float):
    upholstery_color_list.append(sublist)

In [481]:
len(upholstery_color_list), np.unique(upholstery_color_list)

(15919,
 array([' Beige', ' Black', ' Blue', ' Brown', ' Grey', ' Orange',
        ' Other', ' Red', ' White', ' Yellow', 'Beige', 'Black', 'Blue',
        'Brown', 'Grey', 'White', 'nan'], dtype='<U32'))

In [482]:
upholstery_color_list = [item.strip() if isinstance(item,str) else item for item in upholstery_color_list]

In [483]:
len(upholstery_color_list), np.unique(upholstery_color_list)

(15919,
 array(['Beige', 'Black', 'Blue', 'Brown', 'Grey', 'Orange', 'Other',
        'Red', 'White', 'Yellow', 'nan'], dtype='<U32'))

In [484]:
df_11['upholstery_color'] = upholstery_color_list

In [485]:
df_11['upholstery_color'].value_counts()

upholstery_color
Black     8201
Grey      1376
Other      960
Brown      207
Beige       54
Blue        16
White       13
Red          9
Yellow       4
Orange       1
Name: count, dtype: int64

In [486]:
df_11['upholstery_color'].isnull().sum()

np.int64(5078)

**body**

In [487]:
df_11['body'].value_counts()

body
[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: count, dtype: int64

In [488]:
df_11['body'].str[1].value_counts()

body
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: count, dtype: int64

In [489]:
df_11['body'] = df_11['body'].str[1]

In [490]:
df_11['body'].value_counts()

body
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: count, dtype: int64

In [491]:
df_11['body'].isnull().sum()

np.int64(60)

**nr_of_doors**

In [492]:
df_11['nr_of_doors'].value_counts()

nr_of_doors
[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
[\n1\n]        1
[\n7\n]        1
Name: count, dtype: int64

In [493]:
df_11['nr_of_doors'].str[0].str.strip()

0        5
1        3
2        4
3        3
4        5
        ..
15914    5
15915    5
15916    5
15917    5
15918    5
Name: nr_of_doors, Length: 15919, dtype: object

In [494]:
df_11['nr_of_doors'] = df_11['nr_of_doors'].str[0].str.strip().astype(float)

In [495]:
df_11['nr_of_doors'].value_counts()

nr_of_doors
5.0    11575
4.0     3079
3.0      832
2.0      219
1.0        1
7.0        1
Name: count, dtype: int64

In [496]:
df_11['nr_of_doors'].isnull().sum()

np.int64(212)

**nr_of_seats**

In [497]:
df_11['nr_of_seats'].value_counts()

nr_of_seats
[\n5\n]    13336
[\n4\n]     1125
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: count, dtype: int64

In [498]:
df_11['nr_of_seats'].str[0].str.strip()

0        5
1        4
2        4
3        4
4        5
        ..
15914    5
15915    5
15916    7
15917    7
15918    5
Name: nr_of_seats, Length: 15919, dtype: object

In [499]:
df_11['nr_of_seats'] = df_11['nr_of_seats'].str[0].str.strip().astype(float)

In [500]:
df_11['nr_of_seats'].value_counts()

nr_of_seats
5.0    13336
4.0     1125
7.0      362
2.0      116
6.0        2
3.0        1
Name: count, dtype: int64

In [501]:
df_11['nr_of_seats'].isnull().sum()

np.int64(977)

**model_code**

In [502]:
df_11['model_code'].value_counts()

model_code
[\n0035/BCB\n]    268
[\n0588/BNO\n]    245
[\n0588/BDB\n]    206
[\n0588/BHX\n]    188
[\n1844/ADJ\n]    175
                 ...
[\n1844/AIB\n]      1
[\n3333/BBL\n]      1
[\n1844/AHR\n]      1
[\n3333/006\n]      1
[\n3333/BKG\n]      1
Name: count, Length: 232, dtype: int64

In [503]:
df_12 = df_11.drop('model_code', axis = 1)

In [504]:
df_12['gearing_type'].value_counts()

gearing_type
[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: count, dtype: int64

In [505]:
df_12['gearing_type'].str[1]

0        Automatic
1        Automatic
2        Automatic
3        Automatic
4        Automatic
           ...
15914    Automatic
15915    Automatic
15916    Automatic
15917    Automatic
15918    Automatic
Name: gearing_type, Length: 15919, dtype: object

In [506]:
df_12['gearing_type'] = df_12['gearing_type'].str[1]

In [507]:
df_12['gearing_type'].value_counts()

gearing_type
Manual            8153
Automatic         7297
Semi-automatic     469
Name: count, dtype: int64

In [508]:
df_12['gearing_type'].isnull().sum()

np.int64(0)

**displacement**

In [509]:
df_12['displacement'].value_counts()

displacement
[\n1,598 cc\n]    4761
[\n999 cc\n]      2438
[\n1,398 cc\n]    1314
[\n1,399 cc\n]     749
[\n1,229 cc\n]     677
                  ...
[\n890 cc\n]         1
[\n1,100 cc\n]       1
[\n1,333 cc\n]       1
[\n1,580 cc\n]       1
[\n1,800 cc\n]       1
Name: count, Length: 77, dtype: int64

In [510]:
df_12['displacement'].str[0].str.strip().str.replace(',', '').str.replace('cc', '').astype(float)

0        1422.0
1        1798.0
2        1598.0
3        1422.0
4        1422.0
          ...
15914    1997.0
15915    1798.0
15916    1997.0
15917    1997.0
15918    1798.0
Name: displacement, Length: 15919, dtype: float64

In [511]:
df_12['displacement'] = df_12['displacement'].str[0].str.strip().str.replace(',', '').str.replace('cc', '').astype(float)

In [512]:
df_12['displacement'].value_counts().index.sort_values()

Index([    1.0,     2.0,    54.0,   122.0,   139.0,   140.0,   160.0,   890.0,
         898.0,   899.0,   900.0,   929.0,   973.0,   995.0,   996.0,   997.0,
         998.0,   999.0,  1000.0,  1100.0,  1149.0,  1195.0,  1197.0,  1198.0,
        1199.0,  1200.0,  1229.0,  1239.0,  1248.0,  1300.0,  1333.0,  1350.0,
        1364.0,  1368.0,  1369.0,  1390.0,  1395.0,  1396.0,  1397.0,  1398.0,
        1399.0,  1400.0,  1422.0,  1461.0,  1490.0,  1495.0,  1496.0,  1498.0,
        1499.0,  1500.0,  1533.0,  1568.0,  1580.0,  1584.0,  1589.0,  1596.0,
        1598.0,  1599.0,  1600.0,  1618.0,  1686.0,  1696.0,  1798.0,  1800.0,
        1856.0,  1896.0,  1956.0,  1968.0,  1984.0,  1995.0,  1997.0,  1998.0,
        2000.0,  2480.0,  2967.0, 15898.0, 16000.0],
      dtype='float64', name='displacement')

In [513]:
df_12['displacement'].isnull().sum()

np.int64(496)

**cylinders**

In [514]:
df_12['cylinders'].value_counts()

cylinders
[\n4\n]    8105
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n8\n]       2
[\n2\n]       2
[\n1\n]       1
Name: count, dtype: int64

In [515]:
df_12['cylinders'].str[0].str.strip().astype(float)

0        3.0
1        4.0
2        NaN
3        3.0
4        3.0
        ...
15914    4.0
15915    4.0
15916    4.0
15917    4.0
15918    4.0
Name: cylinders, Length: 15919, dtype: float64

In [516]:
df_12['cylinders'] = df_12['cylinders'].str[0].str.strip().astype(float)

In [517]:
df_12['cylinders'].value_counts()

cylinders
4.0    8105
3.0    2104
5.0      22
6.0       3
8.0       2
2.0       2
1.0       1
Name: count, dtype: int64

In [518]:
df_12['cylinders'].isnull().sum()

np.int64(5680)

**weight**

In [519]:
df_12['weight'].value_counts()

weight
[\n1,163 kg\n]    574
[\n1,360 kg\n]    356
[\n1,165 kg\n]    301
[\n1,335 kg\n]    242
[\n1,135 kg\n]    213
                 ...
[\n1,939 kg\n]      1
[\n1,797 kg\n]      1
[\n1,207 kg\n]      1
[\n1,017 kg\n]      1
[\n2,037 kg\n]      1
Name: count, Length: 434, dtype: int64

In [520]:
df_12['weight'].str[0].str.strip().str.replace(',', '').str.replace('kg', '').astype(float)

0        1220.0
1        1255.0
2           NaN
3        1195.0
4           NaN
          ...
15914    1758.0
15915    1708.0
15916       NaN
15917    1758.0
15918    1685.0
Name: weight, Length: 15919, dtype: float64

In [521]:
df_12['weight'] = df_12['weight'].str[0].str.strip().str.replace(',', '').str.replace('kg', '').astype(float)

In [522]:
df_12['weight'].value_counts()

weight
1163.0    574
1360.0    356
1165.0    301
1335.0    242
1135.0    213
         ...
1939.0      1
1797.0      1
1207.0      1
1017.0      1
2037.0      1
Name: count, Length: 434, dtype: int64

In [523]:
df_12['weight'].isnull().sum()

np.int64(6974)

**drive_chain**

In [524]:
df_12['drive_chain'].value_counts()

drive_chain
[\nfront\n]    8886
[\n4WD\n]       171
[\nrear\n]        4
Name: count, dtype: int64

In [525]:
df_12['drive_chain'].str[0].str.strip()

0        front
1        front
2        front
3          NaN
4        front
         ...
15914    front
15915    front
15916    front
15917    front
15918      4WD
Name: drive_chain, Length: 15919, dtype: object

In [526]:
df_12['drive_chain'] = df_12['drive_chain'].str[0].str.strip()

In [527]:
df_12['drive_chain'].value_counts()

drive_chain
front    8886
4WD       171
rear        4
Name: count, dtype: int64

In [528]:
df_12['drive_chain'].isnull().sum()

np.int64(6858)

**fuel**

In [529]:
df_12['fuel'].value_counts()

fuel
[\n, Diesel (Particulate Filter), \n]                           4315
[\n, Super 95, \n]                                              3338
[\n, Gasoline, \n]                                              3175
[\n, Diesel, \n]                                                2984
[\n, Super 95 / Regular/Benzine 91, \n]                          424
                                                                ...
[\n, Super 95 / Regular/Benzine 91 (Particulate Filter), \n]       1
[\n, Super 95 / Super E10 95 / Super Plus 98, \n]                  1
[\n, Electric, \n]                                                 1
[\n, Super 95 / Super Plus 98 / Super Plus E10 98, \n]             1
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]             1
Name: count, Length: 77, dtype: int64

In [530]:
df_12['fuel'].str[1].str.strip()

0                          Diesel (Particulate Filter)
1                                             Gasoline
2                          Diesel (Particulate Filter)
3                          Diesel (Particulate Filter)
4                          Diesel (Particulate Filter)
                             ...
15914                      Diesel (Particulate Filter)
15915    Super 95 / Super Plus 98 (Particulate Filter)
15916                                           Diesel
15917                                           Diesel
15918                                         Super 95
Name: fuel, Length: 15919, dtype: object

In [531]:
df_12['fuel'] = df_12['fuel'].str[1].str.strip()

In [532]:
df_12['fuel'].value_counts()

fuel
Diesel (Particulate Filter)                           4315
Super 95                                              3338
Gasoline                                              3175
Diesel                                                2984
Super 95 / Regular/Benzine 91                          424
                                                      ...
Super 95 / Regular/Benzine 91 (Particulate Filter)       1
Super 95 / Super E10 95 / Super Plus 98                  1
Electric                                                 1
Super 95 / Super Plus 98 / Super Plus E10 98             1
Super Plus 98 / Super 95 / Super Plus E10 98             1
Name: count, Length: 77, dtype: int64

In [533]:
benzine = df_12['fuel'].str.contains('Benzine')

In [534]:
gasoline = df_12['fuel'].str.contains('Gasoline')

In [535]:
super = df_12['fuel'].str.contains('Super')

In [536]:
regular = df_12['fuel'].str.contains('Regular')

In [537]:
diesel = df_12['fuel'].str.contains('Diesel')

In [538]:
df_12.loc[benzine, 'fuel'] = 'Benzine'

In [539]:
df_12.loc[gasoline, 'fuel'] = 'Benzine'

In [540]:
df_12.loc[super, 'fuel'] = 'Benzine'

In [541]:
df_12.loc[regular, 'fuel'] = 'Benzine'

In [542]:
df_12.loc[diesel, 'fuel'] = 'Diesel'

In [543]:
df_12['fuel'].value_counts()

fuel
Benzine                        8549
Diesel                         7299
CNG                              33
LPG                              16
Liquid petroleum gas (LPG)       10
Others                            5
CNG (Particulate Filter)          3
Biogas                            1
Others (Particulate Filter)       1
Domestic gas H                    1
Electric                          1
Name: count, dtype: int64

In [544]:
gas = ['CNG', 'LPG', 'Liquid petroleum gas (LPG)', 'CNG (Particulate Filter)', 'Biogas', 'Domestic gas H']

In [545]:
gas_sub = df_12['fuel'].isin(gas)

In [546]:
df_12.loc[gas_sub, 'fuel'] = 'Gas'

In [547]:
df_12['fuel'].value_counts()

fuel
Benzine                        8549
Diesel                         7299
Gas                              64
Others                            5
Others (Particulate Filter)       1
Electric                          1
Name: count, dtype: int64

In [548]:
other = ['Others', 'Others (Particulate Filter)', 'Electric']

In [549]:
other_sub = df_12['fuel'].isin(other)

In [550]:
df_12.loc[other_sub, 'fuel'] = 'Others'

In [551]:
df_12['fuel'].value_counts()

fuel
Benzine    8549
Diesel     7299
Gas          64
Others        7
Name: count, dtype: int64

In [552]:
df_12['fuel'].isnull().sum()

np.int64(0)

In [553]:
df_12['type_fuel'].value_counts()

type_fuel
Benzine    8549
Diesel     7297
Gas          64
Others        7
Name: count, dtype: int64

In [554]:
df_12['type_fuel'].isnull().sum()

np.int64(2)

In [555]:
df_12['Equal'] = df_12['fuel'] == df_12['type_fuel']

In [556]:
df_12['Equal'].value_counts()

Equal
True     15917
False        2
Name: count, dtype: int64

In [557]:
df_13 = df_12.drop(['type_fuel', 'Equal'], axis = 1)

**consumption**

In [558]:
df_13['consumption'].value_counts()

consumption
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]            304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]              276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]            257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]            253
[[4.7 l/100 km (comb)], [5.1 l/100 km (city)], [4.4 l/100 km (country)]]            244
                                                                                   ...
[[4.5 l/100 km (comb)], [4.6 l/100 km (city)], [3.8 l/100 km (country)]]              1
[\n, 5 l/100 km (comb), \n, 5.5 l/100 km (city), \n, 3.9 l/100 km (country), \n]      1
[[6 l/100 km (comb)], [7.2 l/100 km (city)], [4.7 l/100 km (country)]]                1
[[3.2 l/100 km (comb)], [3.5 l/100 km (city)], [3.1 l/100 km (country)]]              1
[[32 l/100 km (comb)], [], []]                                                        1
Name: count, Length: 881, dtype: int64

In [559]:
df_13['consumption'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: consumption
Non-Null Count  Dtype
--------------  -----
14013 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [560]:
consumption_list = []
for sublist in df_13['consumption']:
  if isinstance(sublist, list):
    sublist = [item for item in sublist if item != '\n']
    consumption_list.append(len(sublist))

len(consumption_list), np.unique(consumption_list)

(14013, array([1, 3]))

In [561]:
def consumption_comb(a):
  if isinstance(a, list):
    a = [item for item in a if item !='\n']
    if isinstance(a[0], list):
      return a[0][0] if a[0] else np.nan
    else:
      return a[0]

In [562]:
def consumption_city(a):
  if isinstance(a, list):
    a = [item for item in a if item !='\n']
    if len(a) == 3:
      if isinstance(a[1], list):
        return a[1][0] if a[1] else np.nan
      else:
        return a[1]

In [563]:
def consumption_country(a):
  if isinstance(a, list):
    a = [item for item in a if item !='\n']
    if len(a) == 3:
      if isinstance(a[2], list):
        return a[2][0] if a[2] else np.nan
      else:
        return a[2]

In [564]:
df_13['consumption_comb'] = df_13['consumption'].apply(consumption_comb)

In [565]:
df_13['consumption_city'] = df_13['consumption'].apply(consumption_city)

In [566]:
df_13['consumption_country'] = df_13['consumption'].apply(consumption_country)

In [567]:
df_13['consumption_comb'] = df_13['consumption_comb'].str.findall('\d+\.?\d?').str[0].astype(float)

In [568]:
df_13['consumption_city'] = df_13['consumption_city'].str.findall('\d+\.?\d?').str[0].astype(float)

In [569]:
df_13['consumption_country'] = df_13['consumption_country'].str.findall('\d+\.?\d?').str[0].astype(float)

In [570]:
df_13[['consumption', 'consumption_comb', 'consumption_city', 'consumption_country']].sample(20)

,consumption,consumption_comb,consumption_city,consumption_country
537,"[[4.2 l/100 km (comb)], [5 l/100 km (city)], [...",4.2,5.0,3.7
7627,NaN,NaN,NaN,NaN
15535,"[[4.7 l/100 km (comb)], [5.1 l/100 km (city)],...",4.7,5.1,4.4
8698,"[[3.8 l/100 km (comb)], [4.5 l/100 km (city)],...",3.8,4.5,3.4
2014,"[[4.8 l/100 km (comb)], [5.9 l/100 km (city)],...",4.8,5.9,4.2
10929,"[[4.3 l/100 km (comb)], [5.5 l/100 km (city)],...",4.3,5.5,3.6
13135,NaN,NaN,NaN,NaN
4860,"[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",4.1,4.6,3.8
14203,"[[5.7 l/100 km (comb)], [7.2 l/100 km (city)],...",5.7,7.2,4.9
2905,"[[3.9 l/100 km (comb)], [4.4 l/100 km (city)],...",3.9,4.4,3.6
6038,"[[4.5 l/100 km (comb)], [5.7 l/100 km (city)],...",4.5,5.7,3.8
14662,"[[4.2 l/100 km (comb)], [6.5 l/100 km (city)],...",4.2,6.5,4.4
8200,"[\n, 5.8 l/100 km (comb), \n, 7.6 l/100 km (ci...",5.8,7.6,4.8
7572,"[[4.5 l/100 km (comb)], [5.4 l/100 km (city)],...",4.5,5.4,4.0
10994,"[[3.8 l/100 km (comb)], [4.5 l/100 km (city)],...",3.8,4.5,3.3
10031,"[\n, 6 l/100 km (comb), \n, 7.8 l/100 km (city...",6.0,7.8,4.9
11325,"[[7 l/100 km (comb)], [0 l/100 km (city)], [0 ...",7.0,0.0,0.0
6419,NaN,NaN,NaN,NaN
3007,"[[4 l/100 km (comb)], [4.7 l/100 km (city)], [...",4.0,4.7,3.6
14054,"[[5.4 l/100 km (comb)], [6.8 l/100 km (city)],...",5.4,6.8,4.5

**co2_emission**

In [571]:
df_13['co2_emission'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: co2_emission
Non-Null Count  Dtype
--------------  -----
14111 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [572]:
df_13['co2_emission'].isnull().sum()

np.int64(1808)

In [573]:
df_13['co2_emission'].value_counts()

co2_emission
[\n120 g CO2/km (comb)\n]    740
[[], [], []]                 628
[\n99 g CO2/km (comb)\n]     545
[\n97 g CO2/km (comb)\n]     537
[\n104 g CO2/km (comb)\n]    501
                            ...
[\n180 g CO2/km (comb)\n]      1
[\n171 g CO2/km (comb)\n]      1
[\n183 g CO2/km (comb)\n]      1
[\n1 g CO2/km (comb)\n]        1
[\n193 g CO2/km (comb)\n]      1
Name: count, Length: 123, dtype: int64

In [574]:
df_13['co2_emission'].str[0].str.strip().str.findall('\d+').str[0].astype(float)

0         99.0
1        129.0
2         99.0
3         99.0
4        109.0
         ...
15914    139.0
15915    168.0
15916    139.0
15917    139.0
15918    153.0
Name: co2_emission, Length: 15919, dtype: float64

In [575]:
df_13['co2_emission'] = df_13['co2_emission'].str[0].str.strip().str.findall('\d+').str[0].astype(float)

In [576]:
df_13['co2_emission'].value_counts()

co2_emission
120.0    740
99.0     545
97.0     537
104.0    501
102.0    477
        ...
177.0      1
45.0       1
171.0      1
183.0      1
193.0      1
Name: count, Length: 119, dtype: int64

In [577]:
df_13['co2_emission'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: co2_emission
Non-Null Count  Dtype
--------------  -----
13483 non-null  float64
dtypes: float64(1)
memory usage: 124.5 KB

In [578]:
df_13['co2_emission'].isnull().sum()

np.int64(2436)

**emission_class**

In [579]:
df_13['emission_class'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: emission_class
Non-Null Count  Dtype
--------------  -----
12898 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [580]:
df_13['emission_class'].isnull().sum()

np.int64(3021)

In [581]:
df_13['emission_class'].value_counts()

emission_class
[\nEuro 6\n]          10139
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: count, dtype: int64

In [582]:
df_13['emission_class'].str[0].str.strip().value_counts()

emission_class
Euro 6          10139
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: count, dtype: int64

In [583]:
df_13['emission_class'] = df_13['emission_class'].str[0].str.strip()

In [584]:
df_13['emission_class'].value_counts()

emission_class
Euro 6          10139
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: count, dtype: int64

In [585]:
euro = df_13['emission_class'].isin(['Euro 6d-TEMP', 'Euro 6c', 'Euro 6d'])
df_13.loc[euro, 'emission_class'] = 'Euro 6'

In [586]:
df_13['emission_class'].value_counts()

emission_class
Euro 6    12173
Euro 5       78
Euro 4       40
Name: count, dtype: int64

In [587]:
df_13['emission_class'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: emission_class
Non-Null Count  Dtype
--------------  -----
12291 non-null  object
dtypes: object(1)
memory usage: 124.5+ KB

In [588]:
df_13['emission_class'].isnull().sum()

np.int64(3628)

**comfort_and_convenience**

In [589]:
df_13['comfort_and_convenience'].value_counts()

comfort_and_convenience
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                                         216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                                      134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                               130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                            105
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                     92
                                                                                                                                                                                                                                                                                                                                                                                                                               ...
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]      1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows]                        1
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]                                                                                                                             1
[Air conditioning, Armrest, Cruise control, Heated steering wheel, Hill Holder, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system, Tinted windows]                                                                               1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrically adjustable seats, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]              1
Name: count, Length: 6198, dtype: int64

In [590]:
df_13['comfort_and_convenience'].astype(str).str.replace('[', '').str.replace(']', '').value_counts()

comfort_and_convenience
nan                                                                                                                                                                                                                                                                                                                                                                                                                                               920
'Air conditioning', 'Electrical side mirrors', 'Hill Holder', 'Power windows'                                                                                                                                                                                                                                                                                                                                                                     216
'Air conditioning', 'Electrical side mirrors', 'Power windows'                                                                                                                                                                                                                                                                                                                                                                                    134
'Air conditioning', 'Power windows'                                                                                                                                                                                                                                                                                                                                                                                                               130
'Air conditioning', 'Armrest', 'Automatic climate control', 'Cruise control', 'Electrical side mirrors', 'Leather steering wheel', 'Light sensor', 'Lumbar support', 'Multi-function steering wheel', 'Navigation system', 'Park Distance Control', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Start-stop system'                                              105
                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
'Air conditioning', 'Armrest', 'Cruise control', 'Electrical side mirrors', 'Heated steering wheel', 'Hill Holder', 'Leather steering wheel', 'Light sensor', 'Multi-function steering wheel', 'Park Distance Control', 'Parking assist system camera', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Split rear seats', 'Start-stop system', 'Tinted windows'      1
'Air conditioning', 'Automatic climate control', 'Cruise control', 'Electrical side mirrors', 'Leather steering wheel', 'Light sensor', 'Multi-function steering wheel', 'Park Distance Control', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating'                                                                                                                       1
'Air conditioning', 'Armrest', 'Cruise control', 'Heated steering wheel', 'Hill Holder', 'Light sensor', 'Lumbar support', 'Multi-function steering wheel', 'Navigation system', 'Parking assist system camera', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Start-stop system', 'Tinted windows'                                                                 1
'Air conditioning', 'Armrest', 'Cruise control', 'Electrical side mirrors', 'Leather steering wheel', 'Light sensor', 'Multi-function steering wheel', 'Park Distance Control', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Start-stop system'                                                                                                                                                   1
'Air conditioning', 'Armrest', 'Cruise control', 'Electrical side mirrors', 'Hill Holder', 'Light sensor', 'Multi-function steering wheel', 'Navigation system', 'Park Distance Control', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Start-stop system'                                                                                                                          1
Name: count, Length: 6199, dtype: int64

In [591]:
df_13['comfort_and_convenience'] = df_13['comfort_and_convenience'].astype(str).str.replace('[', '').str.replace(']', '')

**entertainment_and_media**

In [592]:
df_13['entertainment_and_media'].value_counts()

entertainment_and_media
[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                                             1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                                         982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]                              783
[On-board computer, Radio]                                                                                    487
[Radio]                                                                                                       477
                                                                                                             ...
[CD player, Hands-free equipment, On-board computer, Radio, Sound system, Television]                           1
[Digital radio, USB]                                                                                            1
[Digital radio, Hands-free equipment, On-board computer, Radio, Sound system]                                   1
[CD player, Digital radio, Hands-free equipment, On-board computer, Radio, Sound system, Television, USB]       1
[Digital radio, MP3, On-board computer, Radio, Sound system, USB]                                               1
Name: count, Length: 346, dtype: int64

In [593]:
df_13['entertainment_and_media'].astype(str).str.replace('[', '').str.replace(']', '').value_counts()

entertainment_and_media
nan                                                                                                                        1374
'Bluetooth', 'Hands-free equipment', 'On-board computer', 'Radio', 'USB'                                                   1282
'Bluetooth', 'Hands-free equipment', 'MP3', 'On-board computer', 'Radio', 'USB'                                             982
'Bluetooth', 'CD player', 'Hands-free equipment', 'MP3', 'On-board computer', 'Radio', 'USB'                                783
'On-board computer', 'Radio'                                                                                                487
                                                                                                                           ...
'CD player', 'Hands-free equipment', 'On-board computer', 'Radio', 'Sound system', 'Television'                               1
'Digital radio', 'USB'                                                                                                        1
'Digital radio', 'Hands-free equipment', 'On-board computer', 'Radio', 'Sound system'                                         1
'CD player', 'Digital radio', 'Hands-free equipment', 'On-board computer', 'Radio', 'Sound system', 'Television', 'USB'       1
'Digital radio', 'MP3', 'On-board computer', 'Radio', 'Sound system', 'USB'                                                   1
Name: count, Length: 347, dtype: int64

In [594]:
df_13['entertainment_and_media'] = df_13['entertainment_and_media'].astype(str).str.replace('[', '').str.replace(']', '')

**extras**

In [595]:
df_13['extras'].value_counts()

extras
[Alloy wheels]                                                                                                                              3245
[Alloy wheels, Touch screen]                                                                                                                 697
[Alloy wheels, Voice Control]                                                                                                                577
[Alloy wheels, Touch screen, Voice Control]                                                                                                  541
[Alloy wheels, Roof rack]                                                                                                                    385
                                                                                                                                            ...
[Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Touch screen]                                 1
[Alloy wheels, Shift paddles, Sport seats, Sport suspension, Touch screen, Voice Control, Winter tyres]                                        1
[Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Touch screen, Tuned car, Voice Control]       1
[Tuned car, Voice Control]                                                                                                                     1
[Alloy wheels, Shift paddles, Ski bag, Sport seats, Sport suspension, Touch screen, Voice Control]                                             1
Name: count, Length: 659, dtype: int64

In [596]:
df_13['extras'].astype(str).str.replace('[', '').str.replace(']', '').value_counts()

extras
'Alloy wheels'                                                                                                                                              3245
nan                                                                                                                                                         2962
'Alloy wheels', 'Touch screen'                                                                                                                               697
'Alloy wheels', 'Voice Control'                                                                                                                              577
'Alloy wheels', 'Touch screen', 'Voice Control'                                                                                                              541
                                                                                                                                                            ...
'Alloy wheels', 'Catalytic Converter', 'Shift paddles', 'Sport package', 'Sport seats', 'Sport suspension', 'Touch screen'                                     1
'Alloy wheels', 'Shift paddles', 'Sport seats', 'Sport suspension', 'Touch screen', 'Voice Control', 'Winter tyres'                                            1
'Alloy wheels', 'Catalytic Converter', 'Shift paddles', 'Sport package', 'Sport seats', 'Sport suspension', 'Touch screen', 'Tuned car', 'Voice Control'       1
'Tuned car', 'Voice Control'                                                                                                                                   1
'Alloy wheels', 'Shift paddles', 'Ski bag', 'Sport seats', 'Sport suspension', 'Touch screen', 'Voice Control'                                                 1
Name: count, Length: 660, dtype: int64

In [597]:
df_13['extras'] = df_13['extras'].astype(str).str.replace('[', '').str.replace(']', '')

**safety_and_security**

In [598]:
df_13['safety_and_security'].value_counts()

safety_and_security
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                                                    538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                                                                480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                                                              275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                        272
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                                    228
                                                                                                                                                                                                                                                                                                                                                                                                                             ...
[ABS, Alarm system, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Traffic sign recognition]                                                                                                                                           1
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition]                                                                                                                   1
[ABS, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Traction control]                                                                                                                                                                                                                                        1
[ABS, Central door lock, Driver-side airbag, Fog lights, Isofix, Passenger-side airbag, Power steering, Xenon headlights]                                                                                                                                                                                                                                                                                                       1
[ABS, Adaptive Cruise Control, Alarm system, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Traffic sign recognition]      1
Name: count, Length: 4443, dtype: int64

In [599]:
df_13['safety_and_security'].astype(str).str.replace('[', '').str.replace(']', '').value_counts()

safety_and_security
nan                                                                                                                                                                                                                                                                                                                                                                                                                                                                              982
'ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Fog lights', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control'                                                                                                                                                                                                               538
'ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control'                                                                                                                                                                                                                             480
'ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control', 'Xenon headlights'                                                                                                                                                                                                         275
'ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Fog lights', 'Immobilizer', 'Isofix', 'LED Daytime Running Lights', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control'                                                                                                                                                                                 272
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ...
'Central door lock', 'Driver-side airbag', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system'                                                                                                                                                                                                                                                                                                                                             1
'ABS', 'Adaptive Cruise Control', 'Blind spot monitor', 'Driver drowsiness detection', 'Driver-side airbag', 'Electronic stability control', 'Emergency brake assistant', 'Lane departure warning system', 'LED Daytime Running Lights', 'LED Headlights', 'Passenger-side airbag', 'Side airbag', 'Traction control'                                                                                                                                                              1
'ABS', 'Adaptive Cruise Control', 'Adaptive headlights', 'Blind spot monitor', 'Central door lock', 'Daytime running lights', 'Driver drowsiness detection', 'Driver-side airbag', 'Electronic stability control', 'Emergency brake assistant', 'Fog lights', 'Immobilizer', 'Isofix', 'Lane departure warning system', 'LED Daytime Running Lights', 'LED Headlights', 'Passenger-side airbag', 'Side airbag', 'Tire pressure monitoring system', 'Traffic sign recognition'      1
'ABS', 'Blind spot monitor', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Side airbag'                                                                                                                                                                                                                                                                                                                  1
'ABS', 'Adaptive headlights', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Fog lights', 'Immobilizer', 'Isofix', 'LED Daytime Running Lights', 'LED Headlights', 'Passenger-side airbag', 'Power steering', 'Side airbag'                                                                                                                                                                                                 1
Name: count, Length: 4444, dtype: int64

In [600]:
df_13['safety_and_security'] = df_13['safety_and_security'].astype(str).str.replace('[', '').str.replace(']', '')

**description**

In [601]:
df_13['description'].value_counts()

description
[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           30
[\nSichern Sie sich diesen RENAULT CLIO 1.2 TCE ENERGY INTENS zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei,  , Highlights,  , Navigationssystem mit Touchscreen-Farbdisplay (Media Nav Evolution),  , Scheinwerfer Full-LED,  , Einparkhilfe hinten ,  , 16? Pulse Leichtmetallfelgen ,  , Sitzheizung vorn, Komfort,  , Startanlage Handsfree Entry & Drive,  , Sitz vorn links höhenverstellbar,  , Multifunktionslenkrad in Leder ,  , Eco Mode (Fahrmodusschalter),  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch hinten und vorne mit Impulsgeber links vorn,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Rücksitzlehne geteilt/klappbar,  , Start/Stop-Anlage ,  , Komfort-Paket Plus,  , Mittelarmlehne vorn mit Ablagefach , Multimedia,  ,  , Radioempfang digital (DAB),  , 4 Lautsprecher ,  , Bluetooth Freisprecheinrichtung ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer, Licht und Sicht,  , Nebelscheinwerfer LED,  , Außenspiegel elektr. verstell-, heizbar-, und anklappbar,  , Heckscheibe heizbar ,  , Licht- und Regensensor ,  , Coming-Home-Lichtfunktion,  , Heckleuchten LED,  , Tagfahrlicht LED , Sicherheit,  , Airbag für Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Bremsassistent,  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilitäts-Programm (ESP),  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC),  , Reserverad in Fahrbereifung,  , ISOFIX Kindersitzverankerung , Weiteres,  , Sonderlackierung Metallic Dezir Rot,  , Look-Paket Chrom (außen) ,  , ...]                                                                                                                                                                                                                                                                                                                                                                                      27
[\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem , AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt,  , Highlights,  , Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom,  , Sportsitze ,  , Sportfahrwerk,  , Scheinwerfer Full-LED , Komfort,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Einparkhilfe hinten,  , Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ,  , Fensterheber elektr. mit Impulsgeber links/rechts vorn,  , Zentralverriegelung / Startanlage Handsfree Entry & Drive ,  , Berganfahr-Assistent (HSA) , Multimedia,  , Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner),  , Bordcomputer,  , Freisprecheinrichtung Bluetooth ,  , USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) , Licht und Sicht,  , Außenspiegel elektr. verstell- und heizbar ,  , Licht- und Regensensor ,  , Tagfahrlicht LED ,  , Nebelscheinwerfer LED ,  , Coming-Home-Lichtfunktion ,  , Heckleuchten LED , Sicherheit,  , Isofix-Aufnahmen für Kindersitz ,  , Seitenairbag vorn,  , Wegfahrsperre,  , Differentialsperre,  , Bremsassistent ,  , Elektron. Stabilitäts-Programm (ESP),  , Anti-Blockier-System (ABS),  , Anti-Submarining-Airbag im Fond,  , Airbag Fahrer-/Beifahrerseite ,  , Differentialsperre ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , Antischlupfregelung (ASR) , Weiteres,  , Start/Stop-Anlage ,  , Servolenkung geschwindigkeitsabhängig,  , R.S. Drive (Fahrmodusschalter) ,  , Gepäckraumabdeckung / Rollo ,  , Heckdiffusor ,  , LM-Felgen ,  , Heckspoiler (Renault Sport) ,  , Pedale Aluminium ,  , Energierückgewinnung (Energy Smart Management) , ...]                                                                                                                                                                                                                                                                                                                                      27
[\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei ,  , Highlights,  , Audio-Navigationssystem mit Touchscreen-Farbdisplay, Komfort,  , Klimaanlage ,  , Multifunktionslenkrad in Leder ,  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch vorn ,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Heckscheibe heizbar ,  , Sitz vorn links höhenverstellbar,  , Sitz vorn rechts umklappbar ,  , Stau-/Ablagefach im Laderaumboden ,  , Zentralverriegelung mit Fernbedienung , Multimedia,  , Radio R&GO,  , Bluetooth Freisprechanlage ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer,  , Licht und Sicht,  , Tagfahrlicht LED ,  , Außenspiegel elektrisch verstell- und heizbar, Sicherheit,  , Airbag für Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilitäts-Programm (ESP) ,  , Reifen-Reparaturkit ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , ISOFIX Kindersitzverankerung , Weiteres,  , Dachreling silber ,  , Look-Paket Chrom (außen) ,  , Look-Paket Grau (innen) ,  , R&GO-Paket ,  , Style-Paket ,  Ihr , AUTOHERO-RUNDUM-SORGLOS-PAKET,  beinhaltet:, Kostenlose Lieferung in Ihre Nähe, Optische & technische Aufbereitung, Mindestens 12 Monate gültige HU und AU, 1-Jahr-Premium-Garantie, Zulassung inklusive , 14-Tage-Rückgaberecht, Markenunabhängige Inzahlungnahme , Individuelle Finanzierungen zu fairen Konditionen,  , HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:, :, https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/,  , Haftungsausschluss, :, Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n]                                                                                                        27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
[\n, *** ZEER VOORDELIGE , AANBIEDING*** NIEUWE AUDI A3 SPORTBACK 30TDI 6V, MODEL 2019, VELE OPTIES, AAN SUPERPRIJS & ONMIDDELLIJK LEVERBAAR !, Deze , Audi A3,  , Sportback,  MODEL 2019 heeft een zeer volledige uitrusting waaronder: Metaalkleur Floretzilver, , Aluminium 5 Spaken 16" (AFGEBEELDE VELGEN ZIJN NIET IN DE PRIJS INBEGREPEN), , Elektrisch verwarmbare buitenspiegels, , Xenon,  , koplampen,  met , LED Dagrijlichten, , Mistlichten Vooraan, , Automatische koplampen, , , Voorbereiding , MMI Navigatiesysteem GPS (Activatie en SD-kaart nog NIET in de prijs inbegrepen), Audi Smartphone Interface,,  MMI Radio, Bluetooth, Multifunctioneel sportstuur in leder, Audi Music Interface, Decoratieve Inlegplaatjes, Automatische Klimaatregeling 2 zones, , Acoustic Parking System Achteraan,,  Start/Stop Systeem, ESP, Centrale Armsteun Vooraan, Zetels in Hoogte Verstelbaar, Elektrisch verwarmbare voorzetels, , ISOFIX, , ..., De nieuwwaarde bedraagt € 31.772 , NU,  aan,  € 22.999 (, BTW inclusief),  of € 19.007+BTW. BIJ GGE DECLERCK , GEEN AFLEVERINGSKOSTEN,  TE BETALEN !!!, De normale leveringstermijn voor de Audi A3 Sportback bedraagt 5 maanden deze wagen is,  ONMIDDELLIJK BESCHIKBAAR !!!, Nieuwste motorisatie die voldoet aan EURO 6 NORM en ZEER LAGE TAKSEN, ., Wagen geniet van de , ALLE FABRIEKSWAARBORGEN,  waaronder , AUDI FRABRIEKSGARANTIE !!!, Garage , Declerck , is onafhankelijk,  AUDI VERDELER,  met eigen werkplaatsen mechaniek als koetswerkafdeling. , Steeds 200 wagens in voorraad., Meer info bel 09/225 77 55. , Extra foto's en volledig overzicht te bekijken op , declerckgent.be, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
[\n, 1XW Multifunktions-Lederlenkrad 3 Speichen, 4 Jahre Garantie bis 120.000 km, 4A3 Sitzheizung vorne, 6E3 Mittelarmlehne, 6XE Außenspiegel elektrisch anklappbar, 7X2 Audi parking system plus, 8T2 Tempomat, 9AK Komfortklimaautomatik, 9VD Audi sound system, ASR, ABS, EBV, EDS, ESC, XDS, Außenspiegel elektrisch verstelbar und beheizbar, Außenspiegel in Wagenfarbe, Bluetooth interface inkl. Bluetooth-Audiostreaming, Bordwerkszeug/Wagenheber, C4X Aluminium-Gussra?der im 5-Speichen-Stern-Design, 7 J x 16, Reifen 205/55 R16, Elektromechanische Parkbremse, Fahrer- und Beifahrerairbag, Fensterheber, elektrisch vorne und hinten, Heckscheibenheizung, Heckscheibenwischer, Innenbeleuchtung, Integrales Kopfstu?tzensystem, Isofix, Kopfairbags vorne und hinten, Kopfstu?tzen hinten, MMI Radio plus mit 7'' Farbdisplay, SD, CD, Bluetooth und 8 Lautsprecher, Nebelschlußleuchte, PNU MMI Navigationssystem mit 7'' Farbdisplay, 3D, TMCpro, Audi connect und LTE SIM-Kartenslot, PU8 Licht- und Regensensor, Reifendruck-Kontrollanzeige, Reserverad, Ru?cksitzlehne geteilt und umklappbar, Seitenairbags, Servotronic, Sonnenblende mit Make-Up-Spiegel, Sportlenkrad, Start-Stopp-System, Tagfahrlicht, Vordersitze mit Ho?heneinstellung, Wegfahrsperre , Xenon Plus inkl. Scheinwerferreinigungsanlage, Zentralverriegelung mit Fernbedienung,  , \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
[\n, Heckscheibenheizung, Heckscheibenwischer, Kopfstützen hinten, Nebelschlußleuchte, Reserverad, Sonnenblende mit Make-Up-Spiegel, Tagfahrlicht, 1XW Multifunktions-Lederlenkrad 3 Speichen, 4 Jahre Garantie bis 120.000 km, 4A3 Sitzheizung vorne, 6E3 Mittelarmlehne, 6XE Außenspiegel elektrisch anklappbar, 7X2 Audi parking system plus, 8T2 Tempomat, 9AK Komfortklimaautomatik, 9VD Audi sound system, ASR, ABS, EBV, EDS, ESC, XDS, Außenspiegel elektrisch verstelbar und beheizbar, Außenspiegel in Wagenfarbe, Bluetooth interface inkl. Bluetooth-Audiostreaming, Bordwerkszeug/Wagenheber, C4X Aluminium-Gussräder im 5-Speichen-Stern-Design, 7 J x 16, Reifen 205/55 R16, Elektromechanische Parkbremse, Fahrer- und Beifahrerairbag, Fensterheber, elektrisch vorne und hinten, Innenbeleuchtung, Integrales Kopfstützensystem, Isofix, Kopfairbags vorne und hinten, MMI Radio plus mit 7'' Farbdisplay, SD, CD, Bluetooth und 8 Lautsprecher, PNU MMI Navigationssystem mit 7'' Farbdisplay, 3D, TMCpro, Audi connect und LTE SIM-Kartenslot, PU8 Licht- und Regensensor, Reifendruck-Kontrollanzeige, Rücksitzlehne geteilt und umklappbar, Servotronic, Sportlenkrad, Start-Stopp-System, Vordersitze mit Höheneinstellung, Xenon Plus inkl. Scheinwerferreinigungsanlage, Zentralverriegelung mit Fernbedienung, Die werksseitige Garantie hat bereits mit der Werksauslieferung des Fahrzeuges bzw. einer ggf. vorhandenen ausländischen Tageszulassung zu laufen begonnen und ist entsprechend verkürzt. Das vorliegende Fahrzeug ist bei uns in größerer Stückzahl und in mehreren Farben verfügbar. Darunter sind z.T. auch Fahrzeuge, deren Herstellung bereits länger als 12 Monate zurückliegt und daher keine Neufahrzeuge im Sinne des deutschen Rechts sind. Weitere Informationen zu Ihrem konkreten Wunschfahrzeug teilen wir jederzeit auf Anfrage mit., \n]                                                                                                                                                                                                                                                                   1

In [602]:
df_14 = df_13.drop('description', axis = 1)

**emission_label**

In [603]:
df_14['emission_label'].value_counts()

emission_label
[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: count, dtype: int64

In [604]:
df_14['emission_label'].isnull().sum()

np.int64(11934)

In [605]:
df_14['emission_label'].str[0].str.strip().str.findall('\((.*?)\)').str[0].value_counts()

emission_label
Green         3553
No sticker     381
Blue             8
Yellow           2
Red              1
Name: count, dtype: int64

In [606]:
df_14['emission_label'] = df_14['emission_label'].str[0].str.strip().str.findall('\((.*?)\)').str[0]

In [607]:
df_14['emission_label'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15919 entries, 0 to 15918
Series name: emission_label
Non-Null Count  Dtype
--------------  -----
3945 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

In [608]:
df_14['emission_label'].isnull().sum()

np.int64(11974)

**gears**

In [609]:
df_14['gears'].value_counts()

gears
[\n6\n]     5822
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n4\n]        2
[\n3\n]        2
[\n2\n]        1
[\n50\n]       1
Name: count, dtype: int64

In [610]:
df_14['gears'].str[0].str.strip().value_counts()

gears
6     5822
5     3239
7     1908
8      224
9        6
1        2
4        2
3        2
2        1
50       1
Name: count, dtype: int64

In [611]:
df_14['gears'].str[0].str.strip().astype(float).value_counts()

gears
6.0     5822
5.0     3239
7.0     1908
8.0      224
9.0        6
1.0        2
4.0        2
3.0        2
2.0        1
50.0       1
Name: count, dtype: int64

In [612]:
df_14['gears'] = df_14['gears'].str[0].str.strip().astype(float)

**country_version**

In [613]:
df_14['country_version'].value_counts()

country_version
[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nCroatia\n]              4
[\nSlovakia\n]             4
[\nSweden\n]               3
[\nBulgaria\n]             2
[\nRomania\n]              2
[\nSwitzerland\n]          1
[\nLuxembourg\n]           1
[\nSlovenia\n]             1
[\nSerbia\n]               1
[\nEgypt\n]                1
Name: count, dtype: int64

In [614]:
df_14['country_version'].str[0].str.strip().value_counts()

country_version
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Croatia              4
Slovakia             4
Sweden               3
Bulgaria             2
Romania              2
Switzerland          1
Luxembourg           1
Slovenia             1
Serbia               1
Egypt                1
Name: count, dtype: int64

In [615]:
df_14['country_version'] = df_14['country_version'].str[0].str.strip()

**electricity_consumption, last_service_date, other_fuel_types, availability, last_timing_belt_service_date, available_from**

In [616]:
df_15 = df_14.drop(['electricity_consumption', 'last_service_date', 'other_fuel_types', 'availability', 'last_timing_belt_service_date', 'available_from'], axis = 1)

In [617]:
df_16 = df_15.drop(['vat', 'short_description', 'previous_owners'], axis = 1)

In [618]:
df_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   make_model                15919 non-null  object
 1   body_type                 15859 non-null  object
 2   price                     15919 non-null  int64
 3   km                        14895 non-null  float64
 4   registration              14322 non-null  datetime64[ns]
 5   prev_owner                9279 non-null   float64
 6   inspection_new            3932 non-null   object
 7   full_service              8215 non-null   object
 8   make                      15919 non-null  object
 9   model                     15919 non-null  object
 10  body_color                15322 non-null  object
 11  paint_type                10147 non-null  object
 12  upholstery                12199 non-null  object
 13  body                      15859 non-null  object
 14  nr_of_doors               15707 non-null  float64
 15  nr_of_seats               14942 non-null  float64
 16  gearing_type              15919 non-null  object
 17  displacement              15423 non-null  float64
 18  cylinders                 10239 non-null  float64
 19  weight                    8945 non-null   float64
 20  drive_chain               9061 non-null   object
 21  fuel                      15919 non-null  object
 22  consumption               14013 non-null  object
 23  co2_emission              13483 non-null  float64
 24  emission_class            12291 non-null  object
 25  comfort_and_convenience   15919 non-null  object
 26  entertainment_and_media   15919 non-null  object
 27  extras                    15919 non-null  object
 28  safety_and_security       15919 non-null  object
 29  emission_label            3945 non-null   object
 30  gears                     11207 non-null  float64
 31  country_version           7586 non-null   object
 32  sd_disp                   10851 non-null  float64
 33  year_registration         14322 non-null  float64
 34  hp (kW)                   15831 non-null  float64
 35  type_new_used             0 non-null      float64
 36  next_inspection_date      3535 non-null   datetime64[ns]
 37  next_inspection_emission  2344 non-null   object
 38  warranty_1                4853 non-null   float64
 39  full_serivce              6230 non-null   object
 40  upholstery_type           11416 non-null  object
 41  upholstery_color          10841 non-null  object
 42  consumption_comb          13886 non-null  float64
 43  consumption_city          13483 non-null  float64
 44  consumption_country       13543 non-null  float64
dtypes: datetime64[ns](2), float64(17), int64(1), object(25)
memory usage: 5.5+ MB

In [619]:
df_17 = df_16[sorted(df_16.columns)]

In [620]:
pd.set_option('display.max_columns', None)

In [621]:
df_17.sample(50)

,body,body_color,body_type,co2_emission,comfort_and_convenience,consumption,consumption_city,consumption_comb,consumption_country,country_version,cylinders,displacement,drive_chain,emission_class,emission_label,entertainment_and_media,extras,fuel,full_serivce,full_service,gearing_type,gears,hp (kW),inspection_new,km,make,make_model,model,next_inspection_date,next_inspection_emission,nr_of_doors,nr_of_seats,paint_type,prev_owner,price,registration,safety_and_security,sd_disp,type_new_used,upholstery,upholstery_color,upholstery_type,warranty_1,weight,year_registration
2718,Sedans,Red,Sedans,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,1598.0,NaN,NaN,NaN,nan,nan,Diesel,NaN,NaN,Automatic,7.0,81.0,NaN,59512.0,Audi,Audi A3,A3,NaT,NaN,5.0,5.0,NaN,NaN,17900,2016-02-01,nan,1.6,NaN,NaN,NaN,NaN,6.0,NaN,2016.0
14188,Station wagon,Silver,Station wagon,85.0,"'Air conditioning', 'Armrest', 'Automatic clim...","[[3.3 l/100 km (comb)], [3.7 l/100 km (city)],...",3.7,3.3,3.1,NaN,4.0,1461.0,NaN,Euro 6,NaN,"'Bluetooth', 'On-board computer', 'Radio'",'Alloy wheels',Diesel,NaN,\n,Manual,5.0,66.0,NaN,40000.0,Renault,Renault Clio,Clio,NaT,NaN,5.0,5.0,NaN,NaN,9800,2017-03-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",NaN,NaN,NaN,NaN,NaN,NaN,1260.0,2017.0
10968,Station wagon,Green,Station wagon,124.0,"'Air conditioning', 'Armrest', 'Automatic clim...","[[4.7 l/100 km (comb)], [5.8 l/100 km (city)],...",5.8,4.7,4.0,Germany,NaN,NaN,NaN,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Sport seats', 'Touch screen',...",Diesel,124 g CO2/km (comb),"[\n, \n, \n124 g CO2/km (comb)\n]",Manual,NaN,125.0,NaN,125000.0,Opel,Opel Insignia,Insignia,NaT,NaN,4.0,5.0,Metallic,1.0,13990,2016-05-01,"'Adaptive Cruise Control', 'Blind spot monitor...",2.0,NaN,"[\nFull leather, Black\n]",Black,Full leather,NaN,NaN,2016.0
2447,Compact,Black,Compact,106.0,"'Air conditioning', 'Armrest', 'Electrical sid...","[\n, 4.7 l/100 km (comb), \n, 5.9 l/100 km (ci...",5.9,4.7,4.0,Germany,3.0,999.0,front,NaN,NaN,"'Bluetooth', 'CD player', 'On-board computer',...","'Alloy wheels', 'Catalytic Converter', 'Winter...",Benzine,Euro 6d-TEMP,"[\n, \n, \nEuro 6d-TEMP\n]",Manual,5.0,70.0,Yes,NaN,Audi,Audi A1,A1,NaT,NaN,5.0,5.0,Metallic,0.0,22400,NaT,"'ABS', 'Central door lock with remote control'...",5.7,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1165.0,NaN
3489,Sedans,White,Sedans,98.0,"'Air conditioning', 'Armrest', 'Electrical sid...","[[3.7 l/100 km (comb)], [4.4 l/100 km (city)],...",4.4,3.7,3.3,NaN,4.0,1598.0,NaN,Euro 6,NaN,"'CD player', 'MP3'",'Alloy wheels',Diesel,NaN,NaN,Manual,6.0,81.0,NaN,101000.0,Audi,Audi A3,A3,NaT,NaN,4.0,5.0,Metallic,NaN,15700,2016-04-01,"'ABS', 'Central door lock with remote control'...",1.6,NaN,NaN,NaN,NaN,NaN,1345.0,2016.0
8666,Sedans,White,Sedans,142.0,"'Air conditioning', 'Electrical side mirrors',...","[\n, 6.3 l/100 km (comb), \n, \n, \n]",NaN,6.3,NaN,NaN,NaN,1229.0,NaN,NaN,NaN,"'On-board computer', 'Radio'",nan,Benzine,NaN,NaN,Manual,5.0,51.0,Yes,22601.0,Opel,Opel Corsa,Corsa,NaT,NaN,3.0,5.0,NaN,2.0,7490,2016-04-01,"'ABS', 'Central door lock', 'Daytime running l...",1.2,NaN,[\nCloth\n],NaN,Cloth,60.0,NaN,2016.0
10838,NaN,Black,None,147.0,'Air conditioning',"[[5.6 l/100 km (comb)], [7.8 l/100 km (city)],...",7.8,5.6,4.2,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,Diesel,NaN,NaN,Automatic,NaN,125.0,NaN,99000.0,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,NaN,NaN,NaN,11490,2017-02-01,"'ABS', 'Central door lock', 'Daytime running l...",2.0,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
1741,Compact,Black,Compact,104.0,"'Air conditioning', 'Armrest', 'Cruise control...","[[4.4 l/100 km (comb)], [5.2 l/100 km (city)],...",5.2,4.4,3.9,Germany,3.0,999.0,front,NaN,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Catalytic Converter', 'Voice Control'",Benzine,Euro 6,"[\n, \n, \nEuro 6\n]",Manual,5.0,70.0,NaN,10000.0,Audi,Audi A1,A1,2021-08-01,0,5.0,5.0,NaN,2.0,16980,2018-08-01,"'ABS', 'Central door lock', 'Central door lock...",1.0,NaN,"[\nCloth, Black\n]",Black,Cloth,12.0,NaN,2018.0
2603,Compact,Grey,Compact,111.0,"'Air conditioning', 'Electrical side mirrors',...","[[4.9 l/100 km (comb)], [6 l/100 km (city)], [...",6.0,4.9,4.2,Germany,NaN,999.0,front,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Touch screen', 'Voice Control'",Benzine,111 g CO2/km (comb),"[\n, \n, \n111 g CO2/km (comb)\n]",Manual,6.0,85.0,NaN,4000.0,Audi,Audi A1,A1,NaT,NaN,4.0,5.0,Metallic,NaN,21800,2019-03-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2019.0
15867,Van,Grey,Van,152.0,"'Air conditioning', 'Armrest', 'Automatic clim...","[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...",8.7,6.8,5.6,Netherlands,4.0,1798.0,front,Euro 6,NaN,"'Hands-free equipment', 'Radio'","'Alloy wheels', 'Voice Control'",Benzine,Euro 6,"[\n, \n, \nEuro 6\n]",Automatic,NaN,165.0,NaN,3353.0,Renault,Renault Espace,Espace,2023-04-01,NaN,5.0,5.0,Metallic,NaN,49490,2019-04-01,"'ABS', 'Alarm system', 'Blind spot monitor', '...",1.8,NaN,"[\nFull leather, Grey\n]",Grey,Full leather,24.0,1585.0,2019.0
5679,Sedans,Grey,Sedans,124.0,"'Air conditioning', 'Automatic climate control...","[[5.5 l/100 km (comb)], [6.9 l/100 km (city)],...",6.9,5.5,4.6,European Union,4.0,1498.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'USB'",nan,Benzine,124 g CO2/km (comb),"[\n, \n, \n124 g CO2/km (comb)\n]",Manual,6.0,110.0,NaN,20.0,Audi,Audi A3,A3,NaT,NaN,5.0,5.0,Metallic,NaN,25340,NaT,"'ABS', 'Central door lock', 'Daytime running l...",1.5,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,NaN
2410,Compact,White,Compact,111.0,"'Air conditioning', 'Electrical side mirrors',...","[[4.9 l/100 km (comb)], [6 l/100 km (city)], [...",6.0,4.9,4.2,European Union,NaN,999.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'R...",'Alloy wheels',Benzine,NaN,"[\n, \n]",Manual,6.0,85.0,Yes,10.0,Audi,Audi A1,A1,NaT,NaN,5.0,5.0,NaN,NaN,19388,NaT,"'ABS', 'Central door lock', 'Daytime running l...",1.0,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1180.0,NaN
1695,Sedans,Grey,Sedans,102.0,"'Air conditioning', 'Armrest', 'Automatic clim...","[[4.4 l/100 km (comb)], [5.4 l/100 km (city)],...",5.4,4.4,3.8,NaN,3.0,999.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Sport package', 'Sport seats'...",Benzine,Euro 6,"[\n, \n, \nEuro 6\n]",Automatic,7.0,70.0,NaN,15000.0,Audi,Audi A1,A1,2021-03-01,102,3.0,4.0,Metallic,1.0,22500,2018-03-01,"'ABS', 'Alarm system', 'Central door lock with...",1.0,NaN,"[\nPart leather, Black\n]",Black,Part leather,NaN,1140.0,2018.0
3479,Sedans,Black,Sedans,NaN,"'Air conditioning', 'Armrest', 'Automatic clim...",NaN,NaN,NaN,NaN,NaN,NaN,1598.0,front,NaN,NaN,"'Bluetooth', 'CD player', 'MP3', 'On-board com...","'Alloy wheels', 'Roof rack', 'Trailer hitch'",Diesel,NaN,"[\n, \n]",Semi-automatic,7.0,81.0,NaN,150000.0,Audi,Audi A3,A3,NaT,NaN,5.0,5.0,Metallic,1.0,14800,2016-03-01,"'ABS', 'Adaptive Cruise Control', 'Alarm syste...",NaN,NaN,[\nPart leather\n],NaN,Part leather,NaN,NaN,2016.0
4209,Sedans,Black,Sedans,104.0,"'Air conditioning', 'Armrest', 'Automatic clim...","[[4.5 l/100 km (comb)], [5.5 l/100 km (city)],...",5.5,4.5,3.9,NaN,3.0,999.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Roof rack'",Benzine,NaN,NaN,Manual,6.0,85.0,NaN,24900.0,Audi,Audi A3,A3,NaT,NaN,4.0,NaN,Uni/basic,2.0,18470,2017-08-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2017.0
9657,Compact,Silver,Compact,112.0,"'Air conditioning', 'Cruise control', 'Electri...","[[4.8 l/100 km (comb)], [5.8 l/100 km (city)],...",5.8,4.8,4.1,Netherlands,NaN,1398.0,NaN,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Touch screen', 'Voice Control'",Benzine,4 (Green),"[\n, \n, \n4 (Green)\n]",Automatic,NaN,66.0,NaN,5300.0,Opel,Opel Corsa,Corsa,2021-04-01,112,4.0,5.0,Metallic,1.0,14700,2018-04-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2018.0
6159,Station wagon,White,Station wagon,NaN,"'Air conditioning', 'Cruise control', 'Electri...",NaN,NaN,NaN,NaN,NaN,NaN,1598.0,NaN,Euro 6,Green,"'On-board computer', 'Radio'",'Roof rack',Diesel,Euro 6,"[\n, \n, \nEuro 6\n]",Manual,NaN,81.0,NaN,120874.0,Opel,Opel Astra,Astra,NaT,NaN,4.0,5.0,NaN,1.0,10280,2017-01-01,"'ABS', 'Central door lock', 'Daytime running l...",1.6,NaN,"[\nCloth, Grey\n]",Grey,Cloth,NaN,NaN,2017.0
5883,Station wagon,Grey,Station wagon,122.0,"'Air conditioning', 'Cruise control', 'Electri...","[[4.6 l/100 km (comb)], [5.8 l/100 km (city)],...",5.8,4.6,3.9,Germany,NaN,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'On-board computer', 'Radio', 'USB'",'Roof rack',Diesel,4 (Green),"[\n, \n, \n4 (Green)\n]",Automatic,NaN,100.0,NaN,22300.0,Opel,Opel Astra,Astra,2021-01-01,122,4.0,5.0,Metallic,1.0,14280,2018-01-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",1.6,NaN,"[\nCloth, Other\n]",Other,Cloth,NaN,NaN,2018.0
2376,Compact,NaN,Compact,NaN,nan,"[[6 l/100 km (comb)], [8 l/100 km (city)], [4 ...",8.0,6.0,4.0,NaN,4.0,1984.0,front,NaN,NaN,nan,nan,Benzine,NaN,NaN,Automatic,7.0,147.0,NaN,NaN,Audi,Audi A1,A1,NaT,NaN,5.0,5.0,NaN,NaN,29181,NaT,nan,NaN,NaN,NaN,NaN,NaN,NaN,1180.0,NaN
14463,Compact,Red,Compact,120.0,"'Air conditioning', 'Automatic climate control...","[[5.4 l/100 km (comb)], [6.8 l/100 km (city)],...",6.8,5.4,4.5,Germany,4.0,1197.0,front,Euro 6,Green,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Touch screen', 'Voice Control'",Benzine,NaN,NaN,Automatic,6.0,87.0,Yes,10.0,Renault,Renault Clio,Clio,NaT,NaN,4.0,5.0,Metallic,NaN,19589,2018-11-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,"[\nPart leather, Black\n]",Black,Part leather,NaN,NaN,2018.0
11860,Station wagon,Brown,Station wagon,141.0,"'Air conditioning', 'Armrest', 'Automatic clim...","[[6.2 l/100 km (comb)], [7.7 l/100 km (city)],...",7.7,6.2,5.3,NaN,4.0,1490.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Roof rack', 'Touch screen', '...",Benzine,NaN,NaN,Automatic,6.0,121.0,Yes,30800.0,Opel,Opel Insignia,Insignia,2021-06-01,141,5.0,5.0,Metallic,1.0,24380,2018-01-01,"'ABS', 'Adaptive headlights', 'Blind spot moni...",1.5,NaN,[\nCloth\n],NaN,Cloth,NaN,1522.0,2018.0
7652,Station wagon,Black,Station wagon,138.0,"'Air conditioning', 'Armrest', 'Automatic clim...","[[6 l/100 km (comb)], [7.5 l/100 km (city)], [...",7.5,6.0,5.2,NaN,4.0,1399.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Catalytic Converter', 'Roof r...",Benzine,4 (Green),"[\n, \n, \n4 (Green)\n]",Automatic,6.0,110.0,Yes,50.0,Opel,Opel Astra,Astra,2021-06-01,NaN,5.0,5.0,Metallic,NaN,28940,2019-03-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nFull leather, Black\n]",Black,Full leather,NaN,NaN,2019.0
15623,Van,White,Van,NaN,"'Cruise control', 'Power windows'","[[4.6 l/100 km (comb)], [], []]",NaN,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,'Alloy wheels',Diesel,NaN,NaN,Automatic,NaN,NaN,NaN,22801.0,Renault,Renault Espace,Espace,NaT,NaN,5.0,NaN,NaN,NaN,28500,2017-09-01,"'ABS', 'Driver-side airbag', 'Passenger-side a...",NaN,NaN,NaN,NaN,NaN,12.0,NaN,2017.0
9634,Sedans,Silver,Sedans,120.0,"'Air conditioning', 'Electrical side mirrors',...","[[5.2 l/100 km (comb)], [6.8 l/100 km (city)],...",6.8,5.2,4.3,NaN,NaN,1398.0,front,Euro 6,NaN,"'Bluetooth', 'MP3', 'USB'",nan,Benzine,Euro 6,"[\n, \n, \nEuro 6\n]",Manual,5.0,55.0,NaN,12.0,Opel,Opel Corsa,Corsa,2021-04-01,NaN,5.0,5.0,Metallic,NaN,8990,2018-04-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,[\nCloth\n],NaN,Cloth,NaN,1124.0,2018.0
2299,Sedans,White,Sedans,128.0,"'Air conditioning', 'Armrest', 'Cruise control...","[[5.3 l/100 km (comb)], [6.8 l/100 km (city)],...",6.8,5.3,4.4,European Union,4.0,1395.0,front,Euro 6,Green,"'CD player', 'MP3', 'On-board computer', 'Radio'",'Alloy wheels',Benzine,NaN,NaN,Manual,6.0,92.0,NaN,10.0,Audi,Audi A1,A1,NaT,NaN,5.0,5.0,NaN,NaN,20690,NaT,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nCloth, Grey\n]",Grey,Cloth,NaN,NaN,NaN
14653,Station wagon,Silver,Station wagon,85.0,"'Air conditioning', 'Armrest', 'Cruise control...","[[3.3 l/100 km (comb)], [3.7 l/100 km (city)],...",3.7,3.3,3.1,NaN,4.0,1461.0,NaN,Euro 6,NaN,"'Bluetooth', 'On-board computer', 'USB'","'Alloy wheels', 'Touch screen'",Diesel,NaN,NaN,Manual,5.0,66.0,NaN,16200.0,Renault,Renault Clio,Clio,NaT,NaN,5.0,5.0,Metallic,NaN,10000,2018-05-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",NaN,NaN,NaN,NaN,NaN,NaN,1260.0,2018.0
3135,Station wagon,Black,Station wagon,101.0,"'Air conditioning', 'Armrest', 'Automatic clim...","[[3.8 l/100 km (comb)], [4.5 l/100 km (city)],...",4.5,3.8,3.4,NaN,NaN,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Sport seats', 'Sport suspensi...",Diesel,Euro 6,"[\n, \n, \nEuro 6\n]",Manual,NaN,81.0,Yes,127435.0,Audi,Audi A3,A3,NaT,NaN,4.0,5.0,Metallic,1.0,13900,2016-04-01,"'ABS', 'Central door lock', 'Driver drowsiness...",NaN,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2016.0
7315,Sedans,Brown,Sedans,115.0,"'Air conditioning', 'Armrest', 'Cruise control...","[[4.4 l/100 km (comb)], [5.5 l/100 km (city)],...",5.5,4.4,3.7,Germany,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...",'Catalytic Converter',Diesel,4 (Green),"[\n, \n, \n4 (Green)\n]",Manual,6.0,81.0,NaN,16000.0,Opel,Opel Astra,Astra,2021-02-01,115,5.0,5.0,NaN,1.0,14990,2018-02-01,"'ABS', 'Central door lock with remote control'...",1.6,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1364.0,2018.0
1903,Sedans,White,Sedans,110.0,nan,"[[4.8 l/100 km (comb)], [5.9 l/100 km (city)],...",5.9,4.8,4.2,NaN,3.0,999.0,NaN,NaN,NaN,nan,nan,Benzine,NaN,NaN,Automatic,7.0,85.0,NaN,281.0,Audi,Audi A1,A1,NaT,NaN,5.0,NaN,NaN,NaN,27700,NaT,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5076,Sedans,Grey,Sedans,106.0,"'Air conditioning', 'Automatic climate control...","[[4 l/100 km (comb)], [4.2 l/100 km (city)], [...",4.2,4.0,3.9,NaN,4.0,1598.0,front,NaN,Green,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...",'Alloy wheels',Diesel,NaN,"[\n, \n]",Automatic,7.0,85.0,NaN,50.0,Audi,Audi A3,A3,2022-03-01,106,5.0,5.0,Metallic,1.0,26950,2019-03-01,"'ABS', 'Adaptive headlights', 'Central door lo...",NaN,NaN,"[\nPart leather, Black\n]",Black,Part leather,36.0,NaN,2019.0
14997,Van,Grey,Van,120.0,"'Air conditioning', 'Air suspension', 'Armrest...","[[4.7 l/100 km (comb)], [5.1 l/100 km (city)],...",5.1,4.7,4.4,Italy,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Catalytic Converter', 'Touch ...",Diesel,120 g CO2/km (comb),"[\n, \n, \n120 g CO2/km (comb)\n]",Automatic,6.0,118.0,NaN,26900.0,Renault,Renault Espace,Espace,NaT,NaN,5.0,7.0,Metallic,1.0,26300,2016-01-01,"'ABS', 'Adaptive Cruise Control', 'Blind spot ...",NaN,NaN,"[\nPart leather, Other\n]",Other,Part leather,NaN,1734.0,2016.0
9628,Other,Blue,Other,120.0,nan,"[[5.2 l/100 km (comb)], [6.9 l/100 km (city)],...",6.9,5.2,4.2,NaN,4.0,1398.0,NaN,Euro 6,NaN,nan,nan,Benzine,Euro 6,"[\n, \n, \nEuro 6\n]",Manual,5.0,66.0,NaN,20414.0,Opel,Opel Corsa,Corsa,NaT,NaN,5.0,5.0,Metallic,1.0,9500,2018-04-01,nan,1.4,NaN,NaN,NaN,NaN,24.0,1163.0,2018.0
15145,Station wagon,Grey,Station wagon,120.0,"'Air conditioning', 'Armrest', 'Cruise control...","[[4.6 l/100 km (comb)], [5 l/100 km (city)], [...",5.0,4.6,4.4,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'On-board computer', 'Radio'","'Alloy wheels', 'Voice Control'",Diesel,NaN,NaN,Automatic,6.0,118.0,NaN,56000.0,Renault,Renault Espace,Espace,NaT,NaN,5.0,7.0,Metallic,NaN,23950,2016-03-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,[\nGrey\n],Grey,NaN,12.0,1659.0,2016.0
1099,Sedans,White,Sedans,105.0,"'Air conditioning', 'Armrest', 'Electrical sid...","[[4 l/100 km (comb)], [4.6 l/100 km (city)], [...",4.6,4.0,3.6,Italy,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'MP3', 'Radio'","'Alloy wheels', 'Shift paddles'",Diesel,Euro 6,"[\n, \n, \nEuro 6\n]",Automatic,7.0,85.0,NaN,15000.0,Audi,Audi A1,A1,NaT,NaN,5.0,4.0,Metallic,0.0,19700,2018-05-01,"'ABS', 'Alarm system', 'Central door lock', 'C...",1.6,NaN,"[\nCloth, Black\n]",Black,Cloth,12.0,1275.0,2018.0
15187,Transporter,Black,Transporter,120.0,"'Air conditioning', 'Power windows', 'Split re...","[[4.7 l/100 km (comb)], [5.1 l/100 km (city)],...",5.1,4.7,4.4,NaN,4.0,1598.0,NaN,Euro 6,NaN,'Radio','Alloy wheels',Diesel,NaN,\n,Automatic,6.0,118.0,NaN,98000.0,Renault,Renault Espace,Espace,NaT,NaN,5.0,7.0,Metallic,NaN,20900,2016-06-01,"'ABS', 'Alarm system', 'Passenger-side airbag'...",NaN,NaN,NaN,NaN,NaN,NaN,1734.0,2016.0
6215,Station wagon,Red,Station wagon,96.0,"'Air conditioning', 'Cruise control', 'Electri...","[[3.6 l/100 km (comb)], [4.2 l/100 km (city)],...",4.2,3.6,3.3,NaN,4.0,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...",'Roof rack',Diesel,NaN,"[\n, \n]",Manual,6.0,70.0,NaN,113000.0,Opel,Opel Astra,Astra,2019-04-01,96,5.0,5.0,Metallic,1.0,9990,2017-03-01,"'ABS', 'Central door lock with remote control'...",1.6,NaN,"[\nCloth, Grey\n]",Grey,Cloth,NaN,1388.0,2017.0
13709,Sedans,Beige,Sedans,NaN,"'Air conditioning', 'Leather steering wheel', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,'Shift paddles',Benzine,NaN,NaN,Manual,5.0,54.0,NaN,20000.0,Renault,Renault Clio,Clio,NaT,NaN,NaN,NaN,Metallic,1.0,7500,2016-12-01,"'ABS', 'Isofix', 'Tire pressure monitoring sys...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0
11097,Station wagon,Grey,Station wagon,104.0,"'Armrest', 'Cruise control', 'Electrically adj...","[[3.9 l/100 km (comb)], [4.7 l/100 km (city)],...",4.7,3.9,3.5,NaN,4.0,1956.0,NaN,Euro 5,NaN,'On-board computer','Roof rack',Diesel,Euro 5,"[\n, \n, \nEuro 5\n]",Manual,6.0,88.0,NaN,63800.0,Opel,Opel Insignia,Insignia,2020-11-01,104,5.0,5.0,Metallic,1.0,12400,2016-03-01,"'ABS', 'Central door lock with remote control'...",2.0,NaN,NaN,NaN,NaN,NaN,1733.0,2016.0
14462,Sedans,Black,Sedans,106.0,"'Cruise control', 'Electrical side mirrors', '...","[[4 l/100 km (comb)], [4.3 l/100 km (city)], [...",4.3,4.0,3.6,Germany,NaN,1461.0,front,Euro 6,Green,"'On-board computer', 'Sound system'",'Alloy wheels',Diesel,NaN,NaN,Automatic,NaN,66.0,Yes,500.0,Renault,Renault Clio,Clio,NaT,NaN,5.0,5.0,Metallic,NaN,19580,2019-03-01,"'ABS', 'Adaptive headlights', 'Central door lo...",NaN,NaN,[\nBlack\n],Black,NaN,NaN,1370.0,2019.0
3943,Sedans,Brown,Sedans,104.0,"'Air conditioning', 'Armrest', 'Electrical sid...","[[4.5 l/100 km (comb)], [5.4 l/100 km (city)],...",5.4,4.5,4.0,NaN,3.0,999.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player'",nan,Benzine,104 g CO2/km (comb),"[\n, \n, \n104 g CO2/km (comb)\n]",Automatic,7.0,85.0,NaN,29241.0,Audi,Audi A3,A3,NaT,NaN,5.0,5.0,Metallic,1.0,20800,2017-06-01,"'ABS', 'Alarm system', 'Central door lock with...",1.0,NaN,NaN,NaN,NaN,NaN,1315.0,2017.0
11650,Sedans,Silver,Sedans,129.0,"'Air conditioning', 'Armrest', 'Automatic clim...","[[5.7 l/100 km (comb)], [7.3 l/100 km (city)],...",7.3,5.7,4.7,Germany,NaN,1490.0,NaN,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Sport seats', 'Touch screen',...",Benzine,4 (Green),"[\n, \n, \n4 (Green)\n]",Manual,NaN,103.0,Yes,3158.0,Opel,Opel Insignia,Insignia,NaT,NaN,4.0,5.0,Metallic,1.0,17490,2018-03-01,"'ABS', 'Adaptive headlights', 'Central door lo...",NaN,NaN,"[\nPart leather, Black\n]",Black,Part leather,NaN,NaN,2018.0
13585,Compact,White,Compact,85.0,"'Air conditioning', 'Cruise control', 'Hill Ho...","[[3.3 l/100 km (comb)], [3.5 l/100 km (city)],...",3.5,3.3,3.1,NaN,4.0,1461.0,front,Euro 6,NaN,"'Bluetooth', 'On-board computer'",nan,Diesel,NaN,NaN,Manual,5.0,55.0,NaN,48000.0,Renault,Renault Clio,Clio,NaT,NaN,5.0,5.0,NaN,NaN,7950,2016-06-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,[\nBlack\n],Black,NaN,12.0,1087.0,2016.0

In [622]:
df_18 = df_17.drop(['consumption', 'full_service'], axis = 1)

In [623]:
df_18.sample(50)

,body,body_color,body_type,co2_emission,comfort_and_convenience,consumption_city,consumption_comb,consumption_country,country_version,cylinders,displacement,drive_chain,emission_class,emission_label,entertainment_and_media,extras,fuel,full_serivce,gearing_type,gears,hp (kW),inspection_new,km,make,make_model,model,next_inspection_date,next_inspection_emission,nr_of_doors,nr_of_seats,paint_type,prev_owner,price,registration,safety_and_security,sd_disp,type_new_used,upholstery,upholstery_color,upholstery_type,warranty_1,weight,year_registration
4677,Sedans,Grey,Sedans,106.0,"'Air conditioning', 'Automatic climate control...",4.2,4.0,3.9,NaN,4.0,1598.0,NaN,Euro 6,NaN,"'On-board computer', 'Radio'","'Alloy wheels', 'Sport suspension'",Diesel,NaN,Automatic,7.0,85.0,NaN,19840.0,Audi,Audi A3,A3,NaT,NaN,5.0,5.0,Metallic,NaN,22500,2018-07-01,"'ABS', 'Driver-side airbag', 'Electronic stabi...",1.6,NaN,NaN,NaN,NaN,12.0,1845.0,2018.0
1563,Compact,Red,Compact,108.0,"'Armrest', 'Electrical side mirrors', 'Leather...",5.8,4.8,4.2,NaN,NaN,999.0,front,Euro 6,Green,nan,nan,Benzine,NaN,Automatic,NaN,85.0,NaN,5000.0,Audi,Audi A1,A1,2021-06-01,108,NaN,NaN,Metallic,1.0,23480,2019-01-01,'LED Headlights',NaN,NaN,"[\nOther, Other\n]",Other,Other,NaN,1200.0,2019.0
12008,Station wagon,Silver,Station wagon,150.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.5,5.7,4.6,NaN,4.0,1956.0,NaN,Euro 6,Green,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Catalytic Converter', 'Shift ...",Diesel,NaN,Automatic,8.0,125.0,Yes,62295.0,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,22950,2018-03-01,"'ABS', 'Adaptive Cruise Control', 'Blind spot ...",2.0,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2018.0
12665,Station wagon,Brown,Station wagon,172.0,"'Air conditioning', 'Armrest', 'Automatic clim...",10.2,6.5,7.7,NaN,4.0,1598.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Roof rack', 'Sport seats', 'S...",Benzine,NaN,Automatic,6.0,147.0,NaN,1.0,Opel,Opel Insignia,Insignia,2022-04-01,NaN,5.0,5.0,Metallic,NaN,29995,2019-04-01,"'ABS', 'Adaptive Cruise Control', 'Blind spot ...",NaN,NaN,"[\nFull leather, Black\n]",Black,Full leather,NaN,1552.0,2019.0
7190,Sedans,Blue,Sedans,129.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.3,5.6,4.6,Spain,4.0,1399.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Catalytic Converter', 'Touch ...",Benzine,4 (Green),Automatic,6.0,110.0,Yes,20500.0,Opel,Opel Astra,Astra,NaT,NaN,5.0,5.0,Metallic,1.0,18290,2018-03-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",NaN,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1308.0,2018.0
2650,Sedans,Grey,Sedans,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,Gas,NaN,Automatic,NaN,81.0,NaN,95117.0,Audi,Audi A3,A3,NaT,NaN,NaN,NaN,Metallic,1.0,18150,2016-05-01,nan,1.4,NaN,[\nGrey\n],Grey,NaN,NaN,NaN,2016.0
5475,Sedans,Grey,Sedans,125.0,"'Air conditioning', 'Armrest', 'Automatic clim...",6.9,5.5,4.7,European Union,NaN,1498.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Sport suspension', 'Voice Con...",Benzine,NaN,Manual,6.0,110.0,Yes,10.0,Audi,Audi A3,A3,NaT,NaN,5.0,5.0,Metallic,NaN,24688,NaT,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,[\nCloth\n],NaN,Cloth,NaN,1325.0,NaN
15532,Van,White,Van,168.0,"'Air conditioning', 'Automatic climate control...",9.2,7.4,6.3,Austria,4.0,1798.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...",'Alloy wheels',Benzine,NaN,Automatic,7.0,165.0,Yes,15.0,Renault,Renault Espace,Espace,NaT,NaN,5.0,7.0,NaN,1.0,29975,2019-03-01,"'ABS', 'Blind spot monitor', 'Central door loc...",NaN,NaN,"[\nPart leather, Black\n]",Black,Part leather,NaN,NaN,2019.0
8837,Compact,Black,Compact,150.0,"'Air conditioning', 'Cruise control', 'Electri...",8.2,6.6,5.7,NaN,NaN,1398.0,front,Euro 6,Green,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Touch screen'",Benzine,NaN,Automatic,6.0,66.0,NaN,7718.0,Opel,Opel Corsa,Corsa,2021-11-01,150,5.0,5.0,Metallic,1.0,13890,2018-11-01,"'ABS', 'Central door lock', 'Daytime running l...",4.0,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1199.0,2018.0
3985,Sedans,Grey,Sedans,103.0,"'Air conditioning', 'Automatic climate control...",4.1,3.9,3.7,NaN,4.0,1598.0,front,Euro 6,NaN,'Bluetooth','Alloy wheels',Diesel,NaN,Automatic,7.0,85.0,NaN,44100.0,Audi,Audi A3,A3,NaT,NaN,5.0,5.0,NaN,NaN,19900,2017-06-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.6,NaN,[\nPart leather\n],NaN,Part leather,NaN,1285.0,2017.0
10775,Station wagon,Black,Station wagon,132.0,"'Air conditioning', 'Armrest', 'Automatic clim...",6.5,5.0,4.1,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Touch screen'",Diesel,132 g CO2/km (comb),Automatic,6.0,100.0,NaN,91447.0,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,5.0,Metallic,NaN,11990,2016-04-01,"'ABS', 'Central door lock', 'Daytime running l...",1.6,NaN,"[\nFull leather, Black\n]",Black,Full leather,12.0,1701.0,2016.0
12957,Station wagon,NaN,Station wagon,NaN,nan,5.0,4.0,3.0,NaN,4.0,1598.0,front,NaN,NaN,nan,nan,Diesel,NaN,Manual,6.0,81.0,NaN,NaN,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,5.0,NaN,NaN,23007,NaT,nan,1.6,NaN,NaN,NaN,NaN,NaN,1487.0,NaN
11492,Station wagon,Grey,Station wagon,149.0,"'Air conditioning', 'Armrest', 'Cruise control...",7.8,5.7,4.4,NaN,4.0,1956.0,front,Euro 6,NaN,"'On-board computer', 'Radio'","'Alloy wheels', 'Roof rack'",Diesel,NaN,Automatic,6.0,125.0,NaN,29000.0,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,5.0,Metallic,NaN,19900,2017-11-01,"'ABS', 'Central door lock', 'Daytime running l...",2.0,NaN,"[\nPart leather, Other\n]",Other,Part leather,NaN,1658.0,2017.0
7072,Station wagon,Brown,Station wagon,125.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.1,5.4,4.4,NaN,NaN,1399.0,NaN,NaN,Green,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Roof rack', 'Sport seats'",Benzine,125 g CO2/km (comb),Automatic,6.0,110.0,NaN,15973.0,Opel,Opel Astra,Astra,NaT,NaN,5.0,5.0,NaN,1.0,18989,2018-10-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,60.0,NaN,2018.0
12134,Sedans,Red,Sedans,136.0,"'Air conditioning', 'Armrest', 'Automatic clim...",6.7,5.2,4.3,Germany,NaN,1956.0,NaN,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Touch screen', 'Voice Control'",Diesel,136 g CO2/km (comb),Manual,NaN,125.0,NaN,11298.0,Opel,Opel Insignia,Insignia,NaT,NaN,4.0,5.0,NaN,NaN,21480,2018-03-01,"'ABS', 'Adaptive headlights', 'Central door lo...",2.0,NaN,"[\nFull leather, Black\n]",Black,Full leather,NaN,NaN,2018.0
12738,Sedans,Black,Sedans,145.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.3,5.5,4.5,Germany,4.0,1956.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Catalytic Converter', 'Shift ...",Diesel,Euro 6d-TEMP,Automatic,8.0,125.0,NaN,5555.0,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,39980,2019-06-01,"'ABS', 'Adaptive Cruise Control', 'Adaptive he...",NaN,NaN,"[\nalcantara, Black\n]",Black,alcantara,12.0,1613.0,2019.0
13668,Station wagon,White,Station wagon,82.0,"'Air conditioning', 'Cruise control', 'Electri...",3.3,3.2,3.1,Netherlands,4.0,1461.0,NaN,Euro 6,NaN,"'Digital radio', 'On-board computer', 'Radio'",'Roof rack',Diesel,NaN,Manual,5.0,65.0,NaN,162960.0,Renault,Renault Clio,Clio,NaT,NaN,5.0,NaN,Metallic,NaN,7795,2016-04-01,"'ABS', 'Central door lock', 'Daytime running l...",1.5,NaN,[\nCloth\n],NaN,Cloth,NaN,1160.0,2016.0
4223,Sedans,Black,Sedans,96.0,"'Air conditioning', 'Armrest', 'Electrical sid...",4.6,3.5,2.9,Germany,NaN,999.0,front,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...",'Alloy wheels',Benzine,96 g CO2/km (comb),Manual,NaN,85.0,NaN,23000.0,Audi,Audi A3,A3,NaT,NaN,4.0,5.0,NaN,1.0,18879,2017-11-01,"'ABS', 'Central door lock', 'Central door lock...",1.0,NaN,"[\nCloth, Black\n]",Black,Cloth,12.0,1335.0,2017.0
4364,Sedans,Blue,Sedans,99.0,"'Air conditioning', 'Armrest', 'Cruise control...",4.3,3.8,3.5,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Roof rack', 'Sport suspension'",Diesel,NaN,Manual,6.0,81.0,Yes,68021.0,Audi,Audi A3,A3,2021-06-01,99,5.0,5.0,Metallic,1.0,16290,2017-03-01,"'ABS', 'Central door lock', 'Daytime running l...",1.6,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1350.0,2017.0
8094,Sedans,Black,Sedans,127.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.0,5.5,4.7,NaN,4.0,1399.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Cab or rented Car', 'Touch screen', 'Voice Co...",Benzine,Euro 6,Manual,6.0,92.0,NaN,2000.0,Opel,Opel Astra,Astra,2020-03-01,NaN,5.0,5.0,NaN,NaN,18980,2019-03-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1278.0,2019.0
3832,Sedans,White,Sedans,103.0,"'Air conditioning', 'Automatic climate control...",4.1,3.9,3.7,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'On-board computer',...","'Alloy wheels', 'Sport package'",Diesel,103 g CO2/km (comb),Automatic,7.0,85.0,NaN,28000.0,Audi,Audi A3,A3,NaT,NaN,5.0,5.0,Metallic,NaN,21500,2017-04-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.6,NaN,NaN,NaN,NaN,24.0,1360.0,2017.0
14837,Sedans,White,Sedans,114.0,"'Air conditioning', 'Cruise control', 'Keyless...",6.3,5.0,4.2,European Union,NaN,898.0,NaN,Euro 6,Green,'On-board computer','Voice Control',Benzine,NaN,Manual,NaN,66.0,NaN,10.0,Renault,Renault Clio,Clio,NaT,NaN,5.0,5.0,NaN,NaN,10995,NaT,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7806,Sedans,White,Sedans,130.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.8,4.7,4.1,Italy,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Voice Control'",Diesel,NaN,Automatic,6.0,100.0,NaN,10.0,Opel,Opel Astra,Astra,NaT,NaN,5.0,5.0,Metallic,1.0,21300,2019-03-01,"'ABS', 'Central door lock', 'Central door lock...",1.6,NaN,"[\nPart leather, Black\n]",Black,Part leather,24.0,1425.0,2019.0
10879,Other,Grey,Other,NaN,"'Air conditioning', 'Automatic climate control...",NaN,NaN,NaN,NaN,4.0,1600.0,NaN,NaN,NaN,nan,'Alloy wheels',Diesel,NaN,Manual,NaN,100.0,NaN,91558.0,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,5.0,Metallic,NaN,11500,2017-02-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",1.6,NaN,[\nGrey\n],Grey,NaN,12.0,NaN,2017.0
8345,Compact,Black,Compact,139.0,"'Air conditioning', 'Automatic climate control...",8.0,6.0,4.9,NaN,NaN,1398.0,NaN,Euro 6,Green,"'Bluetooth', 'On-board computer', 'Radio', 'USB'","'Alloy wheels', 'Touch screen'",Benzine,NaN,Automatic,NaN,66.0,NaN,18700.0,Opel,Opel Corsa,Corsa,2019-08-01,139,4.0,5.0,Metallic,1.0,12990,2018-08-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2018.0
8834,Compact,Black,Compact,150.0,"'Air conditioning', 'Cruise control', 'Electri...",8.2,6.6,5.7,NaN,NaN,1398.0,front,Euro 6,Green,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Touch screen'",Benzine,NaN,Automatic,6.0,66.0,NaN,5865.0,Opel,Opel Corsa,Corsa,2021-11-01,150,5.0,5.0,Metallic,1.0,13890,2018-11-01,"'ABS', 'Central door lock', 'Daytime running l...",4.0,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1199.0,2018.0
12190,Station wagon,Grey,Station wagon,136.0,"'Air conditioning', 'Armrest', 'Cruise control...",7.7,6.0,4.9,Germany,4.0,1490.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'Radio', ...","'Alloy wheels', 'Roof rack', 'Touch screen', '...",Benzine,NaN,Manual,6.0,103.0,NaN,17342.0,Opel,Opel Insignia,Insignia,2021-02-01,NaN,5.0,5.0,Metallic,1.0,20940,2018-02-01,"'ABS', 'Central door lock', 'Daytime running l...",1.5,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1487.0,2018.0
11438,Station wagon,Black,Station wagon,142.0,"'Air conditioning', 'Automatic climate control...",NaN,5.1,NaN,NaN,4.0,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'On-board computer'",'Alloy wheels',Diesel,NaN,Automatic,6.0,100.0,NaN,40154.0,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,5.0,Uni/basic,NaN,19600,2017-03-01,"'ABS', 'Central door lock', 'Fog lights', 'Iso...",1.6,NaN,"[\nFull leather, Black\n]",Black,Full leather,12.0,1613.0,2017.0
6036,Station wagon,Black,Station wagon,119.0,"'Air conditioning', 'Cruise control', 'Electri...",5.7,4.5,3.8,Germany,NaN,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Roof rack', 'Sport seats', 'Touch screen'",Diesel,Euro 6,Automatic,NaN,100.0,NaN,104650.0,Opel,Opel Astra,Astra,2019-11-01,119,4.0,5.0,NaN,1.0,11290,2016-11-01,"'Central door lock', 'Daytime running lights',...",NaN,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2016.0
1514,Compact,Red,Compact,102.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.5,3.9,3.6,Germany,NaN,1422.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Cab or rented Car', 'Sport se...",Diesel,4 (Green),Manual,NaN,66.0,Yes,29884.0,Audi,Audi A1,A1,NaT,NaN,5.0,5.0,Metallic,1.0,16445,2018-05-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1195.0,2018.0
11676,Station wagon,Grey,Station wagon,124.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.8,4.7,4.0,Germany,NaN,1956.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Roof rack', 'Trailer hitch'",Diesel,4 (Green),Manual,6.0,125.0,Yes,46560.0,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,5.0,Metallic,2.0,17900,2017-01-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,"[\nCloth, Grey\n]",Grey,Cloth,NaN,1843.0,2017.0
8546,Sedans,Red,Sedans,112.0,"'Air conditioning', 'Electrical side mirrors',...",5.9,4.8,4.1,Belgium,4.0,1398.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'MP3', 'On-board com...",nan,Benzine,Euro 6,Automatic,5.0,66.0,NaN,30000.0,Opel,Opel Corsa,Corsa,NaT,NaN,5.0,5.0,NaN,1.0,10885,2017-06-01,"'ABS', 'Central door lock with remote control'...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,12.0,1163.0,2017.0
8934,Sedans,White,Sedans,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,Diesel,NaN,Manual,NaN,51.0,NaN,103854.0,Opel,Opel Corsa,Corsa,NaT,NaN,NaN,NaN,NaN,1.0,7950,2016-04-01,nan,1.3,NaN,[\nGrey\n],Grey,NaN,NaN,NaN,2016.0
4294,Sedans,Red,Sedans,107.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.7,4.7,4.1,Germany,NaN,999.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Sport package', 'Sport seats'...",Benzine,Euro 6,Manual,6.0,85.0,Yes,68090.0,Audi,Audi A3,A3,NaT,NaN,2.0,5.0,Metallic,2.0,17990,2017-01-01,"'ABS', 'Central door lock', 'Daytime running l...",1.0,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2017.0
12813,Station wagon,Black,Station wagon,NaN,"'Air conditioning', 'Armrest', 'Automatic clim...",NaN,NaN,NaN,NaN,NaN,1598.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'On-board computer',...","'Alloy wheels', 'Roof rack'",Diesel,Euro 6,Manual,6.0,100.0,NaN,8.0,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,5.0,Metallic,NaN,32990,NaT,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,[\nCloth\n],NaN,Cloth,NaN,NaN,NaN
11211,Station wagon,Black,Station wagon,119.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.7,4.5,4.0,Germany,NaN,1956.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Roof rack', 'Touch screen', '...",Diesel,4 (Green),Manual,NaN,125.0,Yes,102000.0,Opel,Opel Insignia,Insignia,NaT,NaN,4.0,5.0,Metallic,1.0,15490,2016-02-01,"'ABS', 'Adaptive Cruise Control', 'Adaptive he...",2.0,NaN,"[\nFull leather, Black\n]",Black,Full leather,NaN,NaN,2016.0
821,Sedans,Black,Sedans,94.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.1,3.6,3.3,NaN,3.0,1422.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Sport seats', 'Voice Control'",Diesel,4 (Green),Manual,5.0,66.0,NaN,21740.0,Audi,Audi A1,A1,2020-08-01,94,3.0,4.0,Metallic,1.0,14350,2017-08-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nOther, Black\n]",Black,Other,NaN,1165.0,2017.0
12181,Sedans,Grey,Sedans,NaN,"'Air conditioning', 'Armrest', 'Automatic clim...",NaN,NaN,NaN,NaN,4.0,2000.0,front,NaN,Green,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Cab or rented Car', 'Sport se...",Diesel,NaN,Manual,6.0,125.0,NaN,25300.0,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,21425,2018-04-01,"'ABS', 'Adaptive headlights', 'Blind spot moni...",2.0,NaN,"[\nPart leather, Black\n]",Black,Part leather,NaN,NaN,2018.0
6975,Compact,White,Compact,95.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.2,3.6,3.3,Germany,NaN,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'MP3', 'On-board computer', 'Radio'",'Roof rack',Diesel,NaN,Manual,6.0,70.0,Yes,86590.0,Opel,Opel Astra,Astra,NaT,NaN,5.0,5.0,NaN,1.0,11980,2017-01-01,"'ABS', 'Central door lock', 'Daytime running l...",1.6,NaN,"[\nCloth, Grey\n]",Grey,Cloth,12.0,NaN,2017.0
947,Sedans,White,Sedans,136.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.4,5.9,5.1,Germany,NaN,1395.0,front,NaN,NaN,"'Hands-free equipment', 'On-board computer', '...","'Alloy wheels', 'Cab or rented Car', 'Sport se...",Benzine,Euro 6,Automatic,NaN,92.0,Yes,24146.0,Audi,Audi A1,A1,NaT,NaN,4.0,4.0,Metallic,1.0,21420,2017-09-01,"'ABS', 'Central door lock', 'Central door lock...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,36.0,NaN,2017.0
14212,Station wagon,Black,Station wagon,130.0,"'Air conditioning', 'Cruise control', 'Electri...",7.2,5.7,4.9,NaN,4.0,1149.0,NaN,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...",'Roof rack',Benzine,130 g CO2/km (comb),Manual,5.0,54.0,NaN,30120.0,Renault,Renault Clio,Clio,NaT,NaN,5.0,5.0,Metallic,1.0,9590,2017-12-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1141.0,2017.0
394,Compact,Black,Compact,99.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.3,3.8,3.5,Germany,3.0,1422.0,front,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Catalytic Converter', 'Sport ...",Diesel,NaN,Automatic,7.0,66.0,NaN,42900.0,Audi,Audi A1,A1,NaT,NaN,5.0,4.0,NaN,1.0,15990,2016-03-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2016.0
15056,Van,White,Van,NaN,"'Cruise control', 'Sunroof'",NaN,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,'Alloy wheels',Diesel,NaN,Automatic,NaN,NaN,NaN,38002.0,Renault,Renault Espace,Espace,NaT,NaN,5.0,NaN,NaN,NaN,24990,2016-08-01,"'ABS', 'Driver-side airbag', 'Passenger-side a...",NaN,NaN,NaN,NaN,NaN,12.0,NaN,2016.0
12840,Station wagon,Grey,Station wagon,149.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.8,5.7,4.4,NaN,4.0,1956.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Touch screen', 'Voice Control'",Diesel,NaN,Manual,8.0,125.0,NaN,NaN,Opel,Opel Insignia,Insignia,NaT,NaN,5.0,5.0,Metallic,NaN,34750,NaT,"'ABS', 'Adaptive Cruise Control', 'Alarm syste...",2.0,NaN,"[\nPart leather, Grey\n]",Grey,Part leather,24.0,1658.0,NaN
8720,Compact,Black,Compact,NaN,"'Air conditioning', 'Electrical side mirrors',...",NaN,NaN,NaN,Germany,NaN,1229.0,NaN,NaN,Green,nan,nan,Benzine,NaN,Manual,NaN,51.0,Yes,52000.0,Opel,Opel Corsa,Corsa,NaT,NaN,4.0,5.0,Metallic,1.0,7390,2016-11-01,"'ABS', 'Central door lock', 'Daytime running l...",1.2,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2016.0
66,Sedans,White,Sedans,NaN,"'Air conditioning', 'Automatic climate control...",NaN,NaN,NaN,NaN,4.0,1598.0,NaN,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Sport seats'",Diesel,NaN,Automatic,7.0,85.0,NaN,64000.0,Audi,Audi A1,A1,NaT,NaN,5.0,4.0,NaN,NaN,18900,2017-06-01,"'ABS', 'Adaptive headlights', 'Alarm system', ...",1.6,NaN,[\nFull leather\n],NaN,Full leather,12.0,1720.0,2017.0

In [624]:
df_19 = df_18.drop(['make', 'model'], axis = 1)

In [625]:
df_19.sample(50)

,body,body_color,body_type,co2_emission,comfort_and_convenience,consumption_city,consumption_comb,consumption_country,country_version,cylinders,displacement,drive_chain,emission_class,emission_label,entertainment_and_media,extras,fuel,full_serivce,gearing_type,gears,hp (kW),inspection_new,km,make_model,next_inspection_date,next_inspection_emission,nr_of_doors,nr_of_seats,paint_type,prev_owner,price,registration,safety_and_security,sd_disp,type_new_used,upholstery,upholstery_color,upholstery_type,warranty_1,weight,year_registration
8670,Sedans,Blue,Sedans,126.0,"'Air conditioning', 'Electrical side mirrors',...",6.7,5.4,4.6,NaN,NaN,1229.0,NaN,NaN,NaN,"'MP3', 'On-board computer', 'Radio'",nan,Benzine,Euro 6,Manual,5.0,51.0,Yes,34815.0,Opel Corsa,NaT,NaN,3.0,5.0,NaN,2.0,7490,2016-03-01,"'ABS', 'Central door lock', 'Daytime running l...",1.2,NaN,[\nCloth\n],NaN,Cloth,60.0,NaN,2016.0
1660,Compact,Silver,Compact,134.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.4,5.8,4.9,NaN,4.0,1798.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'MP3', 'On-board com...","'Catalytic Converter', 'Shift paddles', 'Sport...",Benzine,NaN,Automatic,7.0,141.0,Yes,973.0,Audi A1,NaT,NaN,5.0,4.0,Metallic,1.0,21900,2018-03-01,"'ABS', 'Central door lock', 'Daytime running l...",1.8,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2018.0
15653,Van,Brown,Van,153.0,"'Air conditioning', 'Armrest', 'Automatic clim...",8.7,6.8,5.7,Germany,NaN,1798.0,front,NaN,NaN,"'Digital radio', 'Hands-free equipment', 'On-b...",'Alloy wheels',Benzine,Euro 6,Automatic,7.0,165.0,Yes,10290.0,Renault Espace,NaT,NaN,5.0,5.0,Metallic,1.0,34989,2018-04-01,"'ABS', 'Adaptive Cruise Control', 'Blind spot ...",NaN,NaN,"[\nFull leather, Brown\n]",Brown,Full leather,60.0,1685.0,2018.0
11576,Sedans,Grey,Sedans,126.0,"'Air conditioning', 'Armrest', 'Cruise control...",5.8,4.2,4.2,Germany,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Catalytic Converter', 'Sport ...",Diesel,4 (Green),Manual,6.0,100.0,Yes,12900.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,18780,2018-01-01,"'ABS', 'Central door lock', 'Central door lock...",1.6,NaN,"[\nPart leather, Black\n]",Black,Part leather,12.0,1503.0,2018.0
12607,Station wagon,White,Station wagon,140.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.8,6.1,5.1,Netherlands,4.0,1500.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Roof rack', 'Sport seats', 'S...",Benzine,Euro 6d-TEMP,Automatic,6.0,121.0,NaN,10.0,Opel Insignia,NaT,NaN,4.0,5.0,NaN,NaN,28490,NaT,"'ABS', 'Adaptive headlights', 'Blind spot moni...",1.5,NaN,"[\nPart leather, Black\n]",Black,Part leather,24.0,NaN,NaN
3280,Compact,Black,Compact,119.0,"'Air conditioning', 'Armrest', 'Automatic clim...",6.7,5.1,4.1,NaN,4.0,1395.0,front,Euro 6,NaN,'On-board computer','Alloy wheels',Benzine,119 g CO2/km (comb),Manual,6.0,92.0,NaN,109571.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,13500,2016-05-01,"'Daytime running lights', 'Driver drowsiness d...",1.4,NaN,[\nBlack\n],Black,NaN,12.0,1280.0,2016.0
15003,Station wagon,Grey,Station wagon,NaN,"'Cruise control', 'Keyless central door lock',...",NaN,NaN,NaN,NaN,NaN,1598.0,front,NaN,NaN,"'Bluetooth', 'CD player', 'Digital radio', 'Ra...","'Alloy wheels', 'Touch screen'",Diesel,NaN,Automatic,6.0,118.0,NaN,47000.0,Renault Espace,NaT,NaN,NaN,7.0,Metallic,2.0,27000,2016-05-01,"'ABS', 'Blind spot monitor', 'Electronic stabi...",NaN,NaN,"[\nCloth, Brown\n]",Brown,Cloth,NaN,NaN,2016.0
11603,Sedans,Blue,Sedans,114.0,"'Air conditioning', 'Cruise control', 'Electri...",5.1,4.3,3.9,Germany,4.0,1598.0,front,Euro 6,NaN,nan,'Alloy wheels',Diesel,NaN,Manual,6.0,100.0,NaN,12446.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,18490,2017-10-01,"'ABS', 'Central door lock', 'Central door lock...",NaN,NaN,"[\nCloth, Other\n]",Other,Cloth,NaN,1503.0,2017.0
6873,Compact,Brown,Compact,NaN,nan,4.0,3.0,3.0,NaN,4.0,1598.0,front,NaN,NaN,nan,nan,Diesel,NaN,Manual,6.0,81.0,NaN,58625.0,Opel Astra,NaT,NaN,5.0,5.0,Metallic,NaN,11999,2018-06-01,nan,1.6,NaN,NaN,NaN,NaN,12.0,1350.0,2018.0
10880,Sedans,Black,Sedans,104.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.7,3.9,3.5,Spain,4.0,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'On-board computer', 'Radio', 'USB'",'Alloy wheels',Diesel,NaN,Manual,6.0,100.0,NaN,96000.0,Opel Insignia,NaT,NaN,5.0,5.0,NaN,1.0,11500,2017-02-01,"'ABS', 'Central door lock with remote control'...",1.6,NaN,NaN,NaN,NaN,12.0,1513.0,2017.0
8902,Compact,Black,Compact,112.0,"'Air conditioning', 'Automatic climate control...",5.8,4.8,4.1,Germany,4.0,1400.0,front,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Touch screen', 'Voice Control'",Benzine,4 (Green),Semi-automatic,5.0,66.0,Yes,644.0,Opel Corsa,2021-06-01,NaN,5.0,5.0,Metallic,1.0,13999,2018-06-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1203.0,2018.0
4318,Sedans,Black,Sedans,99.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.5,3.8,3.4,Belgium,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Digital radio', 'Ha...","'Alloy wheels', 'Catalytic Converter'",Diesel,99 g CO2/km (comb),Manual,6.0,81.0,NaN,74000.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,1.0,17490,2017-03-01,"'ABS', 'Central door lock', 'Central door lock...",1.6,NaN,"[\nCloth, Grey\n]",Grey,Cloth,NaN,1385.0,2017.0
12281,Sedans,White,Sedans,133.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.5,5.9,4.9,NaN,4.0,1490.0,NaN,Euro 6,NaN,"'Radio', 'USB'","'Alloy wheels', 'Winter tyres'",Benzine,NaN,Manual,6.0,103.0,NaN,28500.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,19500,2018-04-01,"'ABS', 'Adaptive Cruise Control', 'Central doo...",1.5,NaN,NaN,NaN,NaN,NaN,1440.0,2018.0
11911,Sedans,Grey,Sedans,142.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.3,6.0,5.2,Hungary,NaN,1490.0,NaN,NaN,Green,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...",'Alloy wheels',Benzine,142 g CO2/km (comb),Automatic,6.0,121.0,NaN,18400.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,23490,2018-08-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,[\nPart leather\n],NaN,Part leather,60.0,NaN,2018.0
12359,Sedans,Grey,Sedans,114.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.1,4.3,3.9,Germany,4.0,1598.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Sport seats'",Diesel,NaN,Manual,6.0,100.0,NaN,13000.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,19990,2018-01-01,"'ABS', 'Adaptive Cruise Control', 'Adaptive he...",1.6,NaN,"[\nFull leather, Black\n]",Black,Full leather,NaN,1503.0,2018.0
10058,Sedans,Grey,Sedans,143.0,"'Air conditioning', 'Cruise control', 'Electri...",8.2,6.6,5.6,NaN,NaN,1398.0,front,NaN,NaN,"'Bluetooth', 'MP3', 'On-board computer', 'USB'",nan,Benzine,NaN,Automatic,6.0,66.0,NaN,3655.0,Opel Corsa,2022-03-01,NaN,5.0,5.0,Metallic,NaN,15690,2019-03-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,[\nCloth\n],NaN,Cloth,NaN,1248.0,2019.0
5609,Sedans,Grey,Sedans,118.0,"'Air conditioning', 'Cruise control', 'Electri...",6.1,5.1,4.6,European Union,3.0,999.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'On-board...",'Alloy wheels',Benzine,NaN,Manual,6.0,85.0,NaN,10.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,22590,NaT,"'ABS', 'Central door lock', 'Driver-side airba...",NaN,NaN,[\nCloth\n],NaN,Cloth,NaN,NaN,NaN
5237,Sedans,Grey,Sedans,103.0,'Air conditioning',4.1,3.9,3.7,NaN,4.0,1598.0,front,Euro 6,No sticker,"'Bluetooth', 'Hands-free equipment'",'Alloy wheels',Diesel,NaN,Automatic,7.0,85.0,NaN,NaN,Audi A3,NaT,NaN,5.0,5.0,NaN,NaN,25400,NaT,"'ABS', 'Central door lock', 'Driver-side airba...",1.6,NaN,"[\nCloth, Other\n]",Other,Cloth,NaN,NaN,NaN
909,Sedans,Blue,Sedans,97.0,"'Air conditioning', 'Automatic climate control...",4.3,3.7,3.1,Spain,4.0,1598.0,NaN,Euro 6,NaN,"'CD player', 'Hands-free equipment', 'MP3', 'O...",'Alloy wheels',Diesel,NaN,Manual,5.0,85.0,NaN,20000.0,Audi A1,NaT,NaN,5.0,5.0,Metallic,1.0,14500,2017-06-01,"'ABS', 'Central door lock', 'Central door lock...",1.6,NaN,"[\nCloth, Black\n]",Black,Cloth,12.0,1250.0,2017.0
1804,Sedans,White,Sedans,99.0,"'Air conditioning', 'Automatic climate control...",5.0,4.0,3.0,NaN,4.0,1598.0,front,Euro 6,NaN,nan,'Alloy wheels',Diesel,NaN,Manual,NaN,85.0,NaN,20490.0,Audi A1,NaT,NaN,5.0,4.0,Metallic,NaN,16900,2018-06-01,"'Central door lock', 'Central door lock with r...",1.6,NaN,"[\nOther, Grey\n]",Grey,Other,NaN,NaN,2018.0
9736,Compact,Blue,Compact,121.0,"'Air conditioning', 'Electrical side mirrors',...",6.6,5.2,4.3,Germany,4.0,1398.0,front,NaN,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...",'Catalytic Converter',Benzine,Euro 6,Manual,5.0,66.0,Yes,3850.0,Opel Corsa,NaT,NaN,3.0,5.0,Metallic,1.0,9946,2018-05-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,12.0,1141.0,2018.0
9102,Other,White,Other,120.0,nan,6.9,5.2,4.2,NaN,4.0,1398.0,NaN,Euro 6,NaN,nan,nan,Benzine,NaN,Manual,5.0,66.0,NaN,71223.0,Opel Corsa,2017-04-01,120,5.0,5.0,NaN,1.0,8890,2017-04-01,nan,1.4,NaN,NaN,NaN,NaN,NaN,1163.0,2017.0
11658,Sedans,Red,Sedans,133.0,"'Air conditioning', 'Armrest', 'Cruise control...",7.5,5.9,4.9,Germany,4.0,1490.0,front,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Touch screen', 'Voice Control'",Benzine,Euro 6,Manual,6.0,103.0,Yes,12950.0,Opel Insignia,NaT,NaN,5.0,5.0,NaN,1.0,17480,2018-03-01,"'ABS', 'Central door lock', 'Central door lock...",1.5,NaN,"[\nCloth, Black\n]",Black,Cloth,12.0,1440.0,2018.0
15874,Van,White,Van,148.0,"'Air conditioning', 'Air suspension', 'Armrest...",6.1,5.7,5.3,Germany,4.0,1997.0,front,NaN,Green,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Touch screen'",Diesel,NaN,Automatic,7.0,147.0,NaN,5.0,Renault Espace,NaT,NaN,4.0,7.0,Metallic,NaN,43500,NaT,"'ABS', 'Adaptive Cruise Control', 'Blind spot ...",NaN,NaN,"[\nPart leather, Black\n]",Black,Part leather,60.0,NaN,NaN
12022,Station wagon,Silver,Station wagon,150.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.5,5.7,4.6,NaN,4.0,1956.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Catalytic Converter', 'Voice ...",Diesel,NaN,Automatic,8.0,125.0,Yes,25647.0,Opel Insignia,2021-03-01,150,5.0,5.0,Metallic,1.0,22890,2018-03-01,"'ABS', 'Central door lock', 'Daytime running l...",2.0,NaN,"[\nCloth, Black\n]",Black,Cloth,12.0,NaN,2018.0
12514,Station wagon,Blue,Station wagon,151.0,"'Air conditioning', 'Automatic climate control...",8.2,6.6,5.6,NaN,NaN,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Touch screen'",Benzine,4 (Green),Automatic,NaN,147.0,NaN,500.0,Opel Insignia,2022-03-01,151,4.0,5.0,Metallic,1.0,36590,2019-03-01,"'ABS', 'Blind spot monitor', 'Central door loc...",NaN,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2019.0
3936,Compact,White,Compact,106.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.2,4.0,3.9,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'On-board computer', 'Radio'","'Alloy wheels', 'Sport suspension', 'Voice Con...",Diesel,NaN,Automatic,7.0,85.0,NaN,25478.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,20810,2017-08-01,"'ABS', 'Driver-side airbag', 'Electronic stabi...",1.6,NaN,NaN,NaN,NaN,12.0,1285.0,2017.0
12090,Station wagon,White,Station wagon,119.0,"'Air conditioning', 'Automatic climate control'",5.3,4.5,4.1,NaN,4.0,1598.0,NaN,NaN,NaN,nan,nan,Diesel,NaN,Manual,6.0,100.0,NaN,20000.0,Opel Insignia,NaT,NaN,5.0,5.0,NaN,NaN,19995,2018-02-01,"'Driver-side airbag', 'Fog lights', 'Passenger...",1.6,NaN,NaN,NaN,NaN,12.0,2080.0,2018.0
13368,Sedans,Grey,Sedans,92.0,"'Air conditioning', 'Cruise control', 'Electri...",3.9,3.5,3.3,Germany,NaN,1461.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Touch screen', 'Voice Control'",Diesel,4 (Green),Automatic,NaN,66.0,NaN,19000.0,Renault Clio,2019-05-01,92,4.0,5.0,Metallic,1.0,12980,2017-05-01,"'ABS', 'Central door lock', 'Daytime running l...",1.5,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2017.0
2399,Sedans,White,Sedans,108.0,"'Air conditioning', 'Electrical side mirrors',...",5.9,4.8,4.1,Germany,3.0,999.0,front,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...",'Touch screen',Benzine,108 g CO2/km (comb),Manual,6.0,70.0,Yes,NaN,Audi A1,NaT,NaN,5.0,4.0,Metallic,NaN,17250,NaT,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1180.0,NaN
10632,Station wagon,Silver,Station wagon,149.0,"'Power windows', 'Seat ventilation', 'Split re...",7.8,5.7,4.4,NaN,4.0,1956.0,NaN,Euro 6,NaN,'On-board computer','Alloy wheels',Diesel,NaN,Automatic,6.0,125.0,NaN,88000.0,Opel Insignia,NaT,NaN,5.0,5.0,NaN,NaN,15200,2016-09-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",2.0,NaN,NaN,NaN,NaN,NaN,1733.0,2016.0
1898,Sedans,Blue,Sedans,NaN,"'Air conditioning', 'Multi-function steering w...",NaN,NaN,NaN,NaN,3.0,999.0,NaN,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...",'Alloy wheels',Benzine,NaN,Automatic,7.0,85.0,NaN,15.0,Audi A1,NaT,NaN,5.0,5.0,NaN,NaN,26500,2019-06-01,"'Adaptive headlights', 'Alarm system', 'Driver...",NaN,NaN,NaN,NaN,NaN,12.0,1680.0,2019.0
10966,Sedans,Red,Sedans,129.0,"'Air conditioning', 'Armrest', 'Cruise control...",7.5,5.6,4.5,NaN,4.0,1364.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...",nan,Benzine,NaN,Manual,6.0,103.0,NaN,33500.0,Opel Insignia,NaT,NaN,4.0,5.0,NaN,NaN,13999,2016-07-01,"'ABS', 'Central door lock with remote control'...",1.4,NaN,NaN,NaN,NaN,NaN,1503.0,2016.0
3702,Sedans,Grey,Sedans,103.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.1,3.9,3.7,NaN,4.0,1598.0,front,Euro 6,No sticker,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Catalytic Converter', 'Sport ...",Diesel,NaN,Automatic,7.0,85.0,NaN,32483.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,21900,2018-05-01,"'ABS', 'Adaptive headlights', 'Alarm system', ...",1.6,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2018.0
13772,Sedans,Grey,Sedans,NaN,"'Air conditioning', 'Automatic climate control...",NaN,NaN,NaN,NaN,NaN,1461.0,NaN,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'Radio'","'Alloy wheels', 'Trailer hitch'",Diesel,NaN,Automatic,NaN,67.0,NaN,2476.0,Renault Clio,NaT,NaN,5.0,NaN,NaN,NaN,15990,2018-01-01,nan,1.5,NaN,NaN,NaN,NaN,NaN,NaN,2018.0
9279,Sedans,Red,Sedans,136.0,"'Air conditioning', 'Hill Holder', 'Power wind...",7.4,6.0,5.1,NaN,4.0,1398.0,NaN,Euro 6,NaN,'On-board computer',nan,Benzine,NaN,Manual,5.0,66.0,NaN,317000.0,Opel Corsa,NaT,NaN,3.0,5.0,NaN,1.0,8350,2017-11-01,"'ABS', 'Central door lock with remote control'...",1.4,NaN,NaN,NaN,NaN,NaN,1199.0,2017.0
14995,Van,Silver,Van,120.0,"'Air conditioning', 'Cruise control', 'Electri...",5.1,4.7,4.4,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'USB'",'Alloy wheels',Diesel,NaN,Automatic,6.0,118.0,NaN,41231.0,Renault Espace,NaT,NaN,5.0,5.0,NaN,NaN,26490,2017-01-01,"'ABS', 'Driver-side airbag', 'Electronic stabi...",1.6,NaN,NaN,NaN,NaN,NaN,1659.0,2017.0
9939,Compact,Grey,Compact,140.0,"'Air conditioning', 'Cruise control', 'Electri...",7.8,6.0,4.9,Germany,4.0,1398.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Catalytic Converter', 'Touch ...",Benzine,Euro 6d-TEMP,Automatic,6.0,66.0,Yes,NaN,Opel Corsa,NaT,NaN,5.0,5.0,Metallic,NaN,17050,NaT,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,24.0,1199.0,NaN
474,Sedans,Blue,Sedans,97.0,"'Air conditioning', 'Automatic climate control...",4.2,3.7,3.4,Belgium,3.0,1422.0,NaN,Euro 6,NaN,"'Bluetooth', 'MP3', 'On-board computer', 'Radio'",'Alloy wheels',Diesel,NaN,Manual,5.0,66.0,NaN,56989.0,Audi A1,NaT,NaN,5.0,4.0,Metallic,1.0,13900,2016-10-01,"'ABS', 'Central door lock with remote control'...",1.4,NaN,[\nCloth\n],NaN,Cloth,NaN,1195.0,2016.0
9175,Other,Grey,Other,120.0,nan,6.9,5.2,4.2,NaN,4.0,1398.0,NaN,Euro 6,NaN,nan,nan,Benzine,Euro 6,Manual,5.0,66.0,NaN,19000.0,Opel Corsa,NaT,NaN,5.0,5.0,Metallic,1.0,8790,2018-04-01,nan,1.4,NaN,NaN,NaN,NaN,24.0,1163.0,2018.0
8845,Compact,Silver,Compact,140.0,"'Air conditioning', 'Cruise control', 'Electri...",7.8,6.0,4.9,NaN,NaN,NaN,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Catalytic Converter', 'Touch ...",Benzine,NaN,Automatic,NaN,66.0,Yes,19337.0,Opel Corsa,NaT,NaN,5.0,5.0,Metallic,1.0,13890,2018-05-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nPart leather, Black\n]",Black,Part leather,NaN,NaN,2018.0
5942,Station wagon,Silver,Station wagon,115.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.4,4.3,3.7,Germany,4.0,1598.0,front,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Catalytic Converter', 'Roof r...",Diesel,NaN,Automatic,6.0,100.0,NaN,117593.0,Opel Astra,NaT,NaN,5.0,5.0,Metallic,1.0,12980,2017-04-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,"[\nCloth, Black\n]",Black,Cloth,24.0,1364.0,2017.0
13072,Compact,Grey,Compact,120.0,"'Air conditioning', 'Automatic climate control...",6.8,5.4,4.5,Germany,NaN,1197.0,front,NaN,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Catalytic Converter', 'Touch ...",Benzine,NaN,Automatic,NaN,87.0,Yes,28337.0,Renault Clio,2021-09-01,NaN,5.0,5.0,Metallic,NaN,15485,2018-09-01,"'ABS', 'Central door lock', 'Daytime running l...",1.2,NaN,[\nPart leather\n],NaN,Part leather,NaN,1154.0,2018.0
9845,Compact,Silver,Compact,140.0,"'Air conditioning', 'Cruise control', 'Electri...",7.8,6.0,4.9,Germany,4.0,1398.0,front,NaN,NaN,"'CD player', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Catalytic Converter'",Benzine,1 (No sticker),Automatic,6.0,66.0,Yes,1000.0,Opel Corsa,NaT,NaN,5.0,5.0,Metallic,1.0,14790,2019-01-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,"[\nCloth, Black\n]",Black,Cloth,24.0,1199.0,2019.0
7433,Sedans,Blue,Sedans,115.0,"'Air conditioning', 'Electrical side mirrors',...",5.9,5.0,4.5,Germany,NaN,998.0,NaN,Euro 6,NaN,'On-board computer','Roof rack',Benzine,Euro 6d-TEMP,Manual,NaN,66.0,NaN,5.0,Opel Astra,NaT,NaN,4.0,5.0,NaN,0.0,14975,NaT,"'ABS', 'Central door lock', 'Daytime running l...",1.0,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,NaN
1350,Compact,Blue,Compact,98.0,"'Air conditioning', 'Armrest', 'Multi-function...",4.2,3.7,3.4,NaN,3.0,1422.0,front,Euro 6,NaN,"'Bluetooth', 'On-board computer', 'Radio'",'Alloy wheels',Diesel,NaN,Manual,5.0,66.0,NaN,15500.0,Audi A1,NaT,NaN,5.0,5.0,Metallic,NaN,15290,2017-05-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,NaN,NaN,NaN,12.0,1195.0,2017.0
2788,Sedans,Black,Sedans,119.0,"'Air conditioning', 'Cruise control', 'Electri...",5.3,4.5,4.1,Germany,NaN,1968.0,front,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...",'Alloy wheels',Diesel,NaN,Automatic,NaN,110.0,NaN,67080.0,Audi A3,NaT,NaN,5.0,5.0,NaN,1.0,17640,2016-01-01,"'ABS', 'Central door lock', 'Daytime running l...",2.0,NaN,"[\nPart leather, Black\n]",Black,Part leather,12.0,NaN,2016.0
589,Compact,White,Compact,97.0,"'Air conditioning', 'Multi-function steering w...",5.0,4.2,3.7,Germany,3.0,999.0,front,Euro 6,NaN,"'On-board computer', 'Radio'","'Alloy wheels', 'Sport seats'",Benzine,Euro 6,Manual,5.0,70.0,Yes,46200.0,Audi A1,NaT,NaN,3.0,4.0,NaN,NaN,12989,2016-07-01,"'ABS', 'Central door lock', 'Daytime running l...",1.0,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,1110.0,2016.0
9213,Sedans,Silver,Sedans,123.0,"'Air conditioning', 'Cruise control', 'Electri...",6.6,5.2,4.4,Germany,NaN,1398.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...",nan,Benzine,Euro 6,Manual,NaN,66.0,NaN,41685.0,Opel Corsa,2020-03-01,123,4.0,5.0,Metallic,1.0,8299,2017-03-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,"[\nCloth, Black\n]",Black,Cloth,NaN,NaN,2017.0

In [626]:
df_20 = df_19.drop('upholstery', axis = 1)

In [627]:
df_20.sample(50)

,body,body_color,body_type,co2_emission,comfort_and_convenience,consumption_city,consumption_comb,consumption_country,country_version,cylinders,displacement,drive_chain,emission_class,emission_label,entertainment_and_media,extras,fuel,full_serivce,gearing_type,gears,hp (kW),inspection_new,km,make_model,next_inspection_date,next_inspection_emission,nr_of_doors,nr_of_seats,paint_type,prev_owner,price,registration,safety_and_security,sd_disp,type_new_used,upholstery_color,upholstery_type,warranty_1,weight,year_registration
11191,Sedans,Brown,Sedans,118.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.6,4.5,3.8,NaN,4.0,1956.0,NaN,Euro 6,NaN,"'MP3', 'On-board computer'",'Alloy wheels',Diesel,NaN,Manual,6.0,125.0,NaN,62100.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,NaN,15000,2016-06-01,"'ABS', 'Central door lock', 'Electronic stabil...",2.0,NaN,NaN,NaN,NaN,1664.0,2016.0
5465,Station wagon,Grey,Station wagon,124.0,"'Air conditioning', 'Armrest', 'Automatic clim...",6.0,5.2,4.7,Czech Republic,3.0,999.0,front,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...",'Alloy wheels',Benzine,NaN,Manual,6.0,85.0,NaN,10.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,24790,NaT,"'ABS', 'Central door lock', 'Daytime running l...",1.0,NaN,NaN,Cloth,NaN,NaN,NaN
5850,Station wagon,Beige,Station wagon,125.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.1,5.4,4.4,Germany,4.0,1399.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Roof rack', 'Touch screen', '...",Benzine,NaN,Automatic,6.0,110.0,NaN,75900.0,Opel Astra,2019-06-01,NaN,5.0,5.0,Metallic,2.0,15490,2016-06-01,"'ABS', 'Adaptive headlights', 'Central door lo...",1.4,NaN,Beige,Cloth,NaN,1350.0,2016.0
1127,Sedans,Red,Sedans,NaN,"'Air conditioning', 'Armrest', 'Automatic clim...",4.6,4.1,3.8,Germany,NaN,1422.0,front,Euro 6,Green,"'Bluetooth', 'CD player', 'Digital radio', 'Ha...","'Alloy wheels', 'Sport seats', 'Voice Control'",Diesel,NaN,Automatic,NaN,66.0,Yes,7422.0,Audi A1,2021-02-01,NaN,4.0,4.0,Metallic,2.0,19800,2018-02-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,Black,Cloth,NaN,NaN,2018.0
15734,Van,White,Van,168.0,"'Air conditioning', 'Armrest', 'Automatic clim...",9.2,7.4,6.3,Austria,4.0,1798.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...",'Alloy wheels',Benzine,NaN,Automatic,7.0,165.0,Yes,15.0,Renault Espace,NaT,NaN,5.0,5.0,NaN,1.0,35475,2019-03-01,"'ABS', 'Adaptive Cruise Control', 'Blind spot ...",NaN,NaN,Black,Full leather,NaN,NaN,2019.0
8292,Compact,Blue,Compact,110.0,"'Air conditioning', 'Cruise control', 'Electri...",5.8,4.7,4.0,Netherlands,4.0,1398.0,NaN,NaN,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...",'Alloy wheels',Benzine,NaN,Automatic,6.0,66.0,NaN,28876.0,Opel Corsa,2021-05-01,NaN,5.0,NaN,Metallic,NaN,13600,2016-06-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.4,NaN,Grey,Cloth,NaN,1041.0,2016.0
3272,Sedans,Black,Sedans,99.0,"'Air conditioning', 'Electrical side mirrors',...",4.5,3.8,3.4,Germany,4.0,1598.0,front,NaN,NaN,"'MP3', 'Radio'",'Alloy wheels',Diesel,Euro 6,Manual,6.0,81.0,Yes,92146.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,1.0,12960,2016-05-01,"'ABS', 'Central door lock', 'Central door lock...",1.6,NaN,Black,Cloth,12.0,NaN,2016.0
6155,Sedans,Red,Sedans,99.0,"'Air conditioning', 'Armrest', 'Cruise control...",4.4,3.8,3.4,Germany,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Touch screen', 'Winter tyres'",Diesel,Euro 6,Manual,6.0,100.0,Yes,147000.0,Opel Astra,NaT,NaN,5.0,5.0,NaN,1.0,10300,2016-09-01,"'ABS', 'Central door lock', 'Central door lock...",1.6,NaN,Black,Cloth,NaN,1360.0,2016.0
15183,Station wagon,Grey,Station wagon,123.0,"'Cruise control', 'Electrically adjustable sea...",5.1,4.7,4.4,Germany,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Radio', 'Sound ...","'Alloy wheels', 'Touch screen', 'Voice Control'",Diesel,NaN,Automatic,6.0,118.0,Yes,112500.0,Renault Espace,2021-06-01,123,5.0,5.0,Metallic,1.0,20990,2016-05-01,"'ABS', 'Blind spot monitor', 'Daytime running ...",NaN,NaN,NaN,Full leather,NaN,1734.0,2016.0
9430,Compact,Grey,Compact,128.0,"'Air conditioning', 'Automatic climate control...",6.8,5.6,4.9,NaN,NaN,1398.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Sport seats', 'Touch screen', 'Voice Control'",Benzine,4 (Green),Manual,NaN,66.0,Yes,50000.0,Opel Corsa,NaT,NaN,4.0,5.0,NaN,1.0,8990,2017-03-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,Black,Cloth,NaN,NaN,2017.0
12963,Compact,Black,Compact,140.0,"'Armrest', 'Cruise control', 'Heads-up display...",7.8,6.1,5.1,Germany,4.0,1490.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Catalytic Converter'",Benzine,NaN,Automatic,6.0,121.0,NaN,NaN,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,NaN,39490,NaT,"'ABS', 'Adaptive Cruise Control', 'Adaptive he...",NaN,NaN,Black,Cloth,24.0,1522.0,NaN
6321,Station wagon,Blue,Station wagon,99.0,"'Multi-function steering wheel', 'Power windows'",4.4,3.8,3.4,Italy,4.0,1598.0,front,Euro 6,NaN,"'On-board computer', 'Radio'",nan,Diesel,NaN,Manual,6.0,70.0,NaN,41700.0,Opel Astra,NaT,NaN,5.0,5.0,NaN,1.0,8900,2016-04-01,"'ABS', 'Central door lock with remote control'...",1.6,NaN,Black,Cloth,12.0,1388.0,2016.0
7739,Station wagon,Grey,Station wagon,144.0,"'Air conditioning', 'Armrest', 'Automatic clim...",8.5,6.3,5.1,NaN,NaN,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'On-board comput...","'Alloy wheels', 'Roof rack'",Diesel,Euro 6d-TEMP,Automatic,6.0,100.0,NaN,4999.0,Opel Astra,NaT,NaN,5.0,5.0,Metallic,1.0,28489,2019-04-01,"'ABS', 'Adaptive headlights', 'Central door lo...",1.6,NaN,Black,Cloth,60.0,NaN,2019.0
502,Compact,Black,Compact,NaN,"'Air conditioning', 'Cruise control', 'Electri...",NaN,NaN,NaN,NaN,3.0,999.0,front,NaN,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...",nan,Benzine,NaN,Manual,NaN,70.0,Yes,55850.0,Audi A1,2019-04-01,NaN,3.0,4.0,Metallic,1.0,13710,2016-04-01,"'ABS', 'Central door lock', 'Daytime running l...",1.0,NaN,Black,Cloth,NaN,1110.0,2016.0
14220,Sedans,White,Sedans,85.0,"'Air conditioning', 'Leather steering wheel', ...",3.5,3.3,3.1,NaN,4.0,1461.0,NaN,Euro 6,NaN,'On-board computer','Alloy wheels',Diesel,NaN,Manual,5.0,55.0,NaN,21700.0,Renault Clio,NaT,NaN,5.0,5.0,NaN,NaN,9500,2018-04-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",NaN,NaN,NaN,NaN,NaN,1162.0,2018.0
3335,Sedans,Grey,Sedans,NaN,"'Air conditioning', 'Armrest', 'Automatic clim...",NaN,NaN,NaN,Italy,4.0,1598.0,NaN,NaN,NaN,"'Bluetooth', 'On-board computer', 'Radio', 'USB'","'Alloy wheels', 'Shift paddles'",Diesel,NaN,Semi-automatic,7.0,85.0,NaN,20.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,26900,2018-11-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.6,NaN,NaN,NaN,NaN,NaN,2018.0
3976,Station wagon,Black,Station wagon,NaN,"'Air conditioning', 'Armrest', 'Cruise control...",NaN,NaN,NaN,Italy,4.0,NaN,front,NaN,NaN,"'Bluetooth', 'CD player', 'Digital radio', 'Ha...","'Alloy wheels', 'Catalytic Converter', 'Sport ...",Diesel,NaN,Automatic,6.0,81.0,NaN,32000.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,0.0,19900,2018-09-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",1.6,NaN,Black,Cloth,12.0,NaN,2018.0
5144,Sedans,White,Sedans,117.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.8,5.1,4.7,Germany,NaN,999.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Roof rack', 'Sport package', ...",Benzine,4 (Green),Automatic,NaN,85.0,NaN,9000.0,Audi A3,2022-01-01,117,5.0,5.0,Metallic,1.0,26900,2019-01-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Black,Cloth,NaN,1280.0,2019.0
2925,Sedans,Grey,Sedans,102.0,"'Air conditioning', 'Hill Holder', 'Leather st...",4.4,3.9,3.6,Italy,NaN,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...",'Alloy wheels',Diesel,Euro 6,Automatic,NaN,81.0,NaN,91236.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,1.0,16000,2016-12-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.6,NaN,NaN,Other,36.0,1845.0,2016.0
12394,Sedans,Black,Sedans,NaN,"'Air conditioning', 'Armrest', 'Automatic clim...",NaN,NaN,NaN,Germany,NaN,1533.0,NaN,NaN,Green,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Touch screen', 'Voice Control'",Benzine,NaN,Manual,NaN,103.0,Yes,23910.0,Opel Insignia,NaT,NaN,4.0,5.0,NaN,1.0,18990,2018-02-01,"'ABS', 'Central door lock', 'Daytime running l...",1.5,NaN,Black,Cloth,NaN,NaN,2018.0
11384,Sedans,Silver,Sedans,145.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.4,5.5,4.5,Germany,NaN,1956.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Roof rack', 'Ski bag', 'Sport...",Diesel,Euro 6,Automatic,NaN,125.0,NaN,25576.0,Opel Insignia,NaT,NaN,4.0,5.0,Metallic,1.0,20700,2017-10-01,"'ABS', 'Adaptive headlights', 'Central door lo...",2.0,NaN,Black,Part leather,NaN,NaN,2017.0
15509,Van,Grey,Van,NaN,"'Air conditioning', 'Automatic climate control...",NaN,NaN,NaN,NaN,NaN,1598.0,NaN,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...",'Alloy wheels',Diesel,NaN,Automatic,NaN,119.0,NaN,21377.0,Renault Espace,NaT,NaN,5.0,5.0,NaN,NaN,31980,2018-05-01,"'ABS', 'Central door lock', 'Daytime running l...",1.6,NaN,NaN,NaN,12.0,NaN,2018.0
2995,Compact,Blue,Compact,119.0,"'Air conditioning', 'Armrest', 'Start-stop sys...",6.7,5.1,4.1,NaN,4.0,1395.0,front,Euro 6,NaN,'On-board computer','Alloy wheels',Benzine,119 g CO2/km (comb),Manual,6.0,92.0,NaN,100832.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,13500,2016-05-01,"'Daytime running lights', 'Driver drowsiness d...",1.4,NaN,Black,NaN,12.0,1280.0,2016.0
14973,Van,Black,Van,NaN,nan,NaN,NaN,NaN,NaN,4.0,1598.0,NaN,NaN,NaN,nan,nan,Diesel,NaN,Automatic,NaN,118.0,NaN,33837.0,Renault Espace,NaT,NaN,5.0,NaN,Metallic,NaN,25500,2016-11-01,nan,1.6,NaN,NaN,NaN,NaN,NaN,2016.0
1004,Sedans,White,Sedans,112.0,"'Air conditioning', 'Automatic climate control...",6.2,4.9,4.2,NaN,4.0,1395.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Sport seats', 'Sport suspensi...",Benzine,NaN,Automatic,7.0,92.0,NaN,28500.0,Audi A1,2020-03-01,112,5.0,4.0,Metallic,1.0,20800,2017-03-01,"'ABS', 'Central door lock', 'Central door lock...",1.4,NaN,NaN,NaN,NaN,1215.0,2017.0
9331,Compact,Black,Compact,126.0,"'Air conditioning', 'Automatic climate control...",6.7,5.5,4.8,NaN,NaN,1398.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Sport seats', 'Touch screen'",Benzine,NaN,Automatic,NaN,66.0,NaN,5200.0,Opel Corsa,2021-12-01,126,4.0,5.0,Metallic,1.0,13990,2018-12-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,Grey,Cloth,NaN,NaN,2018.0
1585,Compact,Grey,Compact,109.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.8,4.7,4.1,Germany,4.0,1395.0,front,NaN,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Sport package', 'Sport seats'...",Benzine,Euro 6,Automatic,7.0,110.0,Yes,7232.0,Audi A1,NaT,NaN,4.0,5.0,Metallic,1.0,23829,2018-02-01,"'ABS', 'Central door lock', 'Central door lock...",1.4,NaN,Black,Cloth,12.0,NaN,2018.0
11639,Other,Grey,Other,114.0,nan,5.1,4.3,3.9,NaN,4.0,1598.0,NaN,Euro 6,NaN,nan,nan,Diesel,Euro 6,Manual,6.0,100.0,NaN,28849.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,17990,2017-05-01,nan,1.6,NaN,NaN,NaN,24.0,1503.0,2017.0
14461,Compact,Blue,Compact,105.0,"'Air conditioning', 'Armrest', 'Automatic clim...",NaN,3.9,NaN,Austria,NaN,1461.0,NaN,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Touch screen'",Diesel,NaN,Automatic,NaN,66.0,NaN,10.0,Renault Clio,NaT,NaN,4.0,NaN,NaN,NaN,19670,2019-02-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,NaN,NaN,48.0,1205.0,2019.0
15386,Van,Black,Van,120.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.1,4.7,4.4,Italy,4.0,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Touch screen', 'Voice Control'",Diesel,NaN,Semi-automatic,6.0,118.0,NaN,122000.0,Renault Espace,NaT,NaN,5.0,5.0,NaN,1.0,16900,2016-09-01,"'ABS', 'Central door lock', 'Central door lock...",NaN,NaN,NaN,NaN,NaN,1734.0,2016.0
2220,Sedans,Blue,Sedans,NaN,"'Air conditioning', 'Multi-function steering w...",NaN,NaN,NaN,NaN,3.0,999.0,NaN,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...",'Alloy wheels',Benzine,NaN,Manual,6.0,85.0,NaN,10000.0,Audi A1,NaT,NaN,5.0,5.0,NaN,NaN,21000,2019-01-01,"'Adaptive headlights', 'Alarm system', 'Driver...",NaN,NaN,NaN,NaN,12.0,1655.0,2019.0
12118,Sedans,Blue,Sedans,136.0,"'Air conditioning', 'Automatic climate control...",7.3,6.0,5.2,Germany,4.0,1490.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Sport seats'",Benzine,NaN,Manual,6.0,121.0,NaN,24800.0,Opel Insignia,NaT,NaN,4.0,5.0,Metallic,1.0,21290,2018-07-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.5,NaN,Black,Cloth,NaN,1440.0,2018.0
3772,Sedans,Silver,Sedans,103.0,"'Air conditioning', 'Armrest', 'Electrical sid...",4.1,3.9,3.7,NaN,4.0,1598.0,front,Euro 6,No sticker,"'Bluetooth', 'Hands-free equipment', 'MP3', 'R...","'Alloy wheels', 'Sport seats', 'Sport suspension'",Diesel,NaN,Automatic,7.0,85.0,NaN,21114.0,Audi A3,NaT,NaN,5.0,5.0,NaN,NaN,21900,2018-03-01,"'ABS', 'Central door lock', 'Daytime running l...",1.6,NaN,Other,Cloth,NaN,NaN,2018.0
4348,Station wagon,White,Station wagon,99.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.3,3.8,3.5,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'Radio'","'Alloy wheels', 'Catalytic Converter', 'Sport ...",Diesel,Euro 6,Manual,6.0,81.0,Yes,70000.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,2.0,16990,2017-03-01,"'ABS', 'Central door lock', 'Daytime running l...",1.6,NaN,Black,Cloth,NaN,1335.0,2017.0
15815,Van,Grey,Van,174.0,"'Air conditioning', 'Armrest', 'Automatic clim...",9.9,7.6,6.4,Netherlands,4.0,1798.0,front,Euro 6,NaN,"'Digital radio', 'Hands-free equipment', 'Radio'","'Alloy wheels', 'Voice Control'",Benzine,Euro 6,Automatic,7.0,165.0,NaN,14178.0,Renault Espace,2023-02-01,NaN,5.0,7.0,Metallic,NaN,54925,2019-02-01,"'ABS', 'Alarm system', 'Blind spot monitor', '...",1.8,NaN,NaN,Full leather,NaN,1647.0,2019.0
9804,Sedans,Silver,Sedans,124.0,"'Air conditioning', 'Cruise control', 'Electri...",6.6,5.3,4.5,Italy,4.0,1229.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...",'Alloy wheels',Benzine,NaN,Manual,5.0,51.0,NaN,22000.0,Opel Corsa,NaT,NaN,5.0,5.0,Metallic,1.0,9900,2018-03-01,"'ABS', 'Central door lock', 'Central door lock...",1.2,NaN,Black,Cloth,NaN,1163.0,2018.0
4058,Sedans,White,Sedans,106.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.5,4.0,3.7,NaN,4.0,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Sport package', 'Sport seats'...",Diesel,NaN,Manual,6.0,85.0,NaN,50000.0,Audi A3,NaT,NaN,5.0,5.0,NaN,NaN,19600,2017-09-01,"'ABS', 'Adaptive Cruise Control', 'Alarm syste...",1.6,NaN,NaN,NaN,NaN,1335.0,2017.0
9742,Sedans,Blue,Sedans,118.0,"'Air conditioning', 'Cruise control', 'Electri...",6.3,5.0,4.2,NaN,4.0,1398.0,front,Euro 6,Green,"'Bluetooth', 'CD player', 'On-board computer',...",nan,Benzine,NaN,Manual,5.0,66.0,NaN,20845.0,Opel Corsa,NaT,NaN,5.0,5.0,NaN,1.0,9940,2018-02-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,NaN,Cloth,NaN,1163.0,2018.0
8629,Compact,White,Compact,126.0,"'Air conditioning', 'Electrical side mirrors',...",6.7,5.4,4.6,Germany,NaN,1229.0,NaN,NaN,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...",nan,Benzine,Euro 6,Manual,5.0,51.0,Yes,36200.0,Opel Corsa,NaT,NaN,3.0,5.0,NaN,2.0,7580,2016-06-01,"'ABS', 'Central door lock', 'Daytime running l...",1.2,NaN,Black,Cloth,60.0,NaN,2016.0
10590,Station wagon,White,Station wagon,149.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.7,5.5,4.2,Germany,4.0,1956.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Digital radio', 'Ha...","'Alloy wheels', 'Roof rack', 'Sport seats', 'T...",Diesel,4 (Green),Automatic,6.0,125.0,NaN,104750.0,Opel Insignia,2021-05-01,149,5.0,5.0,Metallic,1.0,15990,2016-03-01,"'ABS', 'Adaptive Cruise Control', 'Adaptive he...",2.0,NaN,Black,Cloth,NaN,1743.0,2016.0
5470,Sedans,Grey,Sedans,125.0,"'Air conditioning', 'Automatic climate control...",6.9,5.5,4.7,European Union,NaN,1498.0,front,Euro 6,NaN,"'On-board computer', 'Radio'",'Sport suspension',Benzine,NaN,Manual,6.0,110.0,Yes,10.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,24688,NaT,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,NaN,Cloth,NaN,1325.0,NaN
13915,Sedans,Red,Sedans,104.0,"'Air conditioning', 'Cruise control', 'Hill Ho...",4.5,4.0,3.5,Italy,4.0,1461.0,NaN,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'On-board comput...",'Touch screen',Diesel,NaN,Manual,5.0,55.0,NaN,54000.0,Renault Clio,NaT,NaN,5.0,5.0,Metallic,1.0,9400,2017-02-01,"'ABS', 'Central door lock', 'Central door lock...",NaN,NaN,NaN,NaN,NaN,1162.0,2017.0
7669,Sedans,Silver,Sedans,127.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.2,5.5,4.5,Germany,4.0,1398.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Catalytic Converter', 'Sport ...",Benzine,4 (Green),Automatic,NaN,110.0,Yes,10.0,Opel Astra,NaT,NaN,5.0,5.0,Metallic,1.0,29850,2019-06-01,"'ABS', 'Adaptive Cruise Control', 'Adaptive he...",1.4,NaN,Black,Full leather,NaN,NaN,2019.0
1173,Compact,Blue,Compact,109.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.6,4.1,3.8,NaN,NaN,1422.0,NaN,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Cab or rented Car', 'Sport se...",Diesel,NaN,Manual,NaN,66.0,NaN,21937.0,Audi A1,2019-03-01,109,5.0,4.0,Metallic,1.0,15740,2018-03-01,"'Central door lock', 'Daytime running lights',...",1.4,NaN,Black,Cloth,NaN,1195.0,2018.0
7022,Sedans,White,Sedans,97.0,"'Air conditioning', 'Cruise control', 'Light s...",4.2,3.7,3.3,NaN,4.0,1600.0,NaN,Euro 5,NaN,'Bluetooth',nan,Diesel,NaN,Manual,6.0,81.0,NaN,50715.0,Opel Astra,NaT,NaN,5.0,5.0,NaN,NaN,11700,2017-02-01,"'ABS', 'Adaptive headlights', 'Central door lo...",1.6,NaN,NaN,NaN,NaN,1360.0,2017.0
4085,Sedans,Black,Sedans,108.0,"'Air conditioning', 'Automatic climate control...",4.6,4.1,3.8,Spain,4.0,1598.0,NaN,Euro 6,NaN,"'On-board computer', 'Radio'","'Alloy wheels', 'Sport suspension'",Diesel,NaN,Manual,6.0,85.0,NaN,13259.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,19500,2018-03-01,"'ABS', 'Driver-side airbag', 'Electronic stabi...",1.6,NaN,NaN,NaN,24.0,1820.0,2018.0
8622,Compact,Black,Compact,NaN,"'Cruise control', 'Electrical side mirrors', '...",NaN,NaN,NaN,Germany,NaN,1398.0,NaN,NaN,Green,"'Bluetooth', 'CD player', 'On-board computer',...",'Alloy wheels',Benzine,NaN,Manual,NaN,66.0,Yes,61000.0,Opel Corsa,NaT,NaN,4.0,5.0,Metallic,1.0,7600,2016-07-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,NaN,NaN,NaN,NaN,2016.0
10578,Station wagon,Silver,Station wagon,NaN,"'Air conditioning', 'Automatic climate control...",NaN,NaN,NaN,NaN,NaN,1598.0,front,NaN,NaN,"'Bluetooth', 'CD player', 'On-board computer',...",nan,Diesel,NaN,Automatic,NaN,100.0,NaN,74941.0,Opel Insignia,NaT,NaN,5.0,5.0,NaN,1.0,16400,2017-02-01,"'Alarm system', 'Central door lock', 'Driver-s...",1.6,NaN,NaN,NaN,NaN,NaN,2017.0
11919,Station wagon,Grey,Station wagon,145.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.5,6.1,5.3,NaN,NaN,1490.0,NaN,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Roof rack'",Benzine,Euro 6d-TEMP,Automatic,6.0,121.0,NaN,19999.0,Opel Insignia,2021-05-01,NaN,5.0,5.0,Metallic,1.0,23488,2018-05-01,"'ABS', 'Adaptive headlights', 'Central door lo...",1.5,NaN,Black,Cloth,60.0,NaN,2018.0
14011,Sedans,White,Sedans,120.0,"'Air conditioning', 'Automatic climate control...",6.6,5.2,4.4,France,4.0,1199.0,front,NaN,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Sport seats', 'Sport suspension'",Benzine,NaN,Automatic,6.0,88.0,NaN,1.0,Renault Clio,NaT,NaN,5.0,5.0,Metallic,NaN,18350,NaT,"'ABS', 'Central door lock', 'Driver-side airba...",NaN,NaN,Grey,Cloth,NaN,1090.0,NaN

In [628]:
df_20['full_service'] = df_20['full_serivce']

In [629]:
df_20.sample(50)

,body,body_color,body_type,co2_emission,comfort_and_convenience,consumption_city,consumption_comb,consumption_country,country_version,cylinders,displacement,drive_chain,emission_class,emission_label,entertainment_and_media,extras,fuel,full_serivce,gearing_type,gears,hp (kW),inspection_new,km,make_model,next_inspection_date,next_inspection_emission,nr_of_doors,nr_of_seats,paint_type,prev_owner,price,registration,safety_and_security,sd_disp,type_new_used,upholstery_color,upholstery_type,warranty_1,weight,year_registration,full_service
5571,Station wagon,Black,Station wagon,114.0,"'Air conditioning', 'Automatic climate control...",5.5,5.0,3.9,France,NaN,999.0,NaN,NaN,Green,"'Bluetooth', 'CD player', 'Hands-free equipment'",'Alloy wheels',Benzine,NaN,Manual,NaN,85.0,NaN,NaN,Audi A3,NaT,NaN,5.0,5.0,NaN,0.0,23044,NaT,"'ABS', 'Central door lock', 'Driver-side airba...",NaN,NaN,NaN,Cloth,NaN,1255.0,NaN,NaN
3157,Sedans,Grey,Sedans,105.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.7,4.0,3.6,NaN,4.0,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...",'Alloy wheels',Diesel,NaN,Manual,6.0,81.0,NaN,39800.0,Audi A3,2021-02-01,105,3.0,5.0,Metallic,2.0,14700,2016-03-01,"'ABS', 'Adaptive headlights', 'Central door lo...",1.6,NaN,NaN,NaN,NaN,1305.0,2016.0,NaN
3062,Sedans,Grey,Sedans,NaN,nan,NaN,NaN,NaN,NaN,NaN,1400.0,front,NaN,NaN,nan,'Cab or rented Car',Benzine,NaN,Manual,NaN,92.0,NaN,77536.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,15105,2016-06-01,nan,1.4,NaN,NaN,NaN,12.0,NaN,2016.0,NaN
11330,Sedans,Black,Sedans,NaN,"'Air conditioning', 'Armrest', 'Automatic clim...",NaN,NaN,NaN,Germany,4.0,1956.0,front,NaN,Green,"'Bluetooth', 'Hands-free equipment', 'MP3', 'USB'",'Alloy wheels',Diesel,NaN,Automatic,NaN,125.0,Yes,29800.0,Opel Insignia,2018-10-01,NaN,5.0,5.0,Metallic,1.0,20990,2017-10-01,"'ABS', 'Adaptive headlights', 'Central door lo...",2.0,NaN,Grey,NaN,NaN,NaN,2017.0,NaN
94,Compact,Red,Compact,103.0,"'Air conditioning', 'Armrest', 'Cruise control...",5.4,4.4,3.8,Netherlands,3.0,999.0,front,Euro 6,NaN,"'On-board computer', 'Radio'",'Alloy wheels',Benzine,Euro 6,Automatic,NaN,71.0,NaN,51484.0,Audi A1,2021-01-01,NaN,5.0,4.0,Metallic,NaN,18400,2017-01-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",1.0,NaN,NaN,NaN,6.0,1065.0,2017.0,Euro 6
3526,Sedans,Silver,Sedans,99.0,"'Air conditioning', 'Cruise control', 'Electri...",3.4,NaN,3.8,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'On-board computer', 'Radio', 'So...","'Alloy wheels', 'Sport package'",Diesel,Euro 6,Manual,6.0,81.0,NaN,123226.0,Audi A3,NaT,NaN,5.0,5.0,NaN,1.0,16000,2016-01-01,"'ABS', 'Central door lock', 'Head airbag', 'Im...",1.6,NaN,Grey,NaN,36.0,1335.0,2016.0,Euro 6
9785,Sedans,White,Sedans,131.0,"'Air conditioning', 'Electrical side mirrors',...",7.3,5.7,4.9,Germany,4.0,1229.0,front,NaN,NaN,'Radio','Cab or rented Car',Benzine,4 (Green),Manual,5.0,51.0,Yes,10000.0,Opel Corsa,NaT,NaN,3.0,5.0,NaN,1.0,9950,2018-06-01,"'ABS', 'Central door lock', 'Central door lock...",1.2,NaN,Black,Cloth,24.0,1120.0,2018.0,4 (Green)
3528,Sedans,Black,Sedans,104.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.6,3.9,3.5,NaN,4.0,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'Digital radio', 'Ha...","'Alloy wheels', 'Voice Control', 'Winter tyres'",Diesel,Euro 6,Manual,6.0,81.0,Yes,61000.0,Audi A3,2021-04-01,NaN,4.0,5.0,NaN,NaN,16000,2016-04-01,"'ABS', 'Alarm system', 'Central door lock', 'C...",1.6,NaN,NaN,NaN,NaN,1345.0,2016.0,Euro 6
2889,Sedans,Black,Sedans,NaN,"'Air conditioning', 'Automatic climate control...",NaN,NaN,NaN,NaN,NaN,1968.0,NaN,Euro 6,Green,"'Bluetooth', 'CD player', 'On-board computer'","'Alloy wheels', 'Sport seats'",Diesel,Euro 6,Automatic,NaN,110.0,NaN,138700.0,Audi A3,NaT,NaN,4.0,5.0,Metallic,2.0,16380,2016-04-01,"'ABS', 'Central door lock', 'Driver-side airba...",2.0,NaN,Grey,Cloth,NaN,NaN,2016.0,Euro 6
12059,Station wagon,Grey,Station wagon,137.0,"'Air conditioning', 'Armrest', 'Automatic clim...",6.8,5.2,4.2,Italy,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Touch screen', 'Voice Control'",Diesel,Euro 6,Automatic,6.0,100.0,NaN,19700.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,22300,2018-03-01,"'ABS', 'Central door lock', 'Central door lock...",1.6,NaN,Black,Part leather,12.0,1585.0,2018.0,Euro 6
15259,Van,White,Van,120.0,"'Air conditioning', 'Automatic climate control...",5.1,4.7,4.4,NaN,4.0,1598.0,front,Euro 6,No sticker,"'Bluetooth', 'Hands-free equipment'",nan,Diesel,NaN,Automatic,6.0,118.0,NaN,127246.0,Renault Espace,NaT,NaN,5.0,5.0,NaN,NaN,18900,2016-09-01,"'ABS', 'Adaptive headlights', 'Central door lo...",NaN,NaN,Other,Other,NaN,NaN,2016.0,NaN
4314,Sedans,Black,Sedans,99.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.5,3.8,3.4,Italy,4.0,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'Digital radio', 'Ha...",nan,Diesel,NaN,Manual,6.0,81.0,NaN,95000.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,1.0,17500,2017-01-01,"'ABS', 'Adaptive headlights', 'Central door lo...",1.6,NaN,NaN,Full leather,NaN,1335.0,2017.0,NaN
14958,Van,Black,Van,125.0,"'Air conditioning', 'Automatic climate control...",5.1,4.7,4.4,NaN,NaN,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Touch screen'",Diesel,4 (Green),Automatic,NaN,118.0,NaN,26800.0,Renault Espace,2021-08-01,125,4.0,7.0,NaN,1.0,27590,2018-08-01,"'ABS', 'Blind spot monitor', 'Central door loc...",NaN,NaN,Brown,Full leather,NaN,NaN,2018.0,4 (Green)
5149,Sedans,Grey,Sedans,117.0,"'Air conditioning', 'Armrest', 'Automatic clim...",6.4,5.2,4.4,European Union,NaN,1498.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Roof rack', 'Sport suspension'",Benzine,NaN,Automatic,NaN,110.0,Yes,10.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,26188,NaT,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,NaN,Cloth,NaN,1345.0,NaN,NaN
4603,Sedans,Black,Sedans,117.0,"'Air conditioning', 'Power windows'",5.8,5.1,4.7,NaN,3.0,999.0,front,Euro 6,NaN,'Radio','Alloy wheels',Benzine,NaN,Automatic,NaN,85.0,NaN,1.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,1.0,22900,2019-02-01,"'Central door lock', 'Driver-side airbag', 'Im...",1.0,NaN,NaN,NaN,12.0,NaN,2019.0,NaN
7033,Station wagon,Silver,Station wagon,128.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.3,5.6,4.5,Germany,NaN,1399.0,NaN,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Roof rack', 'Touch screen', '...",Benzine,NaN,Automatic,NaN,110.0,NaN,25101.0,Opel Astra,NaT,NaN,4.0,5.0,Metallic,1.0,17980,2018-03-01,"'ABS', 'Adaptive headlights', 'Alarm system', ...",NaN,NaN,Black,Cloth,NaN,NaN,2018.0,NaN
15704,Van,White,Van,168.0,"'Air conditioning', 'Armrest', 'Automatic clim...",9.6,7.4,6.0,Germany,4.0,1798.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Catalytic Converter', 'Touch ...",Benzine,NaN,Automatic,7.0,165.0,NaN,100.0,Renault Espace,2022-02-01,168,4.0,7.0,Metallic,1.0,37870,2019-02-01,"'ABS', 'Adaptive headlights', 'Blind spot moni...",NaN,NaN,Black,Other,60.0,NaN,2019.0,NaN
8972,Sedans,Grey,Sedans,120.0,"'Air conditioning', 'Automatic climate control...",6.5,5.1,4.3,Spain,4.0,1398.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Sport package', 'Sport seats'...",Benzine,120 g CO2/km (comb),Manual,5.0,66.0,NaN,32301.0,Opel Corsa,NaT,NaN,5.0,5.0,Metallic,1.0,7949,2017-05-01,"'ABS', 'Central door lock', 'Central door lock...",1.4,NaN,NaN,NaN,NaN,1163.0,2017.0,120 g CO2/km (comb)
6912,Station wagon,Black,Station wagon,96.0,"'Air conditioning', 'Cruise control', 'Electri...",4.2,3.6,3.3,NaN,NaN,1598.0,NaN,NaN,NaN,nan,'Roof rack',Diesel,NaN,Manual,NaN,81.0,NaN,53041.0,Opel Astra,2020-01-01,96,4.0,5.0,NaN,1.0,12399,2017-01-01,"'Central door lock', 'Daytime running lights',...",1.6,NaN,Black,Cloth,NaN,NaN,2017.0,NaN
985,Sedans,White,Sedans,102.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.4,4.4,3.8,Germany,NaN,999.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Sport seats', 'Voice Control'",Benzine,4 (Green),Automatic,NaN,70.0,Yes,5990.0,Audi A1,NaT,NaN,4.0,5.0,Metallic,1.0,20990,2018-04-01,"'ABS', 'Central door lock', 'Daytime running l...",1.0,NaN,Black,Cloth,NaN,NaN,2018.0,4 (Green)
2255,Compact,White,Compact,111.0,"'Navigation system', 'Park Distance Control', ...",6.0,4.9,4.2,European Union,3.0,999.0,front,Euro 6,Green,'Radio',nan,Benzine,NaN,Manual,6.0,85.0,NaN,15.0,Audi A1,2022-03-01,NaN,5.0,5.0,NaN,NaN,20885,2019-03-01,nan,NaN,NaN,NaN,Cloth,NaN,1180.0,2019.0,NaN
8662,Sedans,Blue,Sedans,126.0,"'Air conditioning', 'Electrical side mirrors',...",6.7,5.4,4.6,NaN,NaN,1229.0,front,Euro 6,NaN,'USB',nan,Benzine,NaN,Manual,5.0,51.0,NaN,35922.0,Opel Corsa,2021-03-01,NaN,3.0,5.0,NaN,NaN,7490,2016-03-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,NaN,Cloth,NaN,1088.0,2016.0,NaN
9426,Compact,Silver,Compact,123.0,"'Air conditioning', 'Electrical side mirrors',...",6.6,5.2,4.4,Poland,NaN,1398.0,NaN,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...",nan,Benzine,123 g CO2/km (comb),Manual,5.0,66.0,NaN,67900.0,Opel Corsa,NaT,NaN,5.0,5.0,Metallic,1.0,8990,2017-04-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Black,Cloth,60.0,NaN,2017.0,123 g CO2/km (comb)
12934,Sedans,Black,Sedans,132.0,"'Air conditioning', 'Armrest', 'Cruise control...",7.2,5.7,4.8,Germany,NaN,1490.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Touch screen', 'Voice Control'",Benzine,4 (Green),Manual,NaN,103.0,Yes,10.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,NaN,26990,NaT,"'ABS', 'Driver-side airbag', 'Electronic stabi...",1.5,NaN,Black,Cloth,24.0,1441.0,NaN,4 (Green)
13966,Sedans,Black,Sedans,85.0,"'Air conditioning', 'Automatic climate control...",3.5,3.3,3.1,NaN,4.0,1461.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...",nan,Diesel,85 g CO2/km (comb),Manual,5.0,55.0,NaN,20057.0,Renault Clio,NaT,NaN,5.0,5.0,Metallic,2.0,9100,2017-05-01,"'ABS', 'Central door lock', 'Central door lock...",NaN,NaN,Black,Cloth,NaN,NaN,2017.0,85 g CO2/km (comb)
3848,Sedans,Silver,Sedans,109.0,"'Air conditioning', 'Armrest', 'Cruise control...",4.7,4.1,3.8,Germany,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Voice Control'",Diesel,NaN,Automatic,NaN,85.0,Yes,7359.0,Audi A3,2020-09-01,109,4.0,5.0,Metallic,1.0,21450,2017-09-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Black,Cloth,NaN,NaN,2017.0,NaN
14923,Off-Road,White,Off-Road,186.0,"'Air conditioning', 'Automatic climate control'",NaN,10.0,10.0,NaN,4.0,1598.0,NaN,Euro 4,NaN,"'Bluetooth', 'CD player', 'Radio', 'USB'",nan,Benzine,NaN,Manual,6.0,77.0,NaN,101.0,Renault Duster,NaT,NaN,5.0,5.0,NaN,NaN,11900,2019-06-01,"'ABS', 'Driver-side airbag', 'Fog lights', 'Po...",NaN,NaN,NaN,NaN,12.0,NaN,2019.0,NaN
10347,Sedans,Silver,Sedans,124.0,"'Air conditioning', 'Cruise control', 'Electri...",6.9,5.3,4.4,NaN,4.0,1229.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...",nan,Benzine,NaN,Manual,5.0,51.0,NaN,NaN,Opel Corsa,NaT,NaN,3.0,5.0,Metallic,NaN,11100,2019-06-01,"'ABS', 'Central door lock', 'Daytime running l...",1.2,NaN,Black,Cloth,36.0,1088.0,2019.0,NaN
2771,Sedans,Black,Sedans,99.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.3,3.8,3.5,Italy,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Trailer hitch'",Diesel,NaN,Automatic,7.0,81.0,NaN,44000.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,1.0,17890,2016-02-01,"'ABS', 'Adaptive Cruise Control', 'Alarm syste...",1.6,NaN,Black,Cloth,12.0,1355.0,2016.0,NaN
4437,Sedans,Grey,Sedans,108.0,"'Air conditioning', 'Automatic climate control...",4.6,4.1,3.8,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...",'Alloy wheels',Diesel,4 (Green),Manual,6.0,85.0,NaN,21592.0,Audi A3,2021-05-01,108,5.0,5.0,Metallic,1.0,19950,2018-05-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Black,Part leather,12.0,NaN,2018.0,4 (Green)
9164,Sedans,Blue,Sedans,124.0,"'Air conditioning', 'Electrical side mirrors',...",6.6,5.3,4.5,Italy,4.0,1229.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'MP3', 'Radio', 'USB'",'Alloy wheels',Benzine,NaN,Manual,5.0,51.0,NaN,26927.0,Opel Corsa,NaT,NaN,5.0,5.0,Metallic,1.0,8799,2018-03-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.2,NaN,Black,Cloth,NaN,1163.0,2018.0,NaN
12381,Station wagon,Grey,Station wagon,125.0,"'Air conditioning', 'Armrest', 'Cruise control...",6.0,5.0,4.4,NaN,4.0,1598.0,front,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'Radio', ...",'Alloy wheels',Diesel,NaN,Manual,6.0,100.0,NaN,37500.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,NaN,19900,2019-04-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.6,NaN,NaN,NaN,12.0,1560.0,2019.0,NaN
14609,Compact,Black,Compact,104.0,"'Air conditioning', 'Automatic climate control...",4.5,4.0,3.5,Italy,4.0,1461.0,front,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Catalytic Converter', 'Touch screen', 'Voice ...",Diesel,NaN,Manual,5.0,55.0,NaN,17000.0,Renault Clio,NaT,NaN,5.0,5.0,NaN,1.0,10490,2018-05-01,"'ABS', 'Central door lock', 'Central door lock...",NaN,NaN,Black,Cloth,NaN,1162.0,2018.0,NaN
2519,Sedans,White,Sedans,105.0,"'Air conditioning', 'Automatic climate control...",5.8,4.6,3.9,NaN,3.0,999.0,NaN,NaN,NaN,'Radio','Alloy wheels',Benzine,NaN,Manual,5.0,70.0,NaN,9.0,Audi A1,NaT,NaN,5.0,5.0,Metallic,NaN,22500,2019-05-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,NaN,NaN,24.0,1630.0,2019.0,NaN
4511,Sedans,Grey,Sedans,107.0,"'Air conditioning', 'Automatic climate control...",5.6,4.7,4.2,Germany,3.0,999.0,front,NaN,NaN,'Sound system','Alloy wheels',Benzine,Euro 6,Automatic,NaN,85.0,Yes,15692.0,Audi A3,NaT,NaN,4.0,5.0,Metallic,1.0,23530,2018-02-01,"'ABS', 'Central door lock', 'Central door lock...",1.0,NaN,Black,Cloth,12.0,1785.0,2018.0,Euro 6
13632,Station wagon,White,Station wagon,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,Diesel,NaN,Manual,NaN,63.0,NaN,135050.0,Renault Clio,NaT,NaN,NaN,NaN,NaN,NaN,7900,2016-05-01,nan,1.5,NaN,NaN,NaN,12.0,NaN,2016.0,NaN
12164,Station wagon,Grey,Station wagon,138.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.6,6.1,5.2,Germany,NaN,1490.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Roof rack', 'Sport seats', 'T...",Benzine,NaN,Manual,NaN,121.0,NaN,29143.0,Opel Insignia,2019-02-01,138,4.0,5.0,Metallic,1.0,21450,2018-02-01,"'ABS', 'Adaptive headlights', 'Central door lo...",1.5,NaN,Black,Part leather,NaN,NaN,2018.0,NaN
13524,Sedans,White,Sedans,NaN,"'Air conditioning', 'Automatic climate control...",3.5,3.3,3.1,NaN,NaN,1461.0,front,Euro 6,NaN,nan,nan,Diesel,NaN,Manual,5.0,55.0,NaN,51304.0,Renault Clio,NaT,NaN,5.0,2.0,Uni/basic,NaN,8150,2017-06-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",1.5,NaN,NaN,NaN,12.0,NaN,2017.0,NaN
14822,Sedans,Black,Sedans,113.0,"'Air conditioning', 'Cruise control', 'Electri...",6.3,5.0,4.2,NaN,3.0,898.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...",nan,Benzine,113 g CO2/km (comb),Manual,5.0,56.0,NaN,10.0,Renault Clio,NaT,NaN,5.0,5.0,Metallic,1.0,10980,2019-01-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Black,Cloth,NaN,NaN,2019.0,113 g CO2/km (comb)
5307,Sedans,Grey,Sedans,118.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.8,5.2,4.8,European Union,NaN,999.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Sport suspension', 'Voice Con...",Benzine,Euro 6d-TEMP,Automatic,NaN,85.0,Yes,10.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,23988,NaT,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,NaN,Cloth,NaN,1280.0,NaN,Euro 6d-TEMP
12020,Station wagon,Grey,Station wagon,NaN,"'Air conditioning', 'Armrest', 'Automatic clim...",NaN,NaN,NaN,NaN,NaN,1598.0,front,NaN,NaN,"'Bluetooth', 'On-board computer'","'Alloy wheels', 'Roof rack'",Diesel,NaN,Automatic,NaN,100.0,NaN,24628.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,NaN,22900,2018-02-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Grey,Cloth,NaN,NaN,2018.0,NaN
11246,Station wagon,Grey,Station wagon,141.0,"'Air conditioning', 'Automatic climate control...",7.6,6.2,5.4,Germany,NaN,1490.0,NaN,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Roof rack', 'Sport seats', 'T...",Benzine,141 g CO2/km (comb),Automatic,NaN,121.0,NaN,29100.0,Opel Insignia,NaT,NaN,4.0,5.0,Metallic,NaN,21690,2018-06-01,"'ABS', 'Central door lock', 'Daytime running l...",1.5,NaN,Black,Part leather,NaN,NaN,2018.0,141 g CO2/km (comb)
14685,Compact,Red,Compact,113.0,"'Air conditioning', 'Cruise control', 'Electri...",6.3,5.0,4.2,European Union,NaN,898.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Touch screen', 'Voice Control'",Benzine,NaN,Manual,NaN,55.0,NaN,7.0,Renault Clio,NaT,NaN,4.0,5.0,Metallic,NaN,11486,2019-04-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Black,Cloth,NaN,NaN,2019.0,NaN
6899,Compact,Grey,Compact,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,Benzine,NaN,Manual,5.0,77.0,NaN,45073.0,Opel Astra,NaT,NaN,5.0,5.0,NaN,NaN,12500,2017-01-01,nan,1.0,NaN,NaN,NaN,12.0,NaN,2017.0,NaN
6662,Station wagon,Brown,Station wagon,122.0,"'Air conditioning', 'Armrest', 'Cruise control...",5.8,4.6,3.9,Germany,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Roof rack', 'Touch screen', '...",Diesel,4 (Green),Automatic,6.0,100.0,Yes,18488.0,Opel Astra,NaT,NaN,5.0,5.0,Metallic,1.0,17470,2018-02-01,"'ABS', 'Central door lock with remote control'...",1.6,NaN,Black,Cloth,NaN,1403.0,2018.0,4 (Green)
121,Compact,White,Compact,102.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.4,4.4,3.8,NaN,NaN,999.0,front,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Voice Control'",Benzine,NaN,Automatic,7.0,70.0,NaN,20306.0,Audi A1,2021-09-01,102,5.0,4.0,Metallic,1.0,18750,2018-09-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Black,Cloth,NaN,1165.0,2018.0,NaN
7887,Station wagon,NaN,Station wagon,135.0,"'Air conditioning', 'Armrest', 'Cruise control...",7.4,5.8,4.9,European Union,4.0,1399.0,front,Euro 6,Green,'Radio',nan,Benzine,NaN,Automatic,6.0,110.0,NaN,1.0,Opel Astra,NaT,NaN,5.0,5.0,Metallic,NaN,19934,NaT,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,NaN,Cloth,NaN,NaN,NaN,NaN
11993,Sedans,Grey,Sedans,147.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.1,5.6,4.7,Germany,4.0,1956.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Catalytic Converter', 'Ski ba...",Diesel,5 (Blue),Automatic,8.0,125.0,NaN,22950.0,Opel Insignia,2021-06-01,147,5.0,5.0,Metallic,1.0,23590,2018-06-01,"'ABS', 'Adaptive headlights', 'Blind spot moni...",2.0,NaN,Black,Part leather,24.0,1613.0,2018.0,5 (Blue)
11077,Station wagon,White,Station wagon,109.0,"'Air conditioning', 'Cruise control', 'Electri...",4.8,4.1,3.7,NaN,4.0,1598.0,NaN,Euro 6,NaN,'On-board computer',"'Alloy wheels', 'Roof rack'",Diesel,NaN,Manual,6.0,100.0,NaN,89000.0,Opel Insignia,NaT,NaN,5.0,5.0,NaN,NaN,12650,2016-05-01,"'ABS', 'Central door lock', 'Daytime running l...",1.6,NaN,NaN,NaN,12.0,2400.0,2016.0,NaN
239,Compact,Blue,Compact,113.0,"'Air conditioning', 'Armrest', 'Automatic clim...",6.2,4.9,4.2,NaN,4.0,1395.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...",'Alloy wheels',Benzine,4 (Green),Automatic,7.0,92.0,Yes,40800.0,Audi A1,NaT,NaN,4.0,5.0,Metallic,1.0,16480,2016-05-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,Black,Cloth,NaN,1180.0,2016.0,4 (Green)

In [630]:
df_21 = df_20.drop('full_serivce', axis = 1)

In [631]:
df_22 = df_21[sorted(df_21.columns)]

In [632]:
df_22.sample(50)

,body,body_color,body_type,co2_emission,comfort_and_convenience,consumption_city,consumption_comb,consumption_country,country_version,cylinders,displacement,drive_chain,emission_class,emission_label,entertainment_and_media,extras,fuel,full_service,gearing_type,gears,hp (kW),inspection_new,km,make_model,next_inspection_date,next_inspection_emission,nr_of_doors,nr_of_seats,paint_type,prev_owner,price,registration,safety_and_security,sd_disp,type_new_used,upholstery_color,upholstery_type,warranty_1,weight,year_registration
13148,Sedans,Black,Sedans,92.0,"'Air conditioning', 'Cruise control', 'Electri...",3.9,3.5,3.3,NaN,4.0,1461.0,front,Euro 6,NaN,"'Bluetooth', 'MP3', 'On-board computer', 'Radi...",'Alloy wheels',Diesel,NaN,Automatic,6.0,66.0,NaN,3500.0,Renault Clio,NaT,NaN,5.0,5.0,NaN,1.0,15200,NaT,"'ABS', 'Central door lock', 'Driver-side airba...",NaN,NaN,NaN,NaN,NaN,1152.0,NaN
14511,Sedans,Black,Sedans,113.0,"'Air conditioning', 'Cruise control', 'Electri...",6.3,5.0,4.2,Germany,3.0,898.0,NaN,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'On-board...",nan,Benzine,NaN,Manual,5.0,56.0,NaN,2200.0,Renault Clio,2021-11-01,113,5.0,5.0,Metallic,1.0,10798,2018-11-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Grey,Cloth,NaN,NaN,2018.0
4562,Sedans,Blue,Sedans,107.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.3,4.0,3.9,Spain,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Sport suspension', 'Voice Con...",Diesel,NaN,Automatic,7.0,85.0,NaN,21514.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,1.0,23490,2018-07-01,"'ABS', 'Driver drowsiness detection', 'Driver-...",1.6,NaN,Grey,Part leather,24.0,1285.0,2018.0
12106,Sedans,Blue,Sedans,136.0,"'Air conditioning', 'Armrest', 'Automatic clim...",6.7,5.2,4.3,Germany,NaN,1956.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Sport seats', 'Touch screen'",Diesel,4 (Green),Manual,NaN,125.0,NaN,13900.0,Opel Insignia,2021-02-01,136,4.0,5.0,Metallic,1.0,20990,2018-02-01,"'ABS', 'Blind spot monitor', 'Central door loc...",NaN,NaN,Black,Full leather,NaN,NaN,2018.0
12466,Sedans,White,Sedans,150.0,"'Air conditioning', 'Armrest', 'Automatic clim...",8.2,6.4,5.4,NaN,NaN,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Shift paddles', 'Sport seats'...",Benzine,Euro 6,Automatic,NaN,147.0,NaN,5000.0,Opel Insignia,2022-02-01,150,4.0,5.0,Metallic,1.0,37490,2019-02-01,"'ABS', 'Adaptive headlights', 'Alarm system', ...",NaN,NaN,Black,Full leather,NaN,NaN,2019.0
12453,Sedans,Silver,Sedans,147.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.1,5.6,4.7,Germany,NaN,1956.0,NaN,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Shift paddles', 'Sport package'",Diesel,NaN,Automatic,8.0,125.0,Yes,4500.0,Opel Insignia,2022-06-01,147,5.0,5.0,Metallic,1.0,38690,2019-06-01,"'ABS', 'Adaptive Cruise Control', 'Adaptive he...",NaN,NaN,Black,Full leather,72.0,NaN,2019.0
13525,Transporter,White,Transporter,NaN,"'Air conditioning', 'Cruise control', 'Electri...",NaN,NaN,NaN,NaN,NaN,1461.0,NaN,NaN,NaN,"'Bluetooth', 'On-board computer'",'Alloy wheels',Diesel,NaN,Manual,NaN,56.0,NaN,44023.0,Renault Clio,NaT,NaN,5.0,2.0,NaN,NaN,8190,2016-12-01,"'ABS', 'Central door lock', 'Daytime running l...",1.5,NaN,NaN,NaN,6.0,NaN,2016.0
10486,Station wagon,White,Station wagon,109.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.9,4.1,3.7,Germany,NaN,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'CD player', 'Digital radio', 'Ha...","'Alloy wheels', 'Roof rack', 'Ski bag', 'Sport...",Diesel,4 (Green),Manual,NaN,88.0,Yes,159000.0,Opel Insignia,NaT,NaN,4.0,5.0,Metallic,1.0,9690,2016-06-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",NaN,NaN,Black,NaN,NaN,NaN,2016.0
8883,Compact,Black,Compact,110.0,"'Air conditioning', 'Cruise control', 'Electri...",5.8,4.7,4.0,Germany,NaN,1398.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Touch screen', 'Voice Control'",Benzine,4 (Green),Semi-automatic,NaN,66.0,Yes,9900.0,Opel Corsa,NaT,NaN,2.0,5.0,Metallic,1.0,12990,2018-01-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Black,Cloth,NaN,NaN,2018.0
4384,Sedans,White,Sedans,108.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.6,4.1,3.8,Italy,NaN,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...",'Alloy wheels',Diesel,NaN,Manual,6.0,85.0,NaN,37592.0,Audi A3,NaT,NaN,5.0,5.0,NaN,0.0,19800,2018-03-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.6,NaN,Grey,Cloth,NaN,1260.0,2018.0
2081,Compact,Black,Compact,110.0,"'Air conditioning', 'Automatic climate control...",5.9,4.8,4.2,NaN,NaN,999.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Voice Control'",Benzine,Euro 6d-TEMP,Automatic,NaN,85.0,Yes,NaN,Audi A1,NaT,NaN,4.0,5.0,Metallic,NaN,25880,NaT,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Black,Cloth,NaN,1200.0,NaN
11654,Station wagon,Silver,Station wagon,112.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.0,4.3,3.8,NaN,NaN,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Roof rack', 'Touch screen'",Diesel,NaN,Manual,NaN,81.0,NaN,26000.0,Opel Insignia,2020-10-01,112,4.0,5.0,Metallic,1.0,17490,2017-10-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Black,Cloth,NaN,NaN,2017.0
10403,Compact,White,Compact,NaN,nan,NaN,NaN,NaN,NaN,4.0,1400.0,NaN,NaN,NaN,nan,nan,Benzine,NaN,Manual,6.0,74.0,NaN,1.0,Opel Corsa,NaT,NaN,5.0,5.0,NaN,NaN,11200,2019-11-01,nan,NaN,NaN,NaN,NaN,4.0,NaN,2019.0
14606,Station wagon,Grey,Station wagon,85.0,"'Air conditioning', 'Cruise control', 'Electri...",3.7,3.3,3.1,NaN,NaN,1461.0,front,Euro 6,NaN,"'Bluetooth', 'MP3', 'On-board computer', 'Radi...",'Roof rack',Diesel,NaN,Manual,5.0,66.0,NaN,27500.0,Renault Clio,NaT,NaN,5.0,5.0,NaN,NaN,10450,2018-04-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.5,NaN,NaN,Cloth,NaN,1119.0,2018.0
15032,Van,Grey,Van,120.0,"'Air conditioning', 'Automatic climate control...",5.0,4.6,4.4,NaN,4.0,1598.0,NaN,Euro 6,NaN,'Sound system','Alloy wheels',Diesel,NaN,Automatic,6.0,118.0,NaN,49785.0,Renault Espace,NaT,NaN,5.0,5.0,Metallic,NaN,25000,2017-02-01,"'ABS', 'Central door lock with remote control'...",NaN,NaN,NaN,Full leather,NaN,1659.0,2017.0
4641,Sedans,Grey,Sedans,NaN,"'Air conditioning', 'Automatic climate control...",NaN,NaN,NaN,NaN,NaN,1598.0,front,Euro 6,NaN,'Bluetooth','Alloy wheels',Diesel,NaN,Automatic,NaN,85.0,NaN,22420.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,1.0,22999,2018-03-01,"'ABS', 'Central door lock', 'Central door lock...",1.6,NaN,NaN,NaN,NaN,NaN,2018.0
1833,Compact,Blue,Compact,97.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.0,4.2,3.7,NaN,NaN,999.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Catalytic Converter', 'Sport ...",Benzine,4 (Green),Manual,NaN,60.0,NaN,9220.0,Audi A1,2021-02-01,97,4.0,5.0,Metallic,1.0,16899,2018-02-01,"'ABS', 'Central door lock', 'Daytime running l...",1.0,NaN,NaN,Cloth,NaN,NaN,2018.0
5470,Sedans,Grey,Sedans,125.0,"'Air conditioning', 'Automatic climate control...",6.9,5.5,4.7,European Union,NaN,1498.0,front,Euro 6,NaN,"'On-board computer', 'Radio'",'Sport suspension',Benzine,NaN,Manual,6.0,110.0,Yes,10.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,24688,NaT,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,NaN,Cloth,NaN,1325.0,NaN
6031,Sedans,White,Sedans,119.0,"'Air conditioning', 'Armrest', 'Cruise control...",5.7,4.5,3.8,Germany,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Digital radio', 'Ha...","'Catalytic Converter', 'Voice Control'",Diesel,Euro 6,Automatic,6.0,100.0,NaN,100000.0,Opel Astra,NaT,NaN,5.0,5.0,NaN,1.0,11490,2016-04-01,"'ABS', 'Alarm system', 'Central door lock', 'C...",NaN,NaN,Black,Cloth,NaN,1350.0,2016.0
7645,Station wagon,Black,Station wagon,130.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.3,5.7,4.7,Germany,4.0,1399.0,front,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Roof rack', 'Touch screen', '...",Benzine,NaN,Automatic,6.0,110.0,Yes,10.0,Opel Astra,2021-06-01,NaN,5.0,5.0,Metallic,NaN,29750,NaT,"'ABS', 'Adaptive headlights', 'Central door lo...",1.4,NaN,Black,Full leather,36.0,1350.0,NaN
3202,Station wagon,White,Station wagon,99.0,"'Air conditioning', 'Electrical side mirrors',...",4.5,3.8,3.4,Germany,NaN,1598.0,NaN,Euro 6,NaN,"'CD player', 'On-board computer', 'Radio'","'Alloy wheels', 'Trailer hitch'",Diesel,Euro 6,Manual,NaN,81.0,Yes,87305.0,Audi A3,NaT,NaN,4.0,5.0,Metallic,1.0,13590,2016-02-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",NaN,NaN,Black,Cloth,NaN,NaN,2016.0
12254,Station wagon,Silver,Station wagon,141.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.7,6.2,5.3,Germany,4.0,1490.0,front,NaN,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Catalytic Converter', 'Roof r...",Benzine,Euro 6,Manual,6.0,121.0,Yes,28800.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,20780,2018-01-01,"'ABS', 'Adaptive headlights', 'Central door lo...",1.5,NaN,Black,Part leather,60.0,1522.0,2018.0
13618,Sedans,White,Sedans,85.0,"'Cruise control', 'Electrical side mirrors', '...",3.5,3.3,3.1,NaN,4.0,1461.0,front,Euro 6,NaN,"'On-board computer', 'Radio'",nan,Diesel,NaN,Manual,5.0,55.0,NaN,19282.0,Renault Clio,NaT,NaN,5.0,2.0,NaN,NaN,7900,2017-06-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.5,NaN,NaN,NaN,24.0,1209.0,2017.0
5043,Sedans,Silver,Sedans,103.0,"'Cruise control', 'Multi-function steering whe...",4.1,3.9,3.7,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'On-board computer', 'Radio'",'Alloy wheels',Diesel,NaN,Automatic,7.0,85.0,NaN,NaN,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,27300,2019-05-01,"'ABS', 'Central door lock', 'Driver-side airba...",NaN,NaN,NaN,NaN,NaN,1360.0,2019.0
4693,Sedans,White,Sedans,103.0,"'Air conditioning', 'Automatic climate control...",4.0,4.0,4.0,NaN,4.0,1598.0,front,Euro 6,NaN,'Bluetooth','Alloy wheels',Diesel,NaN,Automatic,NaN,85.0,NaN,16426.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,22500,2018-05-01,"'ABS', 'Central door lock', 'Central door lock...",1.6,NaN,Grey,Other,NaN,NaN,2018.0
5104,Sedans,Black,Sedans,117.0,"'Air conditioning', 'Power windows'",5.8,5.1,4.7,NaN,3.0,999.0,front,Euro 6,NaN,'Radio','Alloy wheels',Benzine,NaN,Automatic,NaN,85.0,NaN,NaN,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,26700,NaT,"'Central door lock', 'Driver-side airbag', 'Im...",1.0,NaN,NaN,NaN,NaN,NaN,NaN
14445,Sedans,Black,Sedans,135.0,"'Air conditioning', 'Automatic climate control...",7.6,5.9,5.1,Germany,NaN,1618.0,NaN,Euro 6,Green,"'Bluetooth', 'Digital radio', 'Hands-free equi...","'Alloy wheels', 'Shift paddles', 'Sport suspen...",Benzine,NaN,Automatic,6.0,162.0,NaN,10.0,Renault Clio,2021-08-01,135,5.0,5.0,Metallic,1.0,23021,2018-08-01,"'ABS', 'Adaptive headlights', 'Central door lo...",NaN,NaN,Black,Full leather,NaN,1165.0,2018.0
2738,Compact,Black,Compact,99.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.4,3.9,3.6,Netherlands,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Hands-free equipmen...",'Alloy wheels',Diesel,99 g CO2/km (comb),Automatic,7.0,82.0,NaN,108435.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,17444,2016-06-01,"'ABS', 'Adaptive headlights', 'Alarm system', ...",1.6,NaN,Black,Cloth,3.0,1255.0,2016.0
6666,Sedans,Green,Sedans,116.0,"'Air conditioning', 'Cruise control', 'Electri...",6.2,4.9,4.2,Germany,4.0,1399.0,front,Euro 6,Green,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...",nan,Benzine,NaN,Automatic,6.0,110.0,NaN,9900.0,Opel Astra,NaT,NaN,5.0,5.0,Metallic,1.0,17430,2018-04-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,Black,NaN,NaN,1278.0,2018.0
15012,Van,Grey,Van,120.0,"'Cruise control', 'Navigation system'",5.0,4.6,4.4,NaN,NaN,1598.0,NaN,NaN,NaN,nan,nan,Diesel,NaN,Automatic,NaN,118.0,NaN,1935.0,Renault Espace,NaT,NaN,5.0,7.0,Metallic,NaN,26990,2018-06-01,"'ABS', 'Driver-side airbag', 'Passenger-side a...",NaN,NaN,NaN,NaN,NaN,NaN,2018.0
13216,Sedans,Blue,Sedans,120.0,"'Air conditioning', 'Automatic climate control...",6.8,5.4,4.5,NaN,4.0,1197.0,NaN,Euro 6,NaN,"'Bluetooth', 'MP3', 'USB'",'Alloy wheels',Benzine,NaN,Automatic,6.0,88.0,NaN,36500.0,Renault Clio,NaT,NaN,5.0,5.0,Metallic,1.0,14900,2017-03-01,"'ABS', 'Central door lock with remote control'...",NaN,NaN,NaN,NaN,NaN,1090.0,2017.0
7331,Sedans,Black,Sedans,128.0,"'Air conditioning', 'Armrest', 'Cruise control...",7.3,5.5,4.5,Germany,NaN,1399.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Roof rack', 'Sport seats', 'T...",Benzine,4 (Green),Manual,NaN,110.0,Yes,25120.0,Opel Astra,NaT,NaN,4.0,5.0,Metallic,1.0,15250,2018-02-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,Black,Cloth,NaN,NaN,2018.0
13577,Compact,White,Compact,NaN,nan,4.0,3.0,3.0,NaN,4.0,1461.0,front,NaN,NaN,nan,nan,Diesel,NaN,Manual,5.0,55.0,NaN,141600.0,Renault Clio,NaT,NaN,5.0,5.0,Metallic,NaN,7970,2016-06-01,nan,1.5,NaN,NaN,NaN,12.0,1071.0,2016.0
11435,Sedans,Grey,Sedans,134.0,"'Air conditioning', 'Armrest', 'Automatic clim...",6.1,5.5,4.5,Germany,NaN,1598.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Sport package', 'Sport seats'...",Diesel,4 (Green),Automatic,NaN,100.0,Yes,24900.0,Opel Insignia,NaT,NaN,4.0,5.0,Metallic,1.0,19750,2017-09-01,"'ABS', 'Adaptive headlights', 'Blind spot moni...",NaN,NaN,Black,Part leather,NaN,NaN,2017.0
7283,Sedans,Silver,Sedans,124.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.1,5.4,4.4,Germany,4.0,1399.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'MP3', 'O...","'Alloy wheels', 'Catalytic Converter', 'Touch ...",Benzine,4 (Green),Manual,6.0,92.0,Yes,25953.0,Opel Astra,NaT,NaN,5.0,5.0,Metallic,1.0,15440,2018-02-01,"'ABS', 'Central door lock with remote control'...",1.4,NaN,Black,Cloth,12.0,1278.0,2018.0
199,Sedans,Blue,Sedans,102.0,"'Air conditioning', 'Automatic climate control...",5.4,4.4,3.8,NaN,3.0,999.0,front,Euro 6,NaN,'Radio','Alloy wheels',Benzine,NaN,Automatic,7.0,70.0,NaN,23357.0,Audi A1,NaT,NaN,5.0,4.0,Metallic,1.0,17900,2016-09-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.0,NaN,Black,Full leather,NaN,1580.0,2016.0
1362,Compact,White,Compact,98.0,"'Air conditioning', 'Automatic climate control...",5.0,4.3,3.7,NaN,3.0,999.0,NaN,Euro 6,NaN,'Radio','Alloy wheels',Benzine,NaN,Manual,5.0,70.0,NaN,24000.0,Audi A1,NaT,NaN,3.0,4.0,Metallic,NaN,15000,2017-09-01,"'ABS', 'Central door lock', 'Daytime running l...",1.0,NaN,NaN,NaN,24.0,1485.0,2017.0
7867,Station wagon,NaN,Station wagon,126.0,"'Air conditioning', 'Armrest', 'Automatic clim...",6.1,4.8,4.1,Netherlands,4.0,1598.0,front,Euro 6,Green,"'Bluetooth', 'Digital radio', 'On-board comput...","'Catalytic Converter', 'Roof rack', 'Touch scr...",Diesel,NaN,Automatic,6.0,100.0,Yes,NaN,Opel Astra,NaT,NaN,5.0,5.0,NaN,NaN,22655,NaT,"'Central door lock', 'Daytime running lights',...",1.6,NaN,Other,Cloth,NaN,1456.0,NaN
8014,Station wagon,Brown,Station wagon,107.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.5,4.6,4.1,Austria,3.0,999.0,NaN,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Catalytic Converter', 'Roof r...",Benzine,NaN,Manual,5.0,77.0,NaN,8.0,Opel Astra,NaT,NaN,5.0,5.0,Metallic,1.0,16772,2019-01-01,"'ABS', 'Central door lock', 'Central door lock...",NaN,NaN,Black,Cloth,NaN,1288.0,2019.0
7686,Sedans,Grey,Sedans,134.0,"'Air conditioning', 'Armrest', 'Automatic clim...",7.4,5.9,5.0,Germany,NaN,1399.0,NaN,NaN,NaN,"'Bluetooth', 'Digital radio', 'Hands-free equi...",'Alloy wheels',Benzine,Euro 6d-TEMP,Automatic,6.0,110.0,NaN,5990.0,Opel Astra,2022-03-01,NaN,5.0,5.0,Metallic,1.0,26990,2019-03-01,"'ABS', 'Adaptive headlights', 'Central door lo...",1.4,NaN,NaN,Cloth,60.0,NaN,2019.0
8146,Sedans,Silver,Sedans,NaN,"'Air conditioning', 'Armrest', 'Automatic clim...",NaN,NaN,NaN,NaN,NaN,999.0,front,Euro 6,NaN,"'Bluetooth', 'On-board computer'","'Alloy wheels', 'Sport seats'",Benzine,Euro 6,Manual,5.0,66.0,NaN,3.0,Opel Astra,NaT,NaN,5.0,5.0,Metallic,NaN,18990,2019-03-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,NaN,Cloth,NaN,NaN,2019.0
9078,Sedans,Grey,Sedans,143.0,"'Air conditioning', 'Cruise control', 'Electri...",7.8,6.3,5.4,NaN,4.0,1398.0,front,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...",nan,Benzine,143 g CO2/km (comb),Automatic,6.0,66.0,NaN,4000.0,Opel Corsa,2021-06-01,NaN,5.0,5.0,Metallic,1.0,13990,2018-06-01,"'ABS', 'Central door lock', 'Daytime running l...",1.4,NaN,NaN,Cloth,NaN,1199.0,2018.0
4461,Sedans,Black,Sedans,107.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.7,4.0,3.6,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'CD player', 'Digital radio', 'Ha...","'Alloy wheels', 'Sport package', 'Sport seats'...",Diesel,NaN,Manual,6.0,85.0,NaN,16000.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,NaN,19900,2018-05-01,"'ABS', 'Central door lock', 'Driver drowsiness...",1.6,NaN,Black,Part leather,36.0,1260.0,2018.0
5640,Sedans,Grey,Sedans,108.0,"'Air conditioning', 'Automatic climate control...",5.7,4.7,4.1,European Union,NaN,999.0,NaN,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Alloy wheels', 'Roof rack'",Benzine,NaN,Manual,NaN,85.0,NaN,NaN,Audi A3,NaT,NaN,4.0,NaN,NaN,NaN,22400,NaT,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,Black,NaN,NaN,NaN,NaN
11059,Station wagon,Silver,Station wagon,104.0,"'Air conditioning', 'Armrest', 'Automatic clim...",4.6,3.9,3.6,NaN,4.0,1598.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Catalytic Converter', 'Roof rack', 'Touch scr...",Diesel,4 (Green),Manual,6.0,100.0,Yes,112218.0,Opel Insignia,NaT,NaN,5.0,5.0,Metallic,1.0,12480,2017-01-01,"'ABS', 'Blind spot monitor', 'Central door loc...",1.6,NaN,Black,Cloth,12.0,NaN,2017.0
6402,Station wagon,White,Station wagon,98.0,"'Air conditioning', 'Armrest', 'Cruise control...",3.9,3.7,3.5,NaN,NaN,1598.0,NaN,Euro 6,Green,"'Bluetooth', 'CD player', 'Hands-free equipmen...","'Roof rack', 'Trailer hitch'",Diesel,98 g CO2/km (comb),Manual,6.0,81.0,NaN,165000.0,Opel Astra,NaT,NaN,5.0,5.0,Metallic,1.0,6990,2016-01-01,"'ABS', 'Central door lock', 'Daytime running l...",NaN,NaN,NaN,NaN,NaN,1518.0,2016.0
470,Sedans,Blue,Sedans,103.0,"'Air conditioning', 'Automatic climate control...",4.2,3.7,3.4,NaN,3.0,1422.0,front,NaN,NaN,"'Bluetooth', 'USB'",'Alloy wheels',Diesel,NaN,Manual,5.0,67.0,NaN,18371.0,Audi A1,2019-04-01,NaN,5.0,4.0,NaN,NaN,13890,2017-05-01,'Electronic stability control',1.4,NaN,NaN,NaN,12.0,1195.0,2017.0
14188,Station wagon,Silver,Station wagon,85.0,"'Air conditioning', 'Armrest', 'Automatic clim...",3.7,3.3,3.1,NaN,4.0,1461.0,NaN,Euro 6,NaN,"'Bluetooth', 'On-board computer', 'Radio'",'Alloy wheels',Diesel,NaN,Manual,5.0,66.0,NaN,40000.0,Renault Clio,NaT,NaN,5.0,5.0,NaN,NaN,9800,2017-03-01,"'ABS', 'Alarm system', 'Central door lock', 'D...",NaN,NaN,NaN,NaN,NaN,1260.0,2017.0
13621,Sedans,White,Sedans,85.0,"'Cruise control', 'Electrical side mirrors', '...",3.5,3.3,3.1,NaN,4.0,1461.0,front,Euro 6,NaN,"'On-board computer', 'Radio'",nan,Diesel,NaN,Manual,5.0,55.0,NaN,19282.0,Renault Clio,NaT,NaN,5.0,2.0,NaN,NaN,7900,2017-06-01,"'ABS', 'Central door lock', 'Driver-side airba...",1.5,NaN,NaN,NaN,24.0,1209.0,2017.0
4983,Sedans,Grey,Sedans,114.0,"'Air conditioning', 'Armrest', 'Automatic clim...",5.8,4.8,4.2,NaN,3.0,999.0,front,Euro 6,NaN,"'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Sport seats'",Benzine,4 (Green),Manual,6.0,85.0,Yes,4500.0,Audi A3,NaT,NaN,5.0,5.0,Metallic,1.0,21680,2018-01-01,"'ABS', 'Central door lock', 'Daytime running l...",1.0,NaN,Black,Cloth,36.0,1255.0,2018.0

In [633]:
df_22.to_csv('df_22_cleaned.csv', index = False)

In [634]:
df_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   body                      15859 non-null  object
 1   body_color                15322 non-null  object
 2   body_type                 15859 non-null  object
 3   co2_emission              13483 non-null  float64
 4   comfort_and_convenience   15919 non-null  object
 5   consumption_city          13483 non-null  float64
 6   consumption_comb          13886 non-null  float64
 7   consumption_country       13543 non-null  float64
 8   country_version           7586 non-null   object
 9   cylinders                 10239 non-null  float64
 10  displacement              15423 non-null  float64
 11  drive_chain               9061 non-null   object
 12  emission_class            12291 non-null  object
 13  emission_label            3945 non-null   object
 14  entertainment_and_media   15919 non-null  object
 15  extras                    15919 non-null  object
 16  fuel                      15919 non-null  object
 17  full_service              6230 non-null   object
 18  gearing_type              15919 non-null  object
 19  gears                     11207 non-null  float64
 20  hp (kW)                   15831 non-null  float64
 21  inspection_new            3932 non-null   object
 22  km                        14895 non-null  float64
 23  make_model                15919 non-null  object
 24  next_inspection_date      3535 non-null   datetime64[ns]
 25  next_inspection_emission  2344 non-null   object
 26  nr_of_doors               15707 non-null  float64
 27  nr_of_seats               14942 non-null  float64
 28  paint_type                10147 non-null  object
 29  prev_owner                9279 non-null   float64
 30  price                     15919 non-null  int64
 31  registration              14322 non-null  datetime64[ns]
 32  safety_and_security       15919 non-null  object
 33  sd_disp                   10851 non-null  float64
 34  type_new_used             0 non-null      float64
 35  upholstery_color          10841 non-null  object
 36  upholstery_type           11416 non-null  object
 37  warranty_1                4853 non-null   float64
 38  weight                    8945 non-null   float64
 39  year_registration         14322 non-null  float64
dtypes: datetime64[ns](2), float64(17), int64(1), object(20)
memory usage: 4.9+ MB

In [635]:
df_22.shape

(15919, 40)